Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Disable outlier detection regression tests.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Update CRDS regtest.
  romancal/regtest/test_wfi_flat_field.py
Labels: regression_testing, Wide Field Instrument (WFI)

rcal-457 Add test for spectral preview files
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

fix docs
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-457 changes to make ruff happy
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-687 Initial code for the high level pipeline (#980)
  CHANGES.rst
  romancal/pipeline/__init__.py
  romancal/pipeline/highlevel_pipeline.py
  romancal/stpipe/integration.py
  romancal/stpipe/utilities.py
Labels: stpipe, pipeline

rcal-457 Add test for imaging preview files
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Truncate dark to the appropriate number of resultants.
  romancal/dark_current/dark_current_step.py
Labels: Dark Current

rcal-457 Add test for spectral preview files (#1021)
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Update photutils dependency to released version.
  pyproject.toml
Labels: dependencies

Update to 1.10.
  pyproject.toml
Labels: dependencies

Fix the pollution of stdout and stderr by ddtrace
  pyproject.toml
  romancal/stpipe/utilities.py
Labels: dependencies, stpipe

Update changes
  CHANGES.rst
Labels: none

Update jenkins workflows to not introduce color and unicode
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

add rtb data for DMS367
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

replace image/uneven data with INS provided
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

add rtb data for DMS363
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

use rtb data for dms366
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

change the full spectrum to a completely different file
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

rename inputs to be more generic/obvious
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

use actual rtb data for dms362
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

move decorator to library
  romancal/lib/dms.py
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

add step completeness check
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

remove extra lines from origin merge
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

add spectral data and incorporate parametrization
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

use darkcurrent as a starting point and add test ids
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

Refactor such that `metrics_logger` is only called once per requirement
  romancal/lib/dms.py
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

add science verification
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

encorporate the metrics logger into the local logger
  romancal/lib/dms.py
Labels: none

added test for model correctness
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

add test for rampfit suffix
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

change back to the dqinit file
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

create local metrics logger
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

add test for asdf type
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

update changelog
  CHANGES.rst
Labels: none

add truncation check for the truncated tests
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

make tracebacks complete for regression messaging
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

test for uneven ramp existing
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

add dms280 requirements to existing test
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

initial logging added
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting
