Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

add documentation for static preview script (#1046)
  .gitattributes
  .readthedocs.yaml
  CHANGES.rst
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
  docs/images/r0000501001001001001_01101_0001_WFI01_cal.png
  docs/images/r0000501001001001001_01101_0001_WFI01_cal_thumb.png
  docs/index.rst
  docs/roman/associations/graphics/generator_flow_concept.png
  docs/roman/associations/graphics/generator_list_processing.png
  docs/roman/associations/graphics/level3_rule_inheritance.png
  docs/roman/associations/graphics/overview.png
  docs/roman/associations/graphics/overview_classes.png
  docs/roman/associations/graphics/rule_sets.png
  docs/roman/associations/graphics/rule_to_association.png
  docs/roman/associations/graphics/workflow-generic.png
  docs/roman/associations/graphics/workflow-wfss.png
  docs/roman/pipeline_static_preview.rst
Labels: documentation, associations, pipeline

add instructions to clone to install Git LFS in the repository
  README.md
Labels: documentation

Fix for the filename not matching
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

Hotfix for regression tests broken by filename changes (#1050)
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

remove gitattributes
  .gitattributes
Labels: none

shrink example image
  docs/images/r0000501001001001001_01101_0001_WFI01_cal.png
Labels: documentation

change usage example to indicate reduced image size
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

remove LFS tracking from `.gitattributes` (#1051)
  .gitattributes
  docs/images/r0000501001001001001_01101_0001_WFI01_cal.png
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

More updates do docs and methods.
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
Labels: documentation

Add changes file entry.
  CHANGES.rst
Labels: none

Fix spec rendering.
  docs/conf.py
Labels: documentation

Add docs for outlier detection step.
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/description.rst
  docs/roman/outlier_detection/index.rst
  docs/roman/outlier_detection/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  docs/roman/outlier_detection/outlier_examples.rst
  docs/roman/pipeline_steps.rst
Labels: documentation, pipeline

Review updates.
  CHANGES.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  docs/roman/outlier_detection/outlier_examples.rst
Labels: documentation

change assumed type of config option from list to string
  romancal/regtest/conftest.py
  romancal/tests/base_classes.py
Labels: testing, regression_testing

Add docs for outlier detection step.
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/description.rst
  docs/roman/outlier_detection/index.rst
  docs/roman/outlier_detection/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  docs/roman/outlier_detection/outlier_examples.rst
  docs/roman/pipeline_steps.rst
Labels: documentation, pipeline

More updates do docs and methods.
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
Labels: documentation

Review updates.
  CHANGES.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  docs/roman/outlier_detection/outlier_examples.rst
Labels: documentation

Fix spec rendering.
  docs/conf.py
Labels: documentation

Add changes file entry.
  CHANGES.rst
Labels: none

remove duplicates in CHANGES
  CHANGES.rst
Labels: none

fixes
  CHANGES.rst
  docs/_static/favicon.ico
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
Labels: documentation

add documentation for static preview script (#1046)
  docs/_static/roman_logo_black_w200px.png
Labels: documentation

add images
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
Labels: documentation

reformat CHANGES.rst
  CHANGES.rst
Labels: none

rcal-300 Update PR number
  CHANGES.rst
Labels: none

rcal-300 Updates to check for CRDS return value
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/dq_init/dq_init_step.py
  romancal/photom/photom_step.py
  romancal/refpix/refpix_step.py
  romancal/saturation/saturation_step.py
Labels: assign_wcs, Dark Current, dq_init, photom, saturation

add missing ico file
  docs/_static/favicon.ico
Labels: documentation

rcal-300 Update unit tests for N/A
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/photom/tests/test_photom.py
  romancal/refpix/tests/test_step.py
  romancal/saturation/tests/test_saturation.py
Labels: testing, assign_wcs, Dark Current, dq_init, flatfield, photom, saturation

rcal-300 Add a simple linearity unit test
  romancal/linearity/tests/test_linearity.py
Labels: testing, linearity

rcal-300 Add tests for dq_flags
  romancal/linearity/tests/test_linearity.py
Labels: testing, linearity

rcal-300 remove unused variable
  romancal/linearity/tests/test_linearity.py
Labels: testing, linearity

rcal-300 Updates based on review comments
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/refpix/refpix_step.py
Labels: testing, Dark Current, dq_init

rcal-300 Remove CRDS skips & restore load_wcs
  CHANGES.rst
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/tests/test_dark.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/refpix/tests/test_step.py
  romancal/stpipe/tests/test_core.py
Labels: testing, assign_wcs, Dark Current, flatfield, jump, photom, ramp_fitting, stpipe

Add unit tests and outlier module refactoring.
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Update outlier detection docs
  docs/roman/outlier_detection/arguments.rst
Labels: documentation

Add changes entry.
  CHANGES.rst
Labels: none

Rcal 300 Updates to check for CRDS return value for each ELPP step (#1055)
  CHANGES.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/tests/test_linearity.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/photom/photom_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/test_step.py
  romancal/saturation/saturation_step.py
  romancal/saturation/tests/test_saturation.py
  romancal/stpipe/tests/test_core.py
Labels: testing, assign_wcs, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe

remove duplicates in CHANGES
  CHANGES.rst
Labels: none

Rcal 300 Updates to check for CRDS return value for each ELPP step (#1055)
  CHANGES.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/tests/test_linearity.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/photom/photom_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/test_step.py
  romancal/saturation/saturation_step.py
  romancal/saturation/tests/test_saturation.py
  romancal/stpipe/tests/test_core.py
Labels: testing, assign_wcs, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe

fixes
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
Labels: documentation
