Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

psf-fitting random seed fix
  CHANGES.rst
  romancal/lib/tests/test_psf.py
Labels: testing

Restore lost copy of readnoise in test. Put back in fix of meta.exposure.group_time for ols_one_group_small_buffer_fit.
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

PSF fitting random seed fix (#862)
  CHANGES.rst
  romancal/lib/tests/test_psf.py
Labels: testing

Remove style check from CI, this is repeating the work done by the `pre-commit.ci` bot on every PR
  .github/workflows/roman_ci.yml
Labels: automation, testing

Add numpy specific rules to ruff
  pyproject.toml
  romancal/resample/resample_utils.py
Labels: dependencies

Small refactoring and unit tests.
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/__init__.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

Fix `get_crds_parameters` for `ModelContainer` (#846)
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

fix opening mode for references to be read-only (#854)
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Fix RTD build (#853)
  .readthedocs.yaml
Labels: documentation

RCAL-511 Inititial implementation of the Uneven Ramp fitting (#779)
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

PSF fitting random seed fix (#862)
  CHANGES.rst
  romancal/lib/tests/test_psf.py
Labels: testing

PSF fitting methods (#794)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  tox.ini
Labels: dependencies, automation, testing

Remove style check from CI, this is repeating the work done by the `pre-commit.ci` bot on every PR
  .github/workflows/roman_ci.yml
Labels: automation, testing

Fix check styles.
  romancal/resample/tests/test_resample_step.py
Labels: testing

Account for gain in optional ramp fit output fields.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Small refactories.
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

Update pyproject.toml
  pyproject.toml
Labels: dependencies

return a value for compare_asdf
  romancal/regtest/regtestdata.py
Labels: regression_testing

update changelog
  CHANGES.rst
Labels: none

update ignore_asdf_paths
  romancal/regtest/conftest.py
Labels: regression_testing

strip shell color characters
  romancal/regtest/regtestdata.py
Labels: regression_testing

Add NumPy ruff rule set checking (#863)
  pyproject.toml
  romancal/resample/resample_utils.py
Labels: dependencies

separate first and third party dev dependencies into requirements.txt files
  .github/workflows/roman_ci.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  requirements-dev-thirdparty.txt
  requirements-dev.txt
  tox.ini
Labels: dependencies, automation, testing, regression_testing

rename files
  JenkinsfileRT
  JenkinsfileRT_dev
  requirements-dev-st.txt
  requirements-dev-thirdparty.txt
  tox.ini
Labels: dependencies, automation, testing, regression_testing

apply review suggestion
  tox.ini
Labels: testing

RCAL-643 Update CRDS in JenkinsfileRT & dev
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

use glob pattern
  .github/workflows/roman_ci.yml
Labels: automation, testing

extract to data dir
  .github/workflows/roman_ci.yml
Labels: automation, testing

small fixes
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

cache general data path
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

hash explicit path
  .github/workflows/roman_ci.yml
Labels: automation, testing

add concurrency to weekly CI
  .github/workflows/roman_ci_cron.yaml
Labels: automation

hash data in workspace first
  .github/workflows/roman_ci.yml
Labels: automation, testing

add data download to weekly CI
  .github/workflows/roman_ci_cron.yaml
Labels: automation

fix caching and outputs
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

fix dependency
  .github/workflows/roman_ci_cron.yaml
Labels: automation

split data retrieval into steps
  .github/workflows/roman_ci.yml
Labels: automation, testing

RCAL-643 Update roman CI/CD to use CRDS local cache (#857)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

fix caching and outputs (#871)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

reorganize tests, make devdeps optional, and unpin latest Python testing
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
