Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

update create_footprint to pass argument center through
  romancal/assign_wcs/utils.py
Labels: assign_wcs

more bullit-proofing of the wcsinfo
  romancal/lib/tests/helpers.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

update changelog
  CHANGES.rst
Labels: none

fix orientat typo
  romancal/resample/resample.py
Labels: none

fix typo in test helper
  romancal/lib/tests/helpers.py
Labels: testing

RCAL-799: Populate the Level 3 wcsinfo (#1182)
  CHANGES.rst
  romancal/assign_wcs/utils.py
  romancal/lib/tests/helpers.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing, assign_wcs

adding segmentation map model
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

add source catalog step
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/source_catalog/arguments.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
  romancal/source_catalog/__init__.py
  romancal/source_catalog/_wcs_helpers.py
  romancal/source_catalog/detection.py
  romancal/source_catalog/reference_data.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/__init__.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, testing, pipeline

Fix docstring
  romancal/source_catalog/_wcs_helpers.py
Labels: none

Add new background module
  romancal/source_catalog/background.py
Labels: none

Update ReferenceData; use placeholder aperture params
  romancal/source_catalog/reference_data.py
Labels: none

Rewrite detection module
  romancal/source_catalog/detection.py
Labels: none

Fixing source catalog step tests
  CHANGES.rst
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Update source_catalog module for Roman
  romancal/source_catalog/source_catalog.py
Labels: none

Update source_catalog_step module
  romancal/source_catalog/source_catalog_step.py
Labels: none

Add source catalog unit tests
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Add suffixes and stpipe integration
  romancal/lib/suffix.py
  romancal/stpipe/integration.py
Labels: stpipe

Support L2 and L3 data models
  romancal/source_catalog/_wcs_helpers.py
  romancal/source_catalog/reference_data.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
Labels: none

Add source_catalogs tests for L2 ImageModel
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Add DQ flags
  romancal/regtest/test_catalog.py
  romancal/source_catalog/source_catalog.py
Labels: regression_testing

Initial L3 catalog regtests.
  romancal/lib/suffix.py
  romancal/regtest/test_catalog.py
  romancal/scripts/make_regtestdata.sh
  romancal/step.py
Labels: regression_testing

Add L2 catalog tests. Refactor common L2/L3 test code to remove duplication.
  romancal/regtest/test_catalog.py
  romancal/scripts/make_regtestdata.sh
Labels: regression_testing

make rotation matrix 2d for schema validation
  romancal/assign_wcs/utils.py
  romancal/resample/resample.py
Labels: assign_wcs

Copy L2/L3 model metadata to source catalog metadata
  romancal/regtest/test_catalog.py
  romancal/source_catalog/source_catalog_step.py
Labels: regression_testing

update changelog
  CHANGES.rst
Labels: none

make rotation matrix 2d for schema validation (#1205)
  CHANGES.rst
  romancal/assign_wcs/utils.py
  romancal/resample/resample.py
Labels: assign_wcs

Make sure logs get included in L3 products.
  romancal/resample/resample.py
  romancal/stpipe/core.py
Labels: stpipe

Update change log.
  CHANGES.rst
Labels: none

Fix STPIPE URL
  docs/roman/pipeline_run.rst
Labels: documentation, pipeline

Fix typos in docs
  docs/conf.py
  docs/roman/assign_wcs/main.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/science_products.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/jump/description.rst
  docs/roman/jump/even_ramp.rst
  docs/roman/pipeline_naming_conventions.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_static_preview.rst
  docs/roman/ramp_fitting/description.rst
  docs/roman/ramp_fitting/description_ols.rst
  docs/roman/references_general/gain_reffile.inc
  docs/roman/references_general/linearity_reffile.inc
  docs/roman/references_general/readnoise_reffile.inc
  docs/roman/resample/main.rst
  docs/roman/tweakreg/README.rst
Labels: documentation, assign_wcs, jump, linearity, ramp_fitting, pipeline

Refactor create_mock_asn_file fixture.
  romancal/conftest.py
Labels: none

Add changelog entry.
  CHANGES.rst
Labels: none

Ensure that skymatch always return a ModelContainer.
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

Ensure that skymatch always return a ModelContainer.
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Refactor create_mock_asn_file fixture.
  romancal/conftest.py
Labels: none

Ignore individual_image_cal_logs in compare_asdf.
  romancal/regtest/conftest.py
Labels: regression_testing

Store file paths in model container.
  romancal/datamodels/container.py
  romancal/resample/resample.py
Labels: none

Put real file names in meta.resample.meta.
  romancal/resample/resample.py
Labels: none

Update change log.
  CHANGES.rst
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
