Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Initial sky matching implementation (#687)
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/skymatch/arguments.rst
  docs/roman/skymatch/description.rst
  docs/roman/skymatch/index.rst
  docs/roman/skymatch/reference_files.rst
  docs/roman/skymatch/region.rst
  docs/roman/skymatch/skyimage.rst
  docs/roman/skymatch/skymatch.rst
  docs/roman/skymatch/skymatch_step.rst
  docs/roman/skymatch/skystatistics.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/skymatch/__init__.py
  romancal/skymatch/region.py
  romancal/skymatch/skyimage.py
  romancal/skymatch/skymatch.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/skystatistics.py
  romancal/skymatch/tests/test_skymatch.py
Labels: documentation, dependencies, testing

Move skymatch changelog entry to correct version
  CHANGES.rst
Labels: none

Move skymatch changelog entry to correct version (#713)
  CHANGES.rst
Labels: none

Replace `add_ref_common` with `mk_ref_common`
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
Labels: testing, dq_init, flatfield, jump

Point at latest RDM
  pyproject.toml
Labels: dependencies

Replace `add_ref_common` with `mk_ref_common` (#712)
  pyproject.toml
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
Labels: dependencies, testing, dq_init, flatfield, jump

Documentation update for rtd and the contrib (#674)
  CHANGES.rst
  CONTRIBUTING.md
  docs/roman/associations/overview.rst
Labels: documentation, associations

Initial sky matching implementation (#687)
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/skymatch/arguments.rst
  docs/roman/skymatch/description.rst
  docs/roman/skymatch/index.rst
  docs/roman/skymatch/reference_files.rst
  docs/roman/skymatch/region.rst
  docs/roman/skymatch/skyimage.rst
  docs/roman/skymatch/skymatch.rst
  docs/roman/skymatch/skymatch_step.rst
  docs/roman/skymatch/skystatistics.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/skymatch/__init__.py
  romancal/skymatch/region.py
  romancal/skymatch/skyimage.py
  romancal/skymatch/skymatch.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/skystatistics.py
  romancal/skymatch/tests/test_skymatch.py
Labels: documentation, dependencies, testing

Add PR number to CHANGES.rst entry..
  CHANGES.rst
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Add/update datamodel's unit tests.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Replace `add_ref_common` with `mk_ref_common` (#712)
  pyproject.toml
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
Labels: dependencies, testing, dq_init, flatfield, jump

Move skymatch changelog entry to correct version (#713)
  CHANGES.rst
Labels: none

Documentation update for rtd and the contrib (#674)
  CHANGES.rst
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Add PR number to CHANGES.rst entry..
  CHANGES.rst
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Update CHANGES.rst.
  CHANGES.rst
Labels: none

Fix CHANGES.rst.
  CHANGES.rst
Labels: none

Fix docstring.
  romancal/datamodels/container.py
Labels: none

Add get_crds_parameters method.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Updates to ModelContainer and additional unit tests.
  romancal/datamodels/container.py
  romancal/datamodels/tests/data/detectorFOV_asn.json
  romancal/datamodels/tests/data/detector_asn.json
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Deactivate tests on linux.
  .github/workflows/roman_ci.yml
Labels: automation, testing

Prevent tests from running on linux.
  .github/workflows/roman_ci.yml
Labels: automation, testing

Remove selected jobs.
  .github/workflows/roman_ci.yml
Labels: automation, testing

Revert CI jobs.
  .github/workflows/roman_ci.yml
Labels: automation, testing

Remove CRDS tests.
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Revert CRDS tests.
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Decrease size of test images.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Fix test error.
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Fix ModelContainer import in SkyMatch test.
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Fix call to ModelContainer in SkyMatchStep.
  romancal/skymatch/skymatch_step.py
Labels: none

Add ModelContainer to romancal.datamodels. (#710)
  CHANGES.rst
  docs/roman/datamodels/container.rst
  docs/roman/datamodels/index.rst
  docs/roman/package_index.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/datamodels/__init__.py
  romancal/datamodels/container.py
  romancal/datamodels/tests/__init__.py
  romancal/datamodels/tests/data/detectorFOV_asn.json
  romancal/datamodels/tests/data/detector_asn.json
  romancal/datamodels/tests/test_datamodels.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing

Add meta.wcs_fit_results and corresponding unit test.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Update docs.
  docs/roman/tweakreg/README.rst
Labels: documentation

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Remove unwanted parameters from fit results.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Update docs.
  docs/roman/tweakreg/README.rst
Labels: documentation

Add entry to CHANGES.rst file
  CHANGES.rst
Labels: none

Update the CI
  .github/workflows/roman_ci.yml
Labels: automation, testing
