Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

RCAL-479 Test for PSF keywords (DMS-136) (#648)
  CHANGES.rst
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

metadata for `0.10.0` release
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

pin `rad` and `roman_datamodels` to latest version only
  pyproject.toml
Labels: dependencies

update build number
  README.md
Labels: documentation

metadata for `0.10.0` release (#649)
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

open for post-`0.10.0` development
  CHANGES.rst
  requirements-sdp.txt
Labels: dependencies

update CRDS context in README
  README.md
Labels: documentation

update CRDS context in README
  README.md
Labels: documentation

change jwst.associations to romancal in doctest
  romancal/associations/registry.py
Labels: associations

skipping doctests using missing file
  docs/roman/datamodels/datamodels_asdf.rst
Labels: documentation

move pytest markers to pyproject.toml
  pyproject.toml
  pytest.ini
Labels: dependencies

move pytest markers to pyproject.toml (#647)
  docs/roman/datamodels/datamodels_asdf.rst
  pyproject.toml
  pytest.ini
  romancal/associations/registry.py
Labels: documentation, dependencies, associations

replace `flake8` with ruff`
  pyproject.toml
Labels: dependencies

update change log entry
  CHANGES.rst
Labels: none

add entry to change log
  CHANGES.rst
Labels: none

update ignore list for `ruff` `0.0.70`
  pyproject.toml
Labels: dependencies

update package files and build
  pyproject.toml
Labels: dependencies

ignore `build` directory
  pyproject.toml
Labels: dependencies

cache packages in CI workflow (#618)
  .github/workflows/roman_ci.yml
Labels: automation, testing

use `ruff` in place of `flake8` (#570)
  CHANGES.rst
  pyproject.toml
Labels: dependencies

use `ruff` in `pre-commit`
  .pre-commit-config.yaml
Labels: none

apply import fix
  romancal/associations/lib/rules_elpp_base.py
Labels: associations

Bug fix: make sure ASDF is not closed prematurely.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Method refactoring.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Bug fix: make sure ASDF is not closed prematurely.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Method refactoring.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Clean up and small refactorings.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Clean up and small refactorings.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Raise exception when tweakreg_catalog is missing.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Initial commit.
  pyproject.toml
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/tests/test_saturation.py
  romancal/stpipe/tests/test_core.py
Labels: dependencies, testing, assign_wcs, Dark Current, dq_init, flatfield, jump, photom, ramp_fitting, saturation, stpipe

Updated changelog.
  CHANGES.rst
Labels: none

Raise exception when tweakreg_catalog is missing.
  romancal/tweakreg/tweakreg_step.py
Labels: none

WIP: unit tests.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

RCAL-486: Update Maker Utlity Imports (#654)
  CHANGES.rst
  pyproject.toml
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/tests/test_saturation.py
  romancal/stpipe/tests/test_core.py
Labels: dependencies, testing, assign_wcs, Dark Current, dq_init, flatfield, jump, photom, ramp_fitting, saturation, stpipe

TweakReg unit test.
  romancal/tweakreg/tests/data/base_image_wcs.asdf
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Remove unused imports.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Refactor tweakreg unit tests.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Add description to unit tests.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

First implementation of regtests for TweakReg.
  romancal/regtest/data/base_image_wcs.asdf
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

remove upper pins from dependencies
  pyproject.toml
Labels: dependencies
