Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Update pyproject.toml
  pyproject.toml
Labels: dependencies

Update pyproject.toml
  pyproject.toml
Labels: dependencies

Pinning RAD and RDM to certain version.
  pyproject.toml
Labels: dependencies

Tweaked RDM version.
  pyproject.toml
Labels: dependencies

Removed romancal from the requirements for romancal.
  requirements-dev.txt
Labels: dependencies

Added RAD versions.
  pyproject.toml
Labels: dependencies

Revert "Rcal 406 science array quantities" (#614)
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: dependencies, testing, Dark Current, dq_init, flatfield, jump, linearity, ramp_fitting, saturation

add Datadog CI agent (#606)
  .github/workflows/roman_ci.yml
  JenkinsfileRT
  tox.ini
Labels: automation, testing, regression_testing

only run Datadog agent on Linux runners
  .github/workflows/roman_ci.yml
Labels: automation, testing

add Datadog CI agent (#615)
  .github/workflows/roman_ci.yml
  JenkinsfileRT
  tox.ini
Labels: automation, testing, regression_testing

hotfix to run CI on forks
  .github/workflows/roman_ci.yml
Labels: automation, testing

don't run on pull request
  .github/workflows/roman_ci.yml
Labels: automation, testing

[hotfix] fix CI on PRs from forks (#617)
  .github/workflows/roman_ci.yml
Labels: automation, testing

add change log entry
  CHANGES.rst
Labels: none

fix deprecation warnings
  romancal/conftest.py
Labels: none

add more ignore dirs for pytest
  pyproject.toml
Labels: dependencies

fix branch filter to trigger on release branches
  .github/workflows/roman_ci.yml
Labels: automation, testing

cache packages
  .github/workflows/roman_ci.yml
Labels: automation, testing

fix deprecation warnings ahead of Pytest 8.0 (#597)
  CHANGES.rst
  pyproject.toml
  romancal/conftest.py
Labels: dependencies

formatting
  romancal/scripts/schema_editor.py
Labels: none

move scripts into subpackage to make them entry points
  pyproject.toml
  romancal/scripts/__init__.py
  romancal/scripts/okify_regtests.py
  romancal/scripts/schema_editor.py
  romancal/scripts/schemadoc.py
  romancal/scripts/verify_install_requires.py
  romancal/tests/test_import.py
  setup.py
  tox.ini
Labels: dependencies, testing

ignore build directory
  .flake8
Labels: none

formatting
  romancal/scripts/schema_editor.py
Labels: none

formatting
  romancal/scripts/okify_regtests.py
  romancal/scripts/schema_editor.py
  romancal/scripts/schemadoc.py
  romancal/scripts/verify_install_requires.py
Labels: none

fix typo
  tox.ini
Labels: testing

run script
  romancal/scripts/verify_install_requires.py
  tox.ini
Labels: testing

use `isolated_build`
  tox.ini
Labels: testing

use full path
  romancal/scripts/verify_install_requires.py
Labels: none

test script install
  romancal/scripts/tests/test_scripts.py
Labels: testing

ignore `setup.cfg` in dependency check
  romancal/tests/empty_config/pytest.ini
  tox.ini
Labels: testing

fix paths
  romancal/scripts/verify_install_requires.py
Labels: none

ignore module check in normal test
  tox.ini
Labels: testing

remove unused scripts
  romancal/scripts/schema_editor.py
  romancal/scripts/schemadoc.py
Labels: none

run script
  romancal/scripts/verify_install_requires.py
  tox.ini
Labels: testing

move scripts into subpackage to make them entry points (#620)
  .flake8
  pyproject.toml
  romancal/scripts/__init__.py
  romancal/scripts/okify_regtests.py
  romancal/scripts/tests/test_scripts.py
  romancal/scripts/verify_install_requires.py
  romancal/tests/empty_config/pytest.ini
  romancal/tests/test_import.py
  scripts/okify_regtests
  scripts/schema_editor
  scripts/schemadoc
  setup.py
  tox.ini
Labels: dependencies, testing

fix branch filter to trigger on release branches (#619)
  .github/workflows/roman_ci.yml
Labels: automation, testing

update `conda`
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

update `conda` in Jenkins environment (#621)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

add environment variables to Datadog run
  .github/workflows/roman_ci.yml
Labels: automation, testing

add environment variables to Datadog run (#623)
  .github/workflows/roman_ci.yml
Labels: automation, testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
