Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

rcal-622 Add ability to copy resultantdq from SDF to a rampmodel
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
Labels: testing, dq_init

rcal-622 Update change file
  CHANGES.rst
Labels: none

rcal-622 updates for docs and pytest versions
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  pyproject.toml
Labels: documentation, dependencies

Make remove_trends more robust against outliers / CRs.
  romancal/refpix/data.py
Labels: none

Rcal-622 Add the ability to copy resultantdq from SDF to a rampmodel (#1085)
  CHANGES.rst
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  pyproject.toml
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
Labels: documentation, dependencies, testing, dq_init

Update tweakwcs dependency to include improvement needed for fast tweakreg step.
  pyproject.toml
Labels: dependencies

copy coordinate info from level 2 meta to level 3
  romancal/resample/resample.py
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: dependencies

Update pyproject.toml
  pyproject.toml
Labels: dependencies

Update pyproject.toml
  pyproject.toml
Labels: dependencies

RCAL-704 Update resample step to handle the L3 meta data (#1057)
  CHANGES.rst
  pyproject.toml
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: dependencies, testing

Allow TweakReg to process a single datamodel.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Add unit test for latest TweakReg code refactoring.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Update TweakReg docs.
  docs/roman/tweakreg/tweakreg_examples.rst
Labels: documentation

Update TweakReg usage in ELP.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Fix style checks.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Add changes entry.
  CHANGES.rst
Labels: none

Update to use the dev version of deepdiff
  requirements-dev-thirdparty.txt
  tox.ini
Labels: dependencies, testing

Add python 3.12 devdeps testing
  .github/workflows/tests_devdeps.yml
Labels: automation

Add pyefra dev
  requirements-dev-thirdparty.txt
Labels: dependencies

Add python 3.12 devdeps testing (#886)
  .github/workflows/tests_devdeps.yml
  requirements-dev-thirdparty.txt
  tox.ini
Labels: dependencies, automation, testing

Add some info on top of the report header
  CHANGES.rst
  romancal/regtest/regtestdata.py
Labels: regression_testing

RCAL-724: Add additional information to `compare_asdf` diff reports. (#1044)
  CHANGES.rst
  romancal/regtest/regtestdata.py
Labels: regression_testing

Turn on the apodized FFT interpolation
  CHANGES.rst
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Turn on the apodized FFT interpolation (#1017)
  CHANGES.rst
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

update requirements-sdp.txt instructions to include the sdp extra
  requirements-sdp.txt
Labels: dependencies

Make copies of border pixel arrays when building L2 image.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

update `requirements-sdp.txt` instructions to include the `sdp` extra (#1097)
  requirements-sdp.txt
Labels: dependencies

Fix a few incorrect dtypes used in tests
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
Labels: testing, dq_init, flatfield

Fix a few incorrect dtypes used in tests (#1090)
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
Labels: testing, dq_init, flatfield

select F and B
  pyproject.toml
Labels: dependencies

apply fixes and formatting from ruff
  romancal/associations/tests/helpers.py
  romancal/lib/suffix.py
Labels: testing, associations

fix top-level configuration
  pyproject.toml
Labels: dependencies

Update JenkinsfileRT
  JenkinsfileRT
Labels: automation, regression_testing

metadata updates for release 0.14.0
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

Update pmap from 052 to 056
  requirements-sdp.txt
Labels: dependencies

Update CRDS_CONTEXT from 052 to 056
  JenkinsfileRT_dev
Labels: automation, regression_testing

Return to development
  pyproject.toml
  requirements-sdp.txt
Labels: dependencies

Add python 3.12 devdeps testing (#886)
  .github/workflows/tests_devdeps.yml
  requirements-dev-thirdparty.txt
  tox.ini
Labels: dependencies, automation, testing

Update tweakwcs dependency to include improvement needed for fast tweakreg step.
  pyproject.toml
Labels: dependencies

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
