Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

rcal-317 Create first simple association & pytest
  romancal/associations/__init__.py
  romancal/associations/config.py
  romancal/associations/lib/__init__.py
  romancal/associations/lib/acid.py
  romancal/associations/lib/asn_schema_jw_level3.json
  romancal/associations/lib/association_rules.py
  romancal/associations/lib/constraint.py
  romancal/associations/lib/counter.py
  romancal/associations/lib/diff.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/tests/test_asn_from_list.py
  romancal/associations/tests/test_asn_from_list.py
Labels: testing, associations

rcal-317 Updated tests for rules_elpp_basic
  romancal/associations/__init__.py
  romancal/associations/association.py
  romancal/associations/association_io.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_registry.py
Labels: testing, associations

RCAL-317 Update asn_from_list example
  docs/roman/associations/asn_from_list.rst
  docs/roman/associations/commands.rst
  docs/roman/associations/design.rst
  docs/roman/associations/graphics/generator_flow_concept.png
  docs/roman/associations/graphics/generator_list_processing.png
  docs/roman/associations/graphics/level3_rule_inheritance.png
  docs/roman/associations/graphics/overview.png
  docs/roman/associations/graphics/overview_classes.png
  docs/roman/associations/graphics/rule_sets.png
  docs/roman/associations/graphics/rule_to_association.png
  docs/roman/associations/graphics/sources/associations.monopic
  docs/roman/associations/graphics/sources/workflow-generic.odg
  docs/roman/associations/graphics/sources/workflow-wfss.odg
  docs/roman/associations/graphics/workflow-generic.pdf
  docs/roman/associations/graphics/workflow-generic.png
  docs/roman/associations/graphics/workflow-wfss.pdf
  docs/roman/associations/graphics/workflow-wfss.png
  docs/roman/associations/index.rst
  docs/roman/associations/overview.rst
  docs/roman/associations/roman_conventions.rst
  docs/roman/associations/technote_sdp_workflow.rst
  docs/roman/package_index.rst
Labels: documentation, associations

rcal-317 commit changes
  romancal/associations/lib/association_rules.py
  romancal/associations/tests/test_asn_from_list.py
Labels: testing, associations

RCAL-317 asn_from_list is working to produce FOV asn
  romancal/associations/asn_from_list.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/registry.py
  scripts/asn_from_list
Labels: associations

rcal-317 Save updates
  romancal/associations/association.py
  romancal/associations/generate.py
  romancal/associations/lib/association_rules.py
  romancal/associations/lib/callback_registry.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/process_list.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/main.py
  romancal/associations/registry.py
Labels: associations

rcal-317 Updates to get main.py to import properly
  romancal/associations/__init__.py
  romancal/associations/generate.py
  romancal/associations/lib/constraint.py
  romancal/associations/lib/log_config.py
  romancal/associations/lib/process_list.py
  romancal/associations/main.py
  romancal/associations/pool.py
  romancal/lib/progress.py
Labels: associations

RCAL-317 cleanup code
  romancal/associations/asn_from_list.py
  romancal/associations/association.py
  romancal/associations/generate.py
  romancal/associations/lib/acid.py
  romancal/associations/lib/callback_registry.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/process_list.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/main.py
  romancal/associations/registry.py
Labels: associations

RCAL-317 Initial work for Image associations
  romancal/associations/generate.py
  romancal/associations/lib/acid.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/main.py
  romancal/associations/registry.py
Labels: associations

RCAL-317 Update test_asn_from_list
  docs/index.rst
  docs/roman/associations/asn_from_list.rst
Labels: documentation, associations

RCAL-317 added tests for constraints...
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_constraints.py
Labels: testing, associations

RCAL-317 added association section to Changes.rst
  CHANGES.rst
Labels: none

RCAL-317 Code style cleanup
  romancal/associations/asn_from_list.py
  romancal/associations/lib/constraint.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/main.py
  romancal/associations/pool.py
  romancal/associations/registry.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_registry.py
Labels: testing, associations

RCAL-317 More Code style cleanup
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/process_list.py
  romancal/associations/lib/tests/test_asn_from_list.py
  romancal/associations/tests/test_asn_from_list.py
Labels: testing, associations

RCAL-317 added PR number to Changes.rst
  CHANGES.rst
Labels: none

RCAL-317 More Code style cleanup
  romancal/associations/lib/tests/test_asn_from_list.py
Labels: testing, associations

RCAL-317 More Code style cleanup
  romancal/associations/lib/tests/test_asn_from_list_lib.py
Labels: testing, associations

RCAL-317 Code style cleanup
  romancal/associations/lib/process_list.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/main.py
  romancal/associations/registry.py
Labels: associations

RCAL-317 More Code style cleanup
  romancal/associations/__init__.py
  romancal/associations/lib/rules_level2.py
Labels: associations

RCAL-444 Code style changes for Black
  romancal/associations/__init__.py
  romancal/associations/association.py
  romancal/associations/association_io.py
  romancal/associations/generate.py
  romancal/associations/lib/acid.py
  romancal/associations/lib/asn_schema_jw_level3.json
  romancal/associations/lib/constraint.py
  romancal/associations/lib/diff.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/log_config.py
  romancal/associations/lib/member.py
  romancal/associations/lib/process_list.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/lib/tests/test_asn_from_list_lib.py
  romancal/associations/lib/utilities.py
  romancal/associations/main.py
  romancal/associations/pool.py
  romancal/associations/registry.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/lib/signal_slot.py
Labels: testing, associations

RCAL-444 More code style changes for Black
  romancal/associations/__init__.py
  romancal/associations/association_io.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/keyvalue_registry.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/pool.py
  romancal/associations/tests/test_asn_from_list.py
Labels: testing, associations

RCAL-444 More code style changes for Black
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
Labels: associations

RCAL-444 More code style changes for Black
  docs/roman/associations/asn_from_list.rst
Labels: documentation, associations

RCAL-444 More code style changes for Black
  docs/roman/associations/index.rst
Labels: documentation, associations

RCAL-444 Update doc index
  docs/index.rst
  docs/roman/associations/index.rst
Labels: documentation, associations

RCAL-444 Update doc index
  docs/index.rst
Labels: documentation

RCAL-444 Update doc index
  docs/roman/associations/index.rst
Labels: documentation, associations

RCAL-444 Update main doc index
  docs/index.rst
Labels: documentation

Code style fixes.
  romancal/assign_wcs/pointing.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tweakreg_step.py
Labels: assign_wcs

Remove FITS header dependencies.
  romancal/assign_wcs/pointing.py
  romancal/assign_wcs/utils.py
  romancal/resample/resample_utils.py
Labels: assign_wcs

Remove unused imports.
  romancal/assign_wcs/pointing.py
  romancal/assign_wcs/utils.py
Labels: assign_wcs

Add global variable with default astrometric catalog name.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Remove commented out code.
  romancal/assign_wcs/utils.py
Labels: assign_wcs

Renamed crpix to ref_pixel and crval to ref_coord.
  romancal/assign_wcs/utils.py
  romancal/resample/resample_utils.py
Labels: assign_wcs

Add GAIADR3 to list of available astrometric catalogs.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tweakreg_step.py
Labels: none

Fixes and clean ups.
  romancal/assign_wcs/utils.py
  romancal/resample/resample_utils.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tweakreg_step.py
Labels: assign_wcs

Add entry to CHANGES.rst.
  CHANGES.rst
Labels: none

RCAL-451: Implement TweakRegStep. (#643)
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/assign_wcs/utils.py
  romancal/lib/suffix.py
  romancal/resample/__init__.py
  romancal/resample/resample_utils.py
  romancal/tweakreg/__init__.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/__init__.py
  romancal/tweakreg/tweakreg_step.py
Labels: dependencies, testing, assign_wcs

RCAL-479 Test for PSF keywords
  CHANGES.rst
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

RCAL-479 Test for PSF keywords update PR
  CHANGES.rst
Labels: none
