Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

rcal-681 Update reg tests for new algorithms
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_flat_field.py
Labels: regression_testing, ramp_fitting, Wide Field Instrument (WFI)

Small refactoring to account for review comments.
  romancal/resample/resample.py
  romancal/resample/resample_utils.py
Labels: none

Check style fixes.
  romancal/resample/resample.py
  romancal/resample/resample_utils.py
Labels: none

Style check fixes and docstring improvements.
  romancal/resample/resample_utils.py
  romancal/resample/tests/test_resample.py
Labels: testing

Update requirements-dev with necessary packages.
  requirements-dev-st.txt
Labels: dependencies

Remove overlap comparison to avoid rounding issues
  romancal/resample/tests/test_resample.py
Labels: testing

RCAL-681 update changes file
  CHANGES.rst
Labels: none

rcal-681 Update reg tests for new algorithms (#911)
  CHANGES.rst
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_flat_field.py
Labels: regression_testing, ramp_fitting, Wide Field Instrument (WFI)

add astropy Table support to compare_asdf
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

update changelog
  CHANGES.rst
Labels: none

update compare_asdf to use tolerance in more comparisons
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

update changelog
  CHANGES.rst
Labels: none

update compare_asdf to use tolerance in more comparisons
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

update changelog
  CHANGES.rst
Labels: none

update url for webbpsf data in github actions CI
  .github/workflows/roman_ci.yml
Labels: automation, testing

update url for webbpsf data in github actions CI (#920)
  .github/workflows/roman_ci.yml
Labels: automation, testing

use pure-Python build
  .github/workflows/build.yml
Labels: automation

rename file
  .github/workflows/build.yml
Labels: automation

use cibuildwheel config
  pyproject.toml
Labels: dependencies

use PyPI upload workflow from OpenAstronomy
  .github/workflows/publish-to-pypi.yml
Labels: automation

Include parallax correction to unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix style checks.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

use PyPI upload workflow from OpenAstronomy (#887)
  .github/workflows/build.yml
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
Labels: dependencies, automation

RCAL-641 Add FOV association generation
  romancal/associations/generate.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
Labels: associations

RCAL-641 Add Changes entry and update unit tests
  CHANGES.rst
  romancal/associations/tests/test_level2_basics.py
  romancal/associations/tests/test_level2_candidates.py
Labels: testing, associations

RCAL-641 Cleanup code that was commented out
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
Labels: associations

RCAL-641 Fix documentation typo
  romancal/associations/lib/rules_elpp_base.py
Labels: associations

RCAL-641 Fix another documentation typo
  romancal/associations/lib/rules_elpp_base.py
Labels: associations

RCAL-641 Add FOV association generation (#931)
  CHANGES.rst
  romancal/associations/generate.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/tests/test_level2_basics.py
  romancal/associations/tests/test_level2_candidates.py
Labels: testing, associations

add `.git` to dev dependency specifications
  pyproject.toml
  requirements-dev-st.txt
  requirements-dev-thirdparty.txt
Labels: dependencies

Add atol parameter to compare_asdf method.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Fix TweakReg's catalog metadata.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Include parallax correction to unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix check-styles.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Set atol=1e-5 and rtol=0 in astrometric_utils unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Use SCA 01 instead of SCA 02 in resample regtest.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Fix style checks.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix astrometric_utils tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Update TweakReg's regression test data.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

remove branch specifier
  pyproject.toml
Labels: dependencies

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
