Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

More fixes
  romancal/regtest/test_wfi_pipeline.py
  romancal/tweakreg/tweakreg_step.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Update roman_datamodels link
  pyproject.toml
Labels: dependencies

Attempt to fix pipeline err
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Fix for psf
  romancal/lib/tests/test_psf.py
Labels: testing

Use specialty RDM branch
  pyproject.toml
Labels: dependencies

More fixes for unit tests
  romancal/lib/tests/test_psf.py
  romancal/saturation/saturation_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing, saturation

More small fixes
  romancal/regtest/test_wfi_pipeline.py
  romancal/tweakreg/tweakreg_step.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Fixes for all the (non-regression) tests broken by the RDM refactor
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/linearity/linearity_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/refpix/tests/conftest.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/stpipe/tests/test_core.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, regression_testing, dq_init, flatfield, jump, linearity, photom, ramp_fitting, stpipe

Fixes for ramp and refpix
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_refpix.py
Labels: regression_testing, ramp_fitting

Fix more import issues
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/tests/test_dark.py
  romancal/datamodels/tests/test_datamodels.py
  romancal/dq_init/dq_init_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/regtest/test_regtestdata.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/source_detection/source_detection_step.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, regression_testing, assign_wcs, Dark Current, dq_init, jump, ramp_fitting

Attempt to dq_init and the grism pipeline test
  romancal/dq_init/dq_init_step.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, dq_init, pipeline, Wide Field Instrument (WFI)

Update pyproject to point at dev branches
  pyproject.toml
Labels: dependencies

Fix pyproject typo
  pyproject.toml
Labels: dependencies

More tiny fixes
  romancal/lib/tests/test_psf.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Fix immediate test errors (before tests start)
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  romancal/linearity/tests/test_linearity.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/refpix/tests/conftest.py
  romancal/resample/resample.py
  romancal/saturation/tests/test_saturation.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, assign_wcs, dq_init, flatfield, linearity, photom, ramp_fitting, saturation, stpipe

Some resample fixes
  romancal/resample/resample_step.py
Labels: none

Fix for outlier changes
  romancal/conftest.py
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
Labels: none

fix compare_asdf model difference
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

add changelog
  CHANGES.rst
Labels: none

Provide a default WCS for ramp fitting.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update change log.
  CHANGES.rst
Labels: none

add images
  docs/_static/stsci_logo.png
Labels: documentation

fixes
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
Labels: documentation

switch jenkins runs to use roman-serverless for crds
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

switch jenkins runs to use roman-serverless for crds (#946)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

switch jenkins runs to use roman-serverless for crds (#946)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

initial setup of meta information
  romancal/resample/resample.py
Labels: none

use the output wcs calculated in ResampeData.__init__
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

update exposure settings per issue discussion
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

fix updating exposure times
  romancal/resample/resample.py
Labels: none

repair tests involving exposure time
  romancal/resample/tests/test_resample.py
Labels: testing

fix another wcs assignment issue
  romancal/resample/resample.py
Labels: none

set output model wcs from the resample output wcs
  romancal/resample/resample.py
Labels: none

fix test using filename
  romancal/resample/tests/test_resample.py
Labels: testing

fix units for the variances
  romancal/resample/resample.py
Labels: none

fix where filename gets stored.
  romancal/resample/resample.py
Labels: none

update changelog
  CHANGES.rst
Labels: none

fix l3 filename meta location for outlier_detection
  romancal/outlier_detection/outlier_detection.py
Labels: none

initial filling of the l3 wcsinfo
  romancal/resample/resample.py
Labels: none

fix copying pass attribute to the l3 output
  romancal/resample/resample.py
Labels: none
