Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

attempt to get CI to use numpy 2.0 again
  requirements-dev-thirdparty.txt
Labels: dependencies

use ndarray comparison options in wcs comparison
  romancal/regtest/regtestdata.py
Labels: regression_testing

remove debug
  .github/workflows/data.yml
Labels: automation

RCAL-670: additional check for data quality test. (#964)
  romancal/regtest/test_resample.py
Labels: regression_testing

Bugfix webbpsf marker (#961)
  pyproject.toml
  pytest_plugin/__init__.py
  pytest_plugin/webbpsf_plugin.py
Labels: dependencies

rcal-700 Update exposure pipeline to correct cal_step and suffixes (#971)
  CHANGES.rst
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

retrieve CRDS contexts in CI with a reusable workflow (#954)
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

rcal-697 Update exposure pipeline to add tweakreg step (#960)
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-687 Update step names
  romancal/pipeline/hl_pipeline.py
Labels: pipeline

fix script import protection (#977)
  romancal/scripts/static_preview.py
Labels: none

rcal-687 Update init and rename files
  romancal/pipeline/__init__.py
  romancal/pipeline/highlevel_pipeline.py
  romancal/stpipe/utilities.py
Labels: stpipe, pipeline

rcal-687 Add PR number
  CHANGES.rst
  romancal/pipeline/hl_pipeline.py
Labels: pipeline

Add entry in CHANGES.rst.
  CHANGES.rst
Labels: none

Implement outlier detection step.
  pyproject.toml
  romancal/datamodels/container.py
  romancal/lib/dqflags.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample.py
Labels: dependencies

Fixed issues.
  pyproject.toml
  romancal/datamodels/container.py
  romancal/lib/dqflags.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample.py
  romancal/stpipe/integration.py
Labels: dependencies, stpipe

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

fix import in script for use by typer
  romancal/scripts/static_preview.py
Labels: none

making use of psf fitting in source detection step
  romancal/source_detection/source_detection_step.py
Labels: none

refactor source detection + psf tests
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

PSF model oversample tweak (supersedes #936), changelog
  CHANGES.rst
  romancal/lib/psf.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

replacing pytest webbpsf marks
  romancal/lib/tests/test_psf.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

bump webbpsf version
  pyproject.toml
Labels: dependencies

bump minpin on requests
  pyproject.toml
Labels: dependencies

overwrite gridded PSF model by default on tests
  romancal/lib/tests/test_psf.py
Labels: testing

Refactoring to comply with comments.
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample.py
Labels: none

move import into try block
  romancal/scripts/static_preview.py
Labels: none

add typer and typing_extensions to the explicit dependencies
  pyproject.toml
Labels: dependencies

use webbpsf data from grp in jenkins runs
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

replace `pyupgrade` `isort` and `black` with `ruff format`
  .pre-commit-config.yaml
Labels: none

change tool configuration
  .pre-commit-config.yaml
  pyproject.toml
Labels: dependencies

Update crds rad and roman_datamodels versions
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
Labels: dependencies, automation, regression_testing

Update crds rad and roman_datamodels versions (#986)
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
Labels: dependencies, automation, regression_testing

RCAL-707 Update elp to capture list returned by tweakreg
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-707 update hlp code
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

RCAL-707 Update elp to capture list returned by tweakreg
  CHANGES.rst
Labels: none

rcal-707 Update suffixes allowed
  romancal/lib/suffix.py
Labels: none

rcal-707 input file name
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

RCAL-707 Update elp to replace list as input to tweakreg (#985)
  CHANGES.rst
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

fix issue where the path of the WebbPSF cache was not the same as the restore cache in the subsequent workflow
  .github/workflows/data.yml
Labels: automation

fix issue where the path of the WebbPSF cache was not the same as the restore cache in the subsequent workflow (#988)
  .github/workflows/data.yml
Labels: automation

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
