Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

remove duplicates in CHANGES
  CHANGES.rst
Labels: none

Rcal 300 Updates to check for CRDS return value for each ELPP step (#1055)
  CHANGES.rst
Labels: none

rcal-738 Inital test for DMS413
  CHANGES.rst
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 Update dark override input
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 Update dark override input
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 Update dark override input
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 Update dark override input syntax
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 Fix spelling errors
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 truth as dark ref
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 update dark ref file name
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 add override dark to work area
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 Move tests for 16 resultants to separate file
  romancal/regtest/test_wfi_16resultants.py
Labels: regression_testing, Wide Field Instrument (WFI)

rcal-738 Update comments
  romancal/regtest/test_wfi_16resultants.py
Labels: regression_testing, Wide Field Instrument (WFI)

Refactoring to address comments.
  romancal/conftest.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

rcal-738 Fix test_wfi_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-738 add doc image files
  docs/_static/favicon.ico
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
Labels: documentation

Fix bug in resample when using in_memory=True and remove unnecessary clean up code.
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: testing

Add unit tests and outlier module refactoring. (#1058)
  CHANGES.rst
  docs/roman/outlier_detection/arguments.rst
  romancal/conftest.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: documentation, testing

Rcal 738 Process data with at least 16 resultants (SOC-1069 & SOC-1070) (#1059)
  docs/_static/favicon.ico
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
  romancal/regtest/test_wfi_16resultants.py
Labels: documentation, regression_testing, Wide Field Instrument (WFI)

Update to outlier detection docs.
  docs/roman/outlier_detection/arguments.rst
Labels: documentation

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

drop sphinx-asdf requirement
  docs/conf.py
  pyproject.toml
Labels: documentation, dependencies

update changelog
  CHANGES.rst
Labels: none

drop sphinx-asdf requirement (#1063)
  CHANGES.rst
  docs/conf.py
  pyproject.toml
Labels: documentation, dependencies

add images
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
Labels: documentation

add documentation for static preview script (#1046)
  docs/_static/roman_logo_black_w200px.png
Labels: documentation

fixes
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
Labels: documentation

rcal-740 Fix title underline
  docs/roman/data_products/product_types.rst
Labels: documentation

rcal-740 Initial data products documentation
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/index.rst
  docs/roman/data_products/file_naming.rst
  docs/roman/data_products/index.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/stages.rst
Labels: documentation

rcal-740 Update 4-D to 3-D
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/science_products.rst
Labels: documentation

rcal-740 Add science data products documentation
  docs/images/wfi_array.png
  docs/roman/data_products/index.rst
  docs/roman/data_products/science_products.rst
Labels: documentation, Wide Field Instrument (WFI)

rcal-740 Formatting updates
  docs/roman/data_products/file_naming.rst
  docs/roman/data_products/science_products.rst
  docs/roman/data_products/stages.rst
Labels: documentation

rcal-740 Update links from review comments
  docs/index.rst
  docs/roman/introduction.rst
Labels: documentation

rcal-740 EOF issue
  docs/roman/data_products/index.rst
Labels: documentation

rcal-740 Update links
  docs/index.rst
  docs/roman/introduction.rst
Labels: documentation

rcal-740 Update array order
  docs/roman/data_products/science_products.rst
Labels: documentation

rcal-740 Fix table format
  docs/roman/data_products/science_products.rst
Labels: documentation

Rcal 740 Add Data Products documentation to RTD (#1064)
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
  docs/images/wfi_array.png
  docs/index.rst
  docs/roman/data_products/file_naming.rst
  docs/roman/data_products/index.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/science_products.rst
  docs/roman/data_products/stages.rst
  docs/roman/introduction.rst
Labels: documentation, Wide Field Instrument (WFI)

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Update to outlier detection docs.
  docs/roman/outlier_detection/arguments.rst
Labels: documentation

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
