Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Remove missed xdist
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

Fix returned result from SourceDetectionStep.
  romancal/source_detection/source_detection_step.py
Labels: none

Apply suggestions from code review
  .github/workflows/roman_ci_cron.yaml
Labels: automation

Add label trigger for weekly
  .github/workflows/roman_ci_cron.yaml
Labels: automation

Documentation update for rtd and the contrib (#674)
  CHANGES.rst
  CONTRIBUTING.md
  docs/roman/associations/overview.rst
Labels: documentation, associations

Replace `add_ref_common` with `mk_ref_common` (#712)
  pyproject.toml
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
Labels: dependencies, testing, dq_init, flatfield, jump

Add ModelContainer to romancal.datamodels. (#710)
  CHANGES.rst
  docs/roman/datamodels/container.rst
  docs/roman/datamodels/index.rst
  docs/roman/package_index.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/datamodels/__init__.py
  romancal/datamodels/container.py
  romancal/datamodels/tests/__init__.py
  romancal/datamodels/tests/data/detectorFOV_asn.json
  romancal/datamodels/tests/data/detector_asn.json
  romancal/datamodels/tests/test_datamodels.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing

Initial sky matching implementation (#687)
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/skymatch/arguments.rst
  docs/roman/skymatch/description.rst
  docs/roman/skymatch/index.rst
  docs/roman/skymatch/reference_files.rst
  docs/roman/skymatch/region.rst
  docs/roman/skymatch/skyimage.rst
  docs/roman/skymatch/skymatch.rst
  docs/roman/skymatch/skymatch_step.rst
  docs/roman/skymatch/skystatistics.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/skymatch/__init__.py
  romancal/skymatch/region.py
  romancal/skymatch/skyimage.py
  romancal/skymatch/skymatch.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/skystatistics.py
  romancal/skymatch/tests/test_skymatch.py
Labels: documentation, dependencies, testing

Move skymatch changelog entry to correct version (#713)
  CHANGES.rst
Labels: none

Documentation update for rtd and the contrib (#674)
  CHANGES.rst
Labels: none

Move skymatch changelog entry to correct version (#713)
  CHANGES.rst
Labels: none

Move skymatch changelog entry to correct version (#713)
  CHANGES.rst
Labels: none

Update CHANGES.rst.
  CHANGES.rst
Labels: none

Update CHANGES.rst.
  CHANGES.rst
Labels: none

Update reference pixel docs.
  docs/roman/refpix/description.rst
Labels: documentation

Update CHANGES.rst
  CHANGES.rst
Labels: none

Add PR number to CHANGES.rst.
  CHANGES.rst
Labels: none

Get right PR number.
  CHANGES.rst
Labels: none

Remove unwanted parameters from fit results.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Add meta.wcs_fit_results and corresponding unit test.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Update docs.
  docs/roman/tweakreg/README.rst
Labels: documentation

Update docs.
  docs/roman/tweakreg/README.rst
Labels: documentation

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Update docs.
  docs/roman/tweakreg/README.rst
Labels: documentation

Add meta.wcs_fit_results and corresponding unit test.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Update docs.
  docs/roman/tweakreg/README.rst
Labels: documentation

Remove unwanted parameters from fit results.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Updated CHANGES.rst.
  CHANGES.rst
Labels: none

Change stars to sources.
  docs/roman/refpix/description.rst
Labels: documentation

Fix indentation of change log.
  CHANGES.rst
Labels: none

Add Sequence to ModelContainer class inheritance list.
  romancal/datamodels/container.py
Labels: none

Fix datatype issue when saving datamodel to ASDF.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Add check for the existence of v2v3corr frame.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Remove Path and use updated files from AF.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Remove commented out code.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Add a `pip list` step after the overrides are injected (#711)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

add `sdpdeps` toxenv (#708)
  tox.ini
Labels: testing

Revert "Add Sequence to ModelContainer class inheritance list."
  romancal/datamodels/container.py
Labels: none

Update changes
  CHANGES.rst
Labels: none
