Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

add comment about webbpsf download skip
  .github/workflows/data.yml
Labels: automation

fix webbpsf path
  .github/workflows/data.yml
Labels: automation

change webbpsf data caching in github CI
  .github/workflows/roman_ci.yml
  .github/workflows/webbpsf_data.yml
Labels: automation, testing

simplifying paths and outputs
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  .github/workflows/webbpsf_data.yml
Labels: automation, testing

remove debug
  .github/workflows/data.yml
Labels: automation

debug
  .github/workflows/data.yml
Labels: automation

add webbpsf and poppy to dev requirements
  requirements-dev-st.txt
Labels: dependencies

attempt to get CI to use numpy 2.0 again
  requirements-dev-thirdparty.txt
Labels: dependencies

Remove now orphaned central wavelengths variable.
  romancal/lib/psf.py
Labels: none

Updates.
  romancal/regtest/regtestdata.py
  romancal/regtest/test_resample.py
Labels: regression_testing

RCAL-693: Removed err array from dark tests. (#938)
  CHANGES.rst
  romancal/dark_current/tests/test_dark.py
Labels: testing, Dark Current

add wcs to model used in compare_asdf tests
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

update changelog
  CHANGES.rst
Labels: none

use ndarray comparison options in wcs comparison
  romancal/regtest/regtestdata.py
Labels: regression_testing

Bug fix.
  romancal/regtest/regtestdata.py
Labels: regression_testing

Refactor and removal of units from weighted image.
  romancal/regtest/test_resample.py
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample_utils.py
Labels: regression_testing

Remove units from weighted image.
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample_utils.py
Labels: none

Revert stcal to main branch.
  pyproject.toml
Labels: dependencies

Rcal 504 develop the resample step (#787)
  CHANGES.rst
  docs/conf.py
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/resample/arguments.rst
  docs/roman/resample/index.rst
  docs/roman/resample/main.rst
  docs/roman/resample/resample.rst
  docs/roman/resample/resample_step.rst
  docs/roman/resample/resample_utils.rst
  pyproject.toml
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/utils.py
  romancal/datamodels/container.py
  romancal/lib/suffix.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_resample.py
  romancal/resample/__init__.py
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/__init__.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, dependencies, testing, regression_testing, assign_wcs, stpipe, pipeline

Filter catalog sources that are outside of the bounding box
  CHANGES.rst
  romancal/tweakreg/tweakreg_step.py
Labels: none

perform extra checks and avoid name error
  romancal/tweakreg/tweakreg_step.py
Labels: none

restrict artifactory result search
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

update script name
  pyproject.toml
Labels: dependencies

update script with requirements
  pyproject.toml
  romancal/scripts/preview.py
Labels: dependencies

use functions from stpreview
  pyproject.toml
  romancal/scripts/preview.py
Labels: dependencies

add change log entry
  CHANGES.rst
Labels: none

fix function call
  romancal/scripts/preview.py
Labels: none

Adjustments to ramp fitting step needed to allow for ramp fitting refactor in stcal
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Add tests involving combining jump detection into the ramp fit
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

Add interface to enable jump detection
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update changes
  CHANGES.rst
Labels: none

Update Cas22 ramp fitting to integrate with the jump detection changes in stcal (#933)
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

update index to include ramp fitting
  docs/roman/package_index.rst
Labels: documentation

remove reference to numpy
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

replace algorithm descriptions
  docs/roman/ramp_fitting/description_ols.rst
Labels: documentation, ramp_fitting

add the error formulae
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

align equations as necessary
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

update argument documentation
  docs/roman/ramp_fitting/arguments.rst
Labels: documentation, ramp_fitting

added slope fitting math
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

add in pedestal removal
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting
