Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

use public server
  .github/workflows/tests_devdeps.yml
Labels: automation

only show results summary for latest-Python testing
  .github/workflows/tests_devdeps.yml
Labels: automation

apply pre-commit fix
  .github/workflows/roman_ci_cron.yaml
Labels: automation

use public server URL
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

reorganize tests, make devdeps testing optional, and unpin latest Python testing (#874)
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation

fix optional workflow triggers
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation

change label name to `run scheduled tests`
  .github/workflows/roman_ci_cron.yaml
Labels: automation

Make new ramp fitting algorithm the default.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update change log.
  CHANGES.rst
Labels: none

add checkbox for regression tests to the pull request template
  .github/pull_request_template.md
Labels: automation

fix optional workflow triggers (#876)
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation

add checkbox for regression tests to the pull request template (#878)
  .github/pull_request_template.md
Labels: automation

put required webbpsf files in homedir
  CHANGES.rst
  JenkinsfileRT
Labels: automation, regression_testing

psf fix for regtests
  JenkinsfileRT
Labels: automation, regression_testing

use deep diff instead of asdf.commands.diff
  pyproject.toml
  romancal/regtest/conftest.py
  romancal/regtest/regtestdata.py
Labels: dependencies, regression_testing

enable verbose pytest output in jenkins tests
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

update changelog
  CHANGES.rst
Labels: none

re-enable pytest verbose output in jenkins files
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

swap inputs to DeepDiff
  romancal/regtest/regtestdata.py
Labels: regression_testing

change wcs test to evaluate ra/dec
  romancal/regtest/regtestdata.py
Labels: regression_testing

document compare_asdf, pretty print output
  JenkinsfileRT
  JenkinsfileRT_dev
  romancal/regtest/regtestdata.py
Labels: automation, regression_testing

change compare_asdf to return DiffResult instance
  JenkinsfileRT
  JenkinsfileRT_dev
  romancal/regtest/regtestdata.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/regtest/test_wfi_saturation.py
Labels: automation, regression_testing, Dark Current, dq_init, jump, linearity, photom, ramp_fitting, saturation, pipeline, Wide Field Instrument (WFI)

ignore cal_logs not meta.cal_logs
  romancal/regtest/conftest.py
Labels: regression_testing

disable lazy loading and memmaping for asdf comparison
  romancal/regtest/regtestdata.py
Labels: regression_testing

add initial tests for compare_asdf
  CHANGES.rst
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

Updates to fix validation bug.
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/step.py
Labels: regression_testing

Fix numpy legacy issue.
  romancal/resample/tests/test_resample.py
Labels: testing

Add ResampleStep to integration test.
  romancal/stpipe/integration.py
Labels: stpipe

add install instructions for development requirements
  README.md
Labels: documentation

split `requirements-dev.txt` into first and third party dev dependencies (#840)
  .github/workflows/roman_ci.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  README.md
  requirements-dev-st.txt
  requirements-dev-thirdparty.txt
  requirements-dev.txt
  tox.ini
Labels: documentation, dependencies, automation, testing, regression_testing

RCAL-646 Update to install asn_from_list
  pyproject.toml
Labels: dependencies

RCAL-646 Update to install asn_from_list (#884)
  pyproject.toml
Labels: dependencies

RCAL-647 Update pipeline to include refpix step as default
  romancal/pipeline/exposure_pipeline.py
  romancal/refpix/refpix_step.py
Labels: pipeline

RCAL-647 Update test_refpix & change log
  CHANGES.rst
  romancal/regtest/test_refpix.py
Labels: regression_testing

RCAL-647 Update pipeline to include refpix step as default (#890)
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/refpix/refpix_step.py
  romancal/regtest/test_refpix.py
Labels: regression_testing, pipeline

Add resample step documentation.
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/resample/arguments.rst
  docs/roman/resample/index.rst
  docs/roman/resample/main.rst
  docs/roman/resample/resample.rst
  docs/roman/resample/resample_step.rst
  docs/roman/resample/resample_utils.rst
Labels: documentation, pipeline

Add gwcs and astropy to sphinx mapping.
  docs/conf.py
Labels: documentation

Small refactoring and docstring improvements.
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
Labels: none

Style check fixes.
  CHANGES.rst
  docs/conf.py
  docs/roman/resample/main.rst
  docs/roman/resample/resample_utils.rst
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
Labels: documentation

force uninstall deepdiff to install the dev version (not dynamically versioned)
  JenkinsfileRT_dev
Labels: automation, regression_testing
