Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Implemented support for quantities in reference files. Updated unit tests for these changes.
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: dependencies, testing, Dark Current, dq_init, flatfield, jump, ramp_fitting, saturation

Updated changelog.
  CHANGES.rst
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/tests/test_saturation.py
Labels: testing, ramp_fitting, saturation

RCAL-460 Update default CR rejections in jump_step
  CHANGES.rst
  romancal/jump/jump_step.py
Labels: jump

RCAL-460 Update default CR rejections in jump_step, update Changes.rst
  CHANGES.rst
Labels: none

RCAL-460 Update default CR rejections in jump_step (#625)
  CHANGES.rst
  romancal/jump/jump_step.py
Labels: jump

Rebased
  pyproject.toml
Labels: dependencies

Implement Roman's TweakRegStep.
  romancal/assign_wcs/pointing.py
  romancal/assign_wcs/utils.py
  romancal/resample/__init__.py
  romancal/resample/resample_utils.py
  romancal/tweakreg/__init__.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/__init__.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, assign_wcs

Remove TODO.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Add entry to CHANGES.rst.
  CHANGES.rst
Labels: none

Fix codestyle issues.
  romancal/assign_wcs/pointing.py
  romancal/assign_wcs/utils.py
  romancal/tweakreg/tweakreg_step.py
Labels: assign_wcs

Add spacetelescope/tweakwcs to the requirements.
  requirements-dev.txt
Labels: dependencies

Fix security issues.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Fix more codestyle issues.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Add spacetelescope/tweakwcs to proj dependencies.
  pyproject.toml
Labels: dependencies

Add suffix for tweakregstep.
  romancal/lib/suffix.py
Labels: none

Revert WCS corrector to JWSTCorrector in tweakwcs.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Updated changelog.
  CHANGES.rst
Labels: none

Addressed PR comments.
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/saturation/saturation.py
Labels: ramp_fitting, saturation

Updated rad dependencies.
  pyproject.toml
Labels: dependencies

RCAL-440 Add support for Reference File Quantities (#624)
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: dependencies, testing, Dark Current, dq_init, flatfield, jump, ramp_fitting, saturation

Tweaked for merging with RCAL-440
  romancal/dark_current/tests/test_dark.py
  romancal/jump/jump_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, Dark Current, jump, ramp_fitting

Addressed PR Comments.
  romancal/flatfield/flat_field.py
Labels: flatfield

Rcal 406 science array quantities (#616)
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: dependencies, testing, Dark Current, dq_init, flatfield, jump, linearity, ramp_fitting, saturation

Add pygrep based checks More complex formatting checks based on grep
  .pre-commit-config.yaml
Labels: none

Add initial pre-commit configuration Adds basic sanity checking and whitespace formatting
  .pre-commit-config.yaml
Labels: none

Changes made by initial pre-commit
  .github/pull_request_template.md
  .github/workflows/label_pull_request.yml
  CODEOWNERS.txt
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/index.rst
  docs/roman/assign_wcs/main.rst
  docs/roman/dark_current/description.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/models.rst
  docs/roman/dq_init/description.rst
  docs/roman/flatfield/reference_files.rst
  docs/roman/introduction.rst
  docs/roman/jump/description.rst
  docs/roman/photom/description.rst
  docs/roman/photom/index.rst
  docs/roman/photom/reference_files.rst
  docs/roman/pipeline_installation.rst
  docs/roman/pipeline_ref_files.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_steps.rst
  docs/roman/ramp_fitting/reference_files.rst
  docs/roman/references_general/dark_selection.inc
  docs/roman/references_general/distortion_reffile.rst
  docs/roman/references_general/distortion_selection.inc
  docs/roman/references_general/linearity_selection.inc
  docs/roman/references_general/mask_reffile.inc
  docs/roman/references_general/mask_selection.inc
  docs/roman/references_general/photom_reffile.inc
  docs/roman/references_general/photom_selection.inc
  docs/roman/references_general/readnoise_reffile.inc
  docs/roman/references_general/readnoise_reffile.rst
  docs/roman/references_general/readnoise_selection.inc
  docs/roman/references_general/readnoise_selection.rst
  docs/roman/references_general/saturation_reffile.inc
  docs/roman/refpix/description.rst
  docs/roman/stpipe/config_asdf.rst
  docs/roman/stpipe/user_logging.rst
  pytest.ini
  tox.ini
Labels: documentation, automation, testing, assign_wcs, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline

Add flake8 hook
  .pre-commit-config.yaml
  docs/exts/numfig.py
Labels: documentation

Add pyupgrade hook Pyupgrade will automatically upgrade python syntax to the latest versions of commands, which tend to be faster and/or more efficient.
  .pre-commit-config.yaml
Labels: none

Switch to using pre-commit for style checks
  .github/workflows/roman_ci.yml
  tox.ini
Labels: automation, testing

Changes made by pyugrade
  docs/conf.py
  docs/exts/numfig.py
  romancal/assign_wcs/assign_wcs_step.py
  romancal/lib/basic_utils.py
  romancal/lib/suffix.py
  romancal/regtest/conftest.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/tests/base_classes.py
Labels: documentation, testing, regression_testing, assign_wcs, pipeline, Wide Field Instrument (WFI)

Update changes
  CHANGES.rst
Labels: none

Add bandit hook and configuration
  .pre-commit-config.yaml
  pyproject.toml
Labels: dependencies

Update CRDS context to roman_0040.pmap
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

rcal-471 Update unit in linearity step
  romancal/linearity/linearity_step.py
Labels: linearity

rcal-471 Update changes.rst
  CHANGES.rst
Labels: none

rcal-471 Update changes.rst
  CHANGES.rst
Labels: none

RCAL-471 Update crds context and output units for the linearity step (#646)
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  romancal/linearity/linearity_step.py
Labels: automation, regression_testing, linearity

rcal-317 Code cleanup and pylint changes
  romancal/associations/association_io.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/tests/test_registry.py
Labels: testing, associations

rcal-317 Saving changes
  romancal/associations/__init__.py
  romancal/associations/asn_from_list.py
  romancal/associations/association.py
  romancal/associations/exceptions.py
  romancal/associations/lib/callback_registry.py
  romancal/associations/lib/constraint.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/ioregistry.py
  romancal/associations/lib/keyvalue_registry.py
  romancal/associations/lib/member.py
  romancal/associations/lib/process_list.py
  romancal/associations/lib/product_utils.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/utilities.py
  romancal/associations/load_asn.py
  romancal/associations/registry.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/lib/signal_slot.py
Labels: testing, associations

Changes.rst
  CHANGES.rst
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
