Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

fix incorrect boolean comparison within isfile()
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

Add unit test to ensure that OutlierDetectionStep always return a ModelContainer.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

fix incorrect boolean comparison within `isfile()` (#1210)
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

rcal-803 Initial prototype code
  romancal/pipeline/highlevel_pipeline.py
  romancal/resample/resample.py
Labels: pipeline

rcal-803 remove unused imports
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-803 Remove unused variable
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-803 Add PR number
  CHANGES.rst
Labels: none

rcal-803 Updates to hlp for skycell name and logs
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-803 Updates to resample from upstream
  romancal/resample/resample.py
Labels: none

rcal-803 Format fixes for ruff
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

Add unit test to ensure that OutlierDetectionStep always return a ModelContainer.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Rcal 803 Initial resampling to skycell in the hlp (#1214)
  CHANGES.rst
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

adding plotting utility (#1204)
  CHANGES.rst
  romancal/patch_match/patch_plot.py
Labels: none

update changelog
  CHANGES.rst
Labels: none

implement unit test
  romancal/resample/tests/test_resample.py
Labels: testing

Populate the l3 product individual_image_meta block
  romancal/resample/resample.py
Labels: none

fix typo introduced into a completely unrelated test
  romancal/resample/tests/test_resample.py
Labels: testing

Misc fixes to get regtests to go.
  JenkinsfileRT
  JenkinsfileRT_dev
  requirements-sdp.txt
  romancal/regtest/regtestdata.py
  romancal/scripts/make_regtestdata.sh
Labels: dependencies, automation, regression_testing

Update some L3 file names to be less weird.
  romancal/regtest/test_catalog.py
  romancal/regtest/test_hlp_pipeline.py
  romancal/scripts/make_regtestdata.sh
Labels: regression_testing, pipeline

pass exclude/ignore options to table meta comparison
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

Update L2 input file names for L3 skycell product.
  romancal/scripts/make_regtestdata.sh
Labels: none

Do not check IIM in regtests since the string arrays don't compare well.
  romancal/regtest/conftest.py
  romancal/scripts/make_regtestdata.sh
Labels: regression_testing

Remove nocell from L3 name, bump gwcs dependency to 0.21.0.
  pyproject.toml
  romancal/regtest/test_hlp_pipeline.py
Labels: dependencies, regression_testing, pipeline

Remove nocell name.
  romancal/regtest/test_catalog.py
Labels: regression_testing

Remove nocell name.
  romancal/scripts/make_regtestdata.sh
Labels: none

Remove nocell name.
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

Handle cases where skycell name isn't available.
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

Also ignore version information in Table schema meta.
  romancal/regtest/regtestdata.py
Labels: regression_testing

freeze change log for release and pin rad and roman_datamodels to latest releases
  CHANGES.rst
  pyproject.toml
Labels: dependencies

update actions version
  .github/workflows/build.yml
  .github/workflows/data.yml
Labels: automation

add dependabot configuration
  .github/dependabot.yml
Labels: automation

update actions version (#1096)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/data.yml
Labels: automation

populate SDP requirements
  requirements-sdp.txt
Labels: dependencies

freeze change log for release
  CHANGES.rst
  pyproject.toml
Labels: dependencies

update software build table with newest releases
  README.md
Labels: documentation

update SDP requirements
  requirements-sdp.txt
Labels: dependencies

Implement PSF photometry into SourceCatalogStep.
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
Labels: none

Small refactoring to improve code readability.
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
Labels: none

Unit tests small refactoring.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

update software build table with newest releases
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
