Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

port over jwst library unit tests
  romancal/datamodels/tests/test_library.py
Labels: testing

fix flux tests
  romancal/flux/tests/test_flux_step.py
Labels: testing

update outlier_detection to use shelve
  romancal/datamodels/library.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: testing

fixing another borrow
  romancal/tweakreg/tweakreg_step.py
Labels: none

switch ModelStore to use path instead of directory name
  romancal/datamodels/library.py
Labels: none

fix outlier_detection tests
  romancal/datamodels/library.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

update resample to use shelve
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
Labels: testing

support overwrite=True in save
  romancal/datamodels/library.py
Labels: none

use shelve, change __exit__ error handling
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
Labels: testing

remove ModelContainer
  romancal/datamodels/__init__.py
  romancal/datamodels/container.py
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

remove _is_asn in skymatch
  romancal/skymatch/skymatch_step.py
Labels: none

fix library exception test
  romancal/datamodels/tests/test_library.py
Labels: testing

return non-shelved model in tweakreg
  romancal/tweakreg/tweakreg_step.py
Labels: none

WIP update to outlier_detection
  romancal/datamodels/library.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

remove ModelLibrary.__getitem__ usage
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

add table_name try to fix hlp test
  romancal/datamodels/library.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/resample/resample_step.py
Labels: pipeline

undo outlier detection resample single usage
  romancal/outlier_detection/outlier_detection.py
Labels: none

remove meta.asn.exptype usage
  romancal/datamodels/library.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

remove ModelLibrary.asn_table_name
  romancal/datamodels/library.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: none

add changelog
  CHANGES.rst
Labels: none

fix skipped test
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

fix bug introduced in rebase
  romancal/resample/resample.py
Labels: none

clean up comments
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, pipeline

use filenames instead of meta.filename for resample members
  romancal/resample/resample.py
Labels: none

switch to stpipe main
  pyproject.toml
Labels: dependencies

modify asn metadata setting in models
  romancal/datamodels/library.py
  romancal/resample/resample.py
Labels: none

fix asn_pool->pool_name
  romancal/datamodels/library.py
Labels: none

clean up comments
  romancal/resample/resample.py
  romancal/tweakreg/tweakreg_step.py
Labels: none

fix ResampleData docstring
  romancal/resample/resample.py
Labels: none

fix error message
  romancal/resample/resample.py
Labels: none

fix docstring
  romancal/datamodels/library.py
Labels: none

redo #1314
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

delete unreachable code
  romancal/outlier_detection/outlier_detection.py
Labels: none

remove unreachable code from PR
  romancal/outlier_detection/outlier_detection.py
Labels: none

use monkeypatch in patch_match tests to avoid global state change
  romancal/patch_match/test/test_patch_match.py
Labels: none

metadata updates for release 0.15.2
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

update SDP requirements
  requirements-sdp.txt
Labels: dependencies

pin Numpy < 2
  pyproject.toml
Labels: dependencies

metadata updates for release `0.15.2` (#1324)
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

Pin stcal for development
  CHANGES.rst
  pyproject.toml
Labels: dependencies

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
