Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Revert "avoid validation in a more obvious way"
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
Labels: regression_testing

remove use of `_instance`
  romancal/flux/flux_step.py
Labels: none

fully register the new step FluxStep
  romancal/flux/flux_step.py
  romancal/lib/suffix.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: stpipe

create credible test data
  romancal/flux/tests/test_flux_step.py
Labels: testing

Update HLP to include flux
  romancal/pipeline/highlevel_pipeline.py
  romancal/regtest/test_hlp.py
Labels: regression_testing, pipeline

remove unnecessary de-unitizing in the test
  romancal/flux/tests/test_flux_step.py
Labels: testing

add step parameter "flux_correct"
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: none

initial implementation of the flux correction
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
Labels: regression_testing

setup test for ModelContainer input
  romancal/flux/tests/test_flux_step.py
Labels: testing

Revert "initial implementation of the flux correction"
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
Labels: regression_testing

Revert "add step parameter "flux_correct""
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: none

actually apply the flux correction
  romancal/flux/flux_step.py
Labels: none

avoid validation in a more obvious way
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
Labels: regression_testing

update changelog
  CHANGES.rst
Labels: none

add more unit conversion
  romancal/flux/flux_step.py
Labels: none

update test for unit conversion
  romancal/flux/tests/test_flux_step.py
Labels: testing

parameterize expected Level 2 units
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing

completely parameterize level 2 units in the unit test
  romancal/flux/tests/test_flux_step.py
Labels: testing

fix document formatting
  docs/roman/flux/main.rst
Labels: documentation

changes related to RAD-155
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

temp point to rad-155 brnaches
  pyproject.toml
Labels: dependencies

add change log
  CHANGES.rst
Labels: none

Revert "Update HLP to include flux"
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

remove hlp regression test
  romancal/regtest/test_hlp.py
Labels: regression_testing

Fixed RAD and RDM pointers.
  pyproject.toml
Labels: dependencies

Removed unneeded lines.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

change the Level 2 units to DN/s
  romancal/flux/flux_step.py
Labels: none

Updated psf test units.
  romancal/lib/tests/test_psf.py
Labels: testing

point to rad and roman_datamodels main branches
  pyproject.toml
Labels: dependencies

Update PSF fitting.
  romancal/lib/psf.py
  romancal/source_detection/source_detection_step.py
Labels: none

Use updated dq flag location.
  romancal/lib/psf.py
Labels: none

Update changelog.
  CHANGES.rst
Labels: none

RCAL-776: Change image units. (#1128)
  CHANGES.rst
  docs/roman/data_products/product_types.rst
  pyproject.toml
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/lib/tests/test_psf.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/resample/tests/test_resample.py
Labels: documentation, dependencies, testing, flatfield, ramp_fitting

Update CHANGES.rst
  CHANGES.rst
Labels: none

Update change log.
  CHANGES.rst
Labels: none

Update change log.
  CHANGES.rst
Labels: none

Update docs.
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

Incorporate dark_slope into ramp fitting.
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

Fix some dangling references to basic.filename and basic.telescope.
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

Fix remnant of conflict resolution.
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: testing
