Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

clean out exposure-level calculations to be filled in
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

remove even resultant content and redefine the weighting
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

update changelog
  CHANGES.rst
Labels: none

remove discussion of vanishing k
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

copy-edit
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

get the segment/resultant terminology right
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

remove extraneous text
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

explicitly state that no fitting is done with only one segment
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

fix squaring denominators
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

add plain ols to toc and fix heading issue
  docs/roman/ramp_fitting/description_ols.rst
  docs/roman/ramp_fitting/index.rst
Labels: documentation, ramp_fitting

remove bias discussion from variance calculation
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

RCAL-513 Update uneven ramp fitting documentation (#944)
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/ramp_fitting/arguments.rst
  docs/roman/ramp_fitting/description.rst
  docs/roman/ramp_fitting/description_ols.rst
  docs/roman/ramp_fitting/index.rst
Labels: documentation, ramp_fitting

update changelog
  CHANGES.rst
Labels: none

remove checks on CI in production code
  romancal/stpipe/core.py
Labels: stpipe

create test for crds meta setting
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

change script name to roman_static_preview
  pyproject.toml
Labels: dependencies

RCAL-644 Remove checks on CI in production code (#955)
  CHANGES.rst
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

Create resampled exposure time images for use in creating good total mosaic exposure time values.
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

Update changelog.
  CHANGES.rst
Labels: none

Add marker to skip `webbpsf` tests by default This is to make it simpler for users to run their tests.
  conftest.py
  romancal/lib/tests/test_psf.py
Labels: testing

Enable webbpsf for CI testing
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  tox.ini
Labels: automation, testing, regression_testing

Update readme
  README.md
Labels: documentation

Skip webbpsf tests by default (#958)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  README.md
  conftest.py
  romancal/lib/tests/test_psf.py
  tox.ini
Labels: documentation, automation, testing, regression_testing

fix copy from stpipe
  .github/workflows/data.yml
Labels: automation

use reusable workflow from CRDS
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

remove check-build as it is now build.yml
  .github/workflows/roman_ci.yml
Labels: automation, testing

rcal-697 Update exposure pipeline to add tweakreg step
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-697 Update PR number
  CHANGES.rst
Labels: none

rcal-697 Update exposure pipeline to add tweakreg step (#960)
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

retrieve CRDS contexts in CI with a reusable workflow (#954)
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

Turn webbpsf marker stuff into a pytest plugin
  pyproject.toml
  pytest_plugin/__init__.py
  pytest_plugin/webbpsf_plugin.py
Labels: dependencies

Additional check for data quality.
  romancal/regtest/test_resample.py
Labels: regression_testing

Bugfix webbpsf marker (#961)
  pyproject.toml
  pytest_plugin/__init__.py
  pytest_plugin/webbpsf_plugin.py
Labels: dependencies

add default output handling
  romancal/scripts/preview.py
Labels: none

add north arrow to preview
  romancal/scripts/preview.py
Labels: none

add compass option
  romancal/scripts/preview.py
Labels: none

pin stpreview features
  pyproject.toml
Labels: dependencies

Update romancal/regtest/test_resample.py
  romancal/regtest/test_resample.py
Labels: regression_testing

don't attempt to import static preview script
  pyproject.toml
  romancal/scripts/static_preview.py
  romancal/tests/test_import.py
Labels: dependencies, testing

RCAL-670: additional check for data quality test. (#964)
  romancal/regtest/test_resample.py
Labels: regression_testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
