Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Update roman crds server to test so that the latest updates are used (#705)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

Update CRDS context for 23Q3_B10 (#703)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

RCAL-567 Update unit tests to add tmpdir for test files (#702)
  CHANGES.rst
  romancal/associations/main.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing, associations

RCAL-548 Include dq flag for GW_AFFECTED_DATA (#699)
  CHANGES.rst
  docs/roman/dq_init/reference_files.rst
  docs/roman/references_general/dq_flags.inc
  docs/roman/references_general/references_general.rst
Labels: documentation, dq_init

Update tweakreg unit tests for ASN input.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Add new test for ASN files.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Improve error-handling and additional tests for get_catalog.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Add regtest for TweakReg.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Updates to unit test.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Error-handling improvements to TweakReg and get_catalog method.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

pin datamodels above 0.15.0
  pyproject.toml
Labels: dependencies

freeze change log for release
  CHANGES.rst
Labels: none

open change log for development
  CHANGES.rst
Labels: none

Add regression test for TweakReg.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

update SDP requirements for delivery
  requirements-sdp.txt
Labels: dependencies

Add CHANGES entry.
  CHANGES.rst
Labels: none

Add DMS number to log message.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Update the CI
  .github/workflows/roman_ci.yml
Labels: automation, testing

Remove missed xdist
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

Add label trigger for weekly
  .github/workflows/roman_ci_cron.yaml
Labels: automation

Apply suggestions from code review
  .github/workflows/roman_ci_cron.yaml
Labels: automation

add sdpdeps toxenv
  tox.ini
Labels: testing

Fix returned result from SourceDetectionStep.
  romancal/source_detection/source_detection_step.py
Labels: none

Add entry to CHANGES.rst file
  CHANGES.rst
Labels: none

Add entry to CHANGES.rst file
  CHANGES.rst
Labels: none

Fix returned result from SourceDetectionStep.
  romancal/source_detection/source_detection_step.py
Labels: none

Fix docstring to show code snippet without running tests on it.
  romancal/datamodels/container.py
Labels: none

Update romancal datamodels unit tests.
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Add container doc.
  docs/roman/datamodels/container.rst
Labels: documentation

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Add PR number to CHANGES.rst entry..
  CHANGES.rst
Labels: none

Code update to handle association files in ModelContainer.
  romancal/datamodels/container.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Fix docs to prevent test from running on code examples.
  docs/roman/tweakreg/tweakreg_examples.rst
Labels: documentation

Check style fixes.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Update docs.
  docs/roman/datamodels/index.rst
  docs/roman/package_index.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/datamodels/container.py
Labels: documentation

Add container to romancal.
  romancal/datamodels/__init__.py
  romancal/datamodels/container.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Bug fix.
  docs/roman/tweakreg/tweakreg_examples.rst
Labels: documentation

Add romancal datamodels unit tests.
  romancal/datamodels/tests/__init__.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Add additional methods to ModelContainer to match JWST's.
  romancal/datamodels/container.py
Labels: none

Documentation update for rtd and the contrib (#674)
  CHANGES.rst
  CONTRIBUTING.md
  docs/roman/associations/overview.rst
Labels: documentation, associations

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
