Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

remove ModelLibrary.__getitem__ usage
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

remove ModelContainer from highlevel_pipeline
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

use library from stpipe
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
Labels: testing

fix outlier_detection tests
  romancal/datamodels/library.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

fix flux tests
  romancal/flux/tests/test_flux_step.py
Labels: testing

fix tweakreg tests
  romancal/datamodels/library.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

use resample many_to_many in outlier detection
  CHANGES.rst
  romancal/outlier_detection/outlier_detection.py
Labels: none

update outlier detection unit test, fix oldestdeps
  pyproject.toml
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: dependencies, testing

replace deprecated stpipe configobj with astropy
  romancal/resample/resample_step.py
Labels: none

use resample many_to_many in outlier detection
  CHANGES.rst
  romancal/outlier_detection/outlier_detection.py
Labels: none

update outlier detection unit test, fix oldestdeps
  pyproject.toml
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: dependencies, testing

Revert "pin numpy <2 (#1275)"
  CHANGES.rst
  pyproject.toml
Labels: dependencies

pass open models through datamodels_open
  romancal/stpipe/core.py
Labels: stpipe

allow pars files
  docs/roman/outlier_detection/outlier_examples.rst
  docs/roman/pipeline_run.rst
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_wfi_16resultants.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/scripts/make_regtestdata.sh
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: documentation, testing, regression_testing, stpipe, pipeline, Wide Field Instrument (WFI)

remove duplicate test
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

add changelog
  CHANGES.rst
Labels: none

rcal-859 Update okify script to use GA directories on artifactory
  CHANGES.rst
  romancal/scripts/okify_regtests.py
Labels: none

rcal-859 Add PR number
  CHANGES.rst
Labels: none

increase conda version
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Do not set conda version in Jenkinsfile(s)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

testing with coverage upload
  .github/workflows/roman_ci.yml
Labels: automation, testing

Code refactoring and unit-tests update.
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Do not set conda version in Jenkinsfile(s)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

pass open models through datamodels_open
  romancal/stpipe/core.py
Labels: stpipe

add changelog
  CHANGES.rst
Labels: none

remove duplicate test
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

allow pars files
  docs/roman/outlier_detection/outlier_examples.rst
  docs/roman/pipeline_run.rst
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_wfi_16resultants.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/scripts/make_regtestdata.sh
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: documentation, testing, regression_testing, stpipe, pipeline, Wide Field Instrument (WFI)

replace deprecated stpipe configobj with astropy
  romancal/resample/resample_step.py
Labels: none

Code refactoring and tests update.
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

rcal-859 Update okify script to use GA directories on artifactory (#1282)
  CHANGES.rst
  romancal/scripts/okify_regtests.py
Labels: none

Integrate SourceCatalogStep into ELP pipeline.
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/source_catalog/source_catalog_step.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Address comments.
  romancal/source_catalog/source_catalog_step.py
  romancal/tweakreg/tweakreg_step.py
Labels: none

Update unit tests.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Add change entry.
  CHANGES.rst
Labels: none

add upper pin for photutils
  pyproject.toml
Labels: dependencies

unpin webbpsf
  pyproject.toml
Labels: dependencies

Update photutils version
  pyproject.toml
Labels: dependencies

Fix psf tests
  romancal/lib/tests/test_psf.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Require numpy 1.23+
  pyproject.toml
Labels: dependencies

rcal-827 Add regression test for skycell mosaic generation
  JenkinsfileRT
  romancal/regtest/test_mos_pipeline.py
Labels: automation, regression_testing, pipeline
