Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Suppress bid data for CI
  pyproject.toml
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
  romancal/refpix/tests/test_step.py
Labels: dependencies, testing

Tie refpix into the rest of romancal
  romancal/pipeline/exposure_pipeline.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: stpipe, pipeline

Finish refactoring the steps and the tests
  romancal/refpix/data.py
  romancal/refpix/refpix.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Update changes
  CHANGES.rst
Labels: none

Intermediate reference pixel correction changes
  romancal/refpix/refpix.py
  romancal/refpix/tests/__init__.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Clean up the files and names
  romancal/refpix/constants.py
  romancal/refpix/data.py
  romancal/refpix/data2.py
  romancal/refpix/refpix.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_data2.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Add interpolation methods
  romancal/refpix/data2.py
  romancal/refpix/tests/test_data2.py
Labels: testing

Add amp33 fft interpolation
  romancal/refpix/refpix.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Remove use of the factories from roman_datamodels.
  romancal/refpix/tests/conftest.py
Labels: testing

Add logging statements
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
Labels: none

Update log messages
  romancal/refpix/refpix.py
Labels: none

Add refpix suffix
  romancal/lib/suffix.py
Labels: none

Grudging fix for python 3.9
  romancal/refpix/data.py
Labels: none

Set up for adding step
  romancal/refpix/__init__.py
Labels: none

Rename the step
  romancal/refpix/__init__.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/test_step.py
Labels: testing

Add comment on the purpose of the `reference_utils`
  romancal/refpix/tests/reference_utils.py
Labels: testing

Add step testing
  romancal/refpix/__init__.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/test_refpix.py
  romancal/refpix/tests/test_step.py
Labels: testing

Add method to update datamodel from the standard view
  romancal/refpix/data2.py
  romancal/refpix/tests/test_data2.py
Labels: testing

Fix the fft interpolation to have less copies and the correct precision.
  romancal/refpix/data2.py
  romancal/refpix/tests/reference_utils.py
Labels: testing

Fix warning
  romancal/refpix/data.py
Labels: none

Remove row dependence
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
Labels: testing

Begin refactor to account for view
  romancal/refpix/data2.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/test_data2.py
Labels: testing

Update doc strings
  romancal/refpix/data.py
Labels: none

Add tests for datamodel to standardview
  romancal/refpix/data2.py
  romancal/refpix/tests/test_data2.py
Labels: testing

Add reg test for refpix
  romancal/regtest/test_refpix.py
Labels: regression_testing

Remove bigdata
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
  romancal/refpix/tests/test_step.py
Labels: testing

Put a pin in the changes
  pyproject.toml
  romancal/refpix/data.py
  romancal/refpix/refpix.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
Labels: dependencies, testing

Implement the cosine interpolation
  romancal/refpix/refpix.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Add tests for entire step against reference
  romancal/refpix/refpix.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Add methods to re-apply the offset
  romancal/refpix/data2.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data2.py
Labels: testing

Add correction step
  romancal/refpix/data.py
  romancal/refpix/refpix.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Add step coordination routines
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
Labels: none

Add method to extract data from the reference model
  romancal/refpix/data2.py
  romancal/refpix/tests/test_data2.py
Labels: testing

Refactor the remove_linear_trends
  romancal/refpix/refpix.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Added correction computation, application, and testing
  romancal/refpix/data2.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data2.py
Labels: testing

Fix the logging
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
Labels: none

Fix pytest addopts
  pyproject.toml
Labels: dependencies

Fix pre-mature model close
  romancal/refpix/refpix_step.py
Labels: none

Refactor the remove_offset
  romancal/refpix/refpix.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Update crds context
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
