Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Remove `codecov` test dependency (#677)
  CHANGES.rst
  JenkinsfileRT
  pyproject.toml
Labels: dependencies, automation, regression_testing

Update get_catalog to use VO service instead of astroquery.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Remove astroquery dependencies.
  pyproject.toml
Labels: dependencies

Update default abs refcat.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Style fixes.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Remove pandas formats.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

TweakReg: update to use VO instead of astroquery. (#678)
  pyproject.toml
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: dependencies, testing

Revert "Remove codecov from test dependencies."
  pyproject.toml
Labels: dependencies

General updates and fixes.
  docs/roman/tweakreg/README.rst
  docs/roman/tweakreg/index.rst
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing

Docs update with examples.
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/tweakreg/README.rst
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: documentation, testing, pipeline

Remove `codecov` test dependency
  pyproject.toml
Labels: dependencies

Add new doc files.
  docs/roman/tweakreg/astrometric_utils.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  docs/roman/tweakreg/tweakreg_step.rst
  romancal/tweakreg/tests/test_tweakreg.py
Labels: documentation, testing

Fix docstep-skip flag.
  docs/roman/tweakreg/tweakreg_examples.rst
Labels: documentation

Update installation command for macOS system.
  docs/roman/pipeline_installation.rst
Labels: documentation, pipeline

Add timeout to VO requests.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Update installation command for macOS system.
  docs/roman/pipeline_installation.rst
Labels: documentation, pipeline

Remove `stdatamodels` import
  romancal/conftest.py
Labels: none

Update changes
  CHANGES.rst
Labels: none

RCAL-490 (#676)
  CHANGES.rst
  romancal/conftest.py
Labels: none

RCAL-490 (#676)
  CHANGES.rst
  romancal/conftest.py
Labels: none

Docs update with examples.
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/tweakreg/README.rst
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: documentation, testing, pipeline

Remove `codecov` test dependency
  pyproject.toml
Labels: dependencies

Revert "Remove codecov from test dependencies."
  pyproject.toml
Labels: dependencies

Add timeout to VO requests.
  romancal/tweakreg/astrometric_utils.py
Labels: none

General updates and fixes.
  docs/roman/tweakreg/README.rst
  docs/roman/tweakreg/index.rst
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing

Fix docstep-skip flag.
  docs/roman/tweakreg/tweakreg_examples.rst
Labels: documentation

Add new doc files.
  docs/roman/tweakreg/astrometric_utils.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  docs/roman/tweakreg/tweakreg_step.rst
  romancal/tweakreg/tests/test_tweakreg.py
Labels: documentation, testing

inject dependency override after build
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Implement handling of new tweakreg_catalog attribute.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Include TweakReg in expose_pipeline.py.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

remove stdatamodels ValidationWarning from test
  romancal/dq_init/tests/test_dq_init.py
Labels: testing, dq_init

remove stdatamodels from dev testing
  requirements-dev.txt
Labels: dependencies

update docstring to mention roman_datamodels
  romancal/stpipe/core.py
Labels: stpipe

Remove test dependency on stdatamodels.
  romancal/dq_init/tests/test_dq_init.py
Labels: testing, dq_init

remove stdatamodels ValidationWarning from test
  romancal/dq_init/tests/test_dq_init.py
Labels: testing, dq_init

remove stdatamodels from dev testing
  requirements-dev.txt
Labels: dependencies

update docstring to mention roman_datamodels
  romancal/stpipe/core.py
Labels: stpipe

Small refactoring.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Expose SourceDetectionStep and TweakRegStep as pipeline steps.
  romancal/step.py
Labels: none

Fix integration test.
  romancal/stpipe/integration.py
Labels: stpipe
