Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

update script name
  CHANGES.rst
Labels: none

add check for image model
  romancal/scripts/static_preview.py
Labels: none

rcal-700 Update exposure pipeline to correct cal_step and suffixes
  CHANGES.rst
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-700 Add PR number
  CHANGES.rst
Labels: none

rcal-700 Fix a typo
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

use version of `stpreview` with `numpy.nanmean` as default
  pyproject.toml
Labels: dependencies

rcal-700 Update exposure pipeline to correct cal_step and suffixes (#971)
  CHANGES.rst
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

use `numpy.nanmean` in function argument
  romancal/scripts/static_preview.py
Labels: none

RCAL-629: static preview generation script (#953)
  CHANGES.rst
  pyproject.toml
  romancal/scripts/static_preview.py
  romancal/tests/test_import.py
Labels: dependencies, testing

call function directly from `project.scripts`
  pyproject.toml
  scripts/asn_from_list
Labels: dependencies

added change log entry
  CHANGES.rst
Labels: none

fixed `asn_from_list` script (#972)
  CHANGES.rst
  pyproject.toml
  scripts/asn_from_list
Labels: dependencies

don't test script directory
  pyproject.toml
Labels: dependencies

don't run tests on `romancal/scripts` (#975)
  pyproject.toml
Labels: dependencies

remove usage of ddtrace as DataDog stopped working
  .github/workflows/roman_ci.yml
  JenkinsfileRT
Labels: automation, testing, regression_testing

try removing ddtrace from installed packages
  JenkinsfileRT
Labels: automation, regression_testing

Protect imports better
  romancal/scripts/static_preview.py
Labels: none

restrict artifactory result search
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Update changelog.
  CHANGES.rst
Labels: none

add instructions for downloading WebbPSF data (#937)
  README.md
Labels: documentation

Update Cas22 ramp fitting to integrate with the jump detection changes in stcal (#933)
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

Filter catalog sources that are outside of the bounding box
  CHANGES.rst
  romancal/tweakreg/tweakreg_step.py
Labels: none

attempt at reusable workflow
  .github/workflows/roman_ci.yml
  .github/workflows/webbpsf_data.yml
Labels: automation, testing

add wcs to model used in compare_asdf tests
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

Rcal 504 develop the resample step (#787)
  CHANGES.rst
  docs/conf.py
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/resample/arguments.rst
  docs/roman/resample/index.rst
  docs/roman/resample/main.rst
  docs/roman/resample/resample.rst
  docs/roman/resample/resample_step.rst
  docs/roman/resample/resample_utils.rst
  pyproject.toml
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/utils.py
  romancal/datamodels/container.py
  romancal/lib/suffix.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_resample.py
  romancal/resample/__init__.py
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/__init__.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, dependencies, testing, regression_testing, assign_wcs, stpipe, pipeline

update changelog
  CHANGES.rst
Labels: none

add comment about webbpsf download skip
  .github/workflows/data.yml
Labels: automation

Skip webbpsf tests by default (#958)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  README.md
  conftest.py
  romancal/lib/tests/test_psf.py
  tox.ini
Labels: documentation, automation, testing, regression_testing

perform extra checks and avoid name error
  romancal/tweakreg/tweakreg_step.py
Labels: none

RCAL-644 Remove checks on CI in production code (#955)
  CHANGES.rst
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

RCAL-693: Removed err array from dark tests. (#938)
  CHANGES.rst
  romancal/dark_current/tests/test_dark.py
Labels: testing, Dark Current

add `.git` to dev dependency specifications (#932)
  requirements-dev-st.txt
  requirements-dev-thirdparty.txt
Labels: dependencies

Create resampled exposure time images for use in creating good total mosaic exposure time values.
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

change webbpsf data caching in github CI
  .github/workflows/roman_ci.yml
  .github/workflows/webbpsf_data.yml
Labels: automation, testing

RCAL-513 Update uneven ramp fitting documentation (#944)
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/ramp_fitting/arguments.rst
  docs/roman/ramp_fitting/description.rst
  docs/roman/ramp_fitting/description_ols.rst
  docs/roman/ramp_fitting/index.rst
Labels: documentation, ramp_fitting

add webbpsf and poppy to dev requirements
  requirements-dev-st.txt
Labels: dependencies

debug
  .github/workflows/data.yml
Labels: automation

simplifying paths and outputs
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  .github/workflows/webbpsf_data.yml
Labels: automation, testing

rename webbpsf_data.yml to data.yml
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

fix webbpsf path
  .github/workflows/data.yml
Labels: automation
