Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Removed extranneous line.
  romancal/source_detection/source_detection_step.py
Labels: none

Kicking off tests.
  CHANGES.rst
Labels: none

Fix source detection object instantiation. (#669)
  CHANGES.rst
  romancal/source_detection/source_detection_step.py
Labels: none

add code owners file
  .github/CODEOWNERS
Labels: automation

fix usernames
  .github/CODEOWNERS
Labels: automation

Update method to fetch catalog data.
  romancal/tweakreg/astrometric_utils.py
Labels: none

use maintainer team
  .github/CODEOWNERS
Labels: automation

add code owners file (#670)
  .github/CODEOWNERS
Labels: automation

Unit test for get_catalog and some refactoring.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Add astroquery to dependencies.
  pyproject.toml
Labels: dependencies

add code owners file (#670)
  .github/CODEOWNERS
Labels: automation

Bug fix.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

use built-in concurrency configuration
  .github/workflows/cancel_workflows.yml
  .github/workflows/roman_ci.yml
Labels: automation, testing

Add astrometric_utils test suite and Improve error message.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Add pandas to dependencies.
  pyproject.toml
Labels: dependencies

Bump numpy version.
  pyproject.toml
Labels: dependencies

Update method to fetch catalog data.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Bug fix.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Add pandas to dependencies.
  pyproject.toml
Labels: dependencies

Unit test for get_catalog and some refactoring.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Add astrometric_utils test suite and Improve error message.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Add astroquery to dependencies.
  pyproject.toml
Labels: dependencies

Bump numpy version.
  pyproject.toml
Labels: dependencies

remove partition wording from docs
  docs/roman/associations/overview.rst
Labels: documentation, associations

use Python 3.11
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

add job with Python 3.9
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

update text in associations overview
  docs/roman/associations/overview.rst
Labels: documentation, associations

update contrib docs to change master to main
  CONTRIBUTING.md
Labels: documentation

Revert "Add astroquery to dependencies."
  pyproject.toml
Labels: dependencies

Revert "Unit test for get_catalog and some refactoring."
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Revert "Bug fix."
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Revert "Bump numpy version."
  pyproject.toml
Labels: dependencies

Revert "Add astrometric_utils test suite and Improve error message."
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Revert "Add pandas to dependencies."
  pyproject.toml
Labels: dependencies

Revert "Update method to fetch catalog data."
  romancal/tweakreg/astrometric_utils.py
Labels: none

Added relevent document changes to CHANGES
  CHANGES.rst
Labels: none

cleanup build runners
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Remove `codecov` test dependency
  JenkinsfileRT
  pyproject.toml
Labels: dependencies, automation, regression_testing

Update changes
  CHANGES.rst
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
