Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Add entry to CHANGES.rst.
  CHANGES.rst
Labels: none

Changed error-handling logic.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Updates to unit test.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Apply suggestions from code review
  docs/roman/skymatch/description.rst
  romancal/skymatch/skyimage.py
Labels: documentation

Update romancal/skymatch/region.py
  romancal/skymatch/region.py
Labels: none

Add TR's regtest WIP.
  pyproject.toml
  romancal/regtest/test_tweakreg.py
Labels: dependencies, regression_testing

Set type of source_detection to stnode.SourceDetection.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Style fixes.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

RCAL-548 Include dq flag for GW_AFFECTED_DATA
  CHANGES.rst
  docs/roman/dq_init/reference_files.rst
  docs/roman/references_general/dq_flags.inc
  docs/roman/references_general/references_general.rst
Labels: documentation, dq_init

RCAL-548 Include dq flag for GW_AFFECTED_DATA
  CHANGES.rst
Labels: none

Update romancal/skymatch/region.py
  romancal/skymatch/region.py
Labels: none

Update romancal/skymatch/region.py
  romancal/skymatch/region.py
Labels: none

Add new test for ASN files.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Changed error-handling logic.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Remove commented out code.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Add entry to CHANGES.rst.
  CHANGES.rst
Labels: none

Updates to unit test.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Improve error-handling and additional tests for get_catalog.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Error-handling improvements to TweakReg and get_catalog method.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Improve error-handling and additional tests for get_catalog.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Error-handling improvements to TweakReg and get_catalog method.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Changed error-handling logic.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Remove commented out code.
  romancal/tweakreg/astrometric_utils.py
Labels: none

Updates to unit test.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Add entry to CHANGES.rst.
  CHANGES.rst
Labels: none

Update tweakreg unit tests for ASN input.
  romancal/regtest/test_tweakreg.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, regression_testing

Error-handling improvements to TweakReg and get_catalog method.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Add new test for ASN files.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Code recovery.
  pyproject.toml
  romancal/regtest/test_tweakreg.py
Labels: dependencies, regression_testing

RCAL-567 Update unit tests to add tmpdir for test files
  romancal/associations/main.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing, associations

RCAL-567 Update unit tests to add tmpdir for test files
  CHANGES.rst
Labels: none

RCAL-567 ruff exceptions
  romancal/associations/main.py
Labels: associations

RCAL-567 Update unit tests to add tmpdir for test files (#702)
  CHANGES.rst
  romancal/associations/main.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing, associations

RCAL-548 Include dq flag for GW_AFFECTED_DATA (#699)
  CHANGES.rst
  docs/roman/dq_init/reference_files.rst
  docs/roman/references_general/dq_flags.inc
  docs/roman/references_general/references_general.rst
Labels: documentation, dq_init

Update CRDS context for 23Q3_B10
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Update CRDS context for 23Q3_B10 (#703)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Fix sphinx directive
  docs/roman/datamodels/models.rst
Labels: documentation

Fix bandit security issues found Bandit is being upgraded to a new version so new issues have been found. See spacetelescope/jwst#7496
  romancal/regtest/regtestdata.py
  romancal/tests/base_classes.py
Labels: testing, regression_testing

Update roman crds server to test so that the latest updates are used
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

Update roman crds server to test so that the latest updates are used (#705)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
