Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

RCAL-485, RCAL-558: Implement the reference pixel correction (#704)
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/refpix/__init__.py
  romancal/refpix/data.py
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/__init__.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
  romancal/refpix/tests/test_step.py
  romancal/regtest/test_refpix.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: dependencies, automation, testing, regression_testing, stpipe, pipeline

BOT: Changelog check has moved
  .github/workflows/changelog.yml
Labels: automation

BOT: Changelog check has moved (#792)
  .github/workflows/changelog.yml
Labels: automation

Actually build off the astropy nightly wheel
  requirements-dev.txt
Labels: dependencies

Update changes.
  CHANGES.rst
Labels: none

rcal-606 Have source detection and tweakreg skip spectral data
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/source_detection_step.py
  romancal/tweakreg/tweakreg_step.py
Labels: pipeline

rcal-606 update change log
  CHANGES.rst
Labels: none

rcal-606 Have source detection and tweakreg skip spectral data (#798)
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/source_detection_step.py
  romancal/tweakreg/tweakreg_step.py
Labels: pipeline

RCAL-617 Update readme for release 10 & placeholders for 11
  README.md
Labels: documentation

RCAL-617 Update readme for release 11 (23Q3_B10) & placeholders for 12 (23Q4_B11) (#799)
  README.md
Labels: documentation

pin Numpy to 1.22
  pyproject.toml
Labels: dependencies

pin `numpy` to `>=1.22` (#800)
  pyproject.toml
Labels: dependencies

Revert "TEMPORARY: Fix for numpy 2.0 representation changes for testing"
  romancal/conftest.py
Labels: none

Add drizzle to dependencies list.
  pyproject.toml
Labels: dependencies

Remove numpy 2.0 hack (#797)
  romancal/conftest.py
Labels: none

Add resample step suffix to list.
  romancal/lib/suffix.py
Labels: none

Style check fixes.
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: none

Use dev stcal-alignment branch.
  requirements-dev.txt
Labels: dependencies

pin sphinx_rtd_theme to newer version
  docs/rtd_environment.yaml
Labels: documentation

Adjust ramps for gain, a la JWST's GainScaleStep.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Add change log.
  CHANGES.rst
Labels: none

Add sphinx-autobuild to docs dependency list.
  pyproject.toml
Labels: dependencies

pin `sphinx_rtd_theme` to newer version (#803)
  docs/rtd_environment.yaml
Labels: documentation

Fix requirements-dev entry for stcal-alignment.
  requirements-dev.txt
Labels: dependencies

Use CRDS public server
  README.md
  docs/roman/pipeline_installation.rst
Labels: documentation, pipeline

Use CRDS public server (#805)
  README.md
  docs/roman/pipeline_installation.rst
Labels: documentation, pipeline

RCAL-596 Updates for association processing
  romancal/associations/load_as_asn.py
  romancal/pipeline/exposure_pipeline.py
Labels: associations, pipeline

RCAL-596 Updates for logging and set cal_step for skipped steps
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-596 pipeline updates
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-596 update to the pipeline
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-596 cleanup pipeline code logs
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-596 intermediate results
  romancal/associations/load_as_asn.py
  romancal/datamodels/filetype.py
  romancal/datamodels/tests/data/empty.asdf
  romancal/datamodels/tests/data/empty.json
  romancal/datamodels/tests/data/example_schema.json
  romancal/datamodels/tests/data/fake.asdf
  romancal/datamodels/tests/data/fake.json
  romancal/datamodels/tests/data/pluto.asdf
  romancal/datamodels/tests/test_filetype.py
  romancal/pipeline/exposure_pipeline.py
Labels: testing, associations, pipeline

RCAL-596 Update changes file
  CHANGES.rst
Labels: none

RCAL-596 test_filetype updates
  romancal/datamodels/tests/test_filetype.py
Labels: testing

RCAL-596 Updates from comments and rebase oddities
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-596 pipeline code cleanup
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-596 Fix roman_datamodels and rad to working versions
  pyproject.toml
Labels: dependencies

RCAL-596 Fix roman_datamodels and rad to working versions
  pyproject.toml
Labels: dependencies

RCAL-596 Fix roman_datamodels and rad to working versions
  pyproject.toml
Labels: dependencies

RCAL-596 Fix roman_datamodels and rad to working versions
  pyproject.toml
Labels: dependencies
