Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

rcal-846 Add mosaic info to the science products RTD page (#1262)
  CHANGES.rst
  docs/roman/associations/overview.rst
  docs/roman/data_products/science_products.rst
  docs/roman/pipeline/main.rst
Labels: documentation, associations, pipeline

Fix issue with NaN values and coordinates convention.
  romancal/lib/psf.py
Labels: none

Fix issue with weight array in mock datamodel.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

add codecov_token secret to ci
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

add `codecov_token` secret to CI workflow (#1265)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

rcal-850 Initial addition of catalog step to mosaic pipeline
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-850 Add PR number
  CHANGES.rst
Labels: none

rcal-850 Update Mosaic docs
  docs/roman/pipeline/mosaic_pipeline.rst
  romancal/pipeline/mosaic_pipeline.py
Labels: documentation, pipeline

rcal-850 Ignore result_catlog ruff error
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

rcal-850 Ignore result_catlog ruff error try 2
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

rcal-850 Ignore result_catlog ruff error try 3
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

rcal-850 Addition of catalog step to mosaic pipeline (#1266)
  CHANGES.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
Labels: documentation, regression_testing, pipeline

Add changelog entry.
  CHANGES.rst
Labels: none

Fix bug when setting meta.background in SkyMatchStep.
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Fix assertion operator.
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Clean up after PSF photometry.
  romancal/source_catalog/source_catalog.py
Labels: none

Fix bug when setting meta.background in SkyMatchStep.
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Fix assertion operator.
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

Fix assertion operator.
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

Fix bug when setting meta.background in SkyMatchStep.
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

RCAL-828: add PSF bits to source catalog. (#1243)
  CHANGES.rst
  docs/roman/source_catalog/arguments.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
  docs/roman/source_catalog/psf.rst
  docs/roman/source_detection/index.rst
  romancal/lib/psf.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, testing

test uploading coverage as github actions summary
  .github/workflows/roman_ci.yml
Labels: automation, testing

Fix comparison operator.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Fix bug in unit-test.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Fix bug in unit-test.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Fix comparison operator.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

rcal-854 Inital refactoring of elp
  CHANGES.rst
  docs/roman/pipeline/exposure_pipeline.rst
  romancal/pipeline/exposure_pipeline.py
Labels: documentation, pipeline

rcal-854 set suffix for ALL SATURATED images
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-854 set cal_step for ALL SATURATED images
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-854 fix saturation test
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-854 fix formatting issues
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-854 Add PR# remove commented code
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

respect the bounding box on the inverse transform
  pyproject.toml
  romancal/conftest.py
  romancal/resample/tests/test_resample_step.py
Labels: dependencies, testing

rcal-854 Address code comments
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

rcal-854 More code cleanup
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Rcal 854 Tweakreg step listed as skipped when run & refactor exposure pipeline (#1271)
  CHANGES.rst
  docs/roman/pipeline/exposure_pipeline.rst
  romancal/pipeline/exposure_pipeline.py
Labels: documentation, pipeline

pin numpy <2
  pyproject.toml
Labels: dependencies

add changelog
  CHANGES.rst
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
