Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Update romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/source_catalog_step.py
Labels: none

Update romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/source_catalog_step.py
Labels: none

Update romancal/source_catalog/tests/test_source_catalog.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Update romancal/source_catalog/tests/test_source_catalog.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Small unit test refactoring and clean up.
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

rcal-860 Unit test updates
  romancal/datamodels/tests/test_filetype.py
Labels: testing

Add unit test for 'hidden' step attribute.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Prevent unit test from poluting local dir.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Fix issue in constructing skycell WCS.
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

Add changelog entry.
  CHANGES.rst
Labels: none

Test reordering.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Rcal 860 Allow roman datamodel as input to the exposure pipeline (#1296)
  CHANGES.rst
  romancal/datamodels/filetype.py
  romancal/datamodels/tests/test_filetype.py
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: testing, regression_testing, pipeline, Wide Field Instrument (WFI)

Update exposure_pipeline.py
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Bug fix in the ELP code.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Update exposure_pipeline.py (#1298)
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

remove Git commit pin of `roman_datamodels`
  pyproject.toml
Labels: dependencies

Add SourceCatalogStep to ELP.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

remove executable bits from non-script files
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/__init__.py
  romancal/dark_current/tests/test_dark.py
  romancal/datamodels/tests/data/example_schema.json
  romancal/flatfield/flat_field_step.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample_step.py
  romancal/saturation/saturation_step.py
  romancal/skymatch/region.py
  romancal/source_catalog/source_catalog_step.py
Labels: testing, Dark Current, flatfield, saturation

Bug fix ELP.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

use monkeypatch to prevent global setting change
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Change cal_step.source_catalog to cal_step.source_detection.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

remove pytest asdf plugin configuration for non-existant schemas
  pyproject.toml
Labels: dependencies

show logs on failed tests
  pyproject.toml
Labels: dependencies

Remove unnecessary tests.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Remove meta.tweakreg_catalog.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Uncomment setting of meta.cal_step.tweakreg to 'SKIPPED' for spectral exposures.
  romancal/tweakreg/tweakreg_step.py
Labels: none

use reusable workflow from WebbPSF repository
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

rename minimal checkbox
  .github/workflows/data.yml
Labels: automation

use RUNNER_TEMP env variable
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

fix double slashes in data path
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

rename minimal checkbox
  .github/workflows/data.yml
Labels: automation

remove trailing slashes from cache path
  .github/workflows/roman_ci.yml
Labels: automation, testing

use RUNNER_TEMP env variable
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

use reusable workflow from WebbPSF repository
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

handle other triggers
  .github/workflows/data.yml
Labels: automation

move data cache path for cross-OS caching
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

fix paths
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

use generalized cache path
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

use dual cache path
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

Add changelog entry.
  CHANGES.rst
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
