Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Move `is_assocation` to `romancal` (#719)
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/lib/basic_utils.py
  romancal/tweakreg/tweakreg_step.py
Labels: none

Refactor call signature of ModelContainer.save to match JWST's.
  romancal/datamodels/container.py
Labels: none

Fix typo in S_REGION string.
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, assign_wcs

Change stars to sources.
  docs/roman/refpix/description.rst
Labels: documentation

Add PR number to CHANGES.rst.
  CHANGES.rst
Labels: none

Move `is_assocation` to `romancal` (#719)
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/lib/basic_utils.py
  romancal/tweakreg/tweakreg_step.py
Labels: none

add `sdpdeps` toxenv (#708)
  tox.ini
Labels: testing

Update CHANGES.rst
  CHANGES.rst
Labels: none

Get right PR number.
  CHANGES.rst
Labels: none

Add a `pip list` step after the overrides are injected (#711)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Update reference pixel docs.
  docs/roman/refpix/description.rst
Labels: documentation

Fix indentation of change log.
  CHANGES.rst
Labels: none

Fix typo in S_REGION string.
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, assign_wcs

Update changes
  CHANGES.rst
Labels: none

Fix all the minor things broken by the maker_utils API changes
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, Dark Current, dq_init, flatfield, jump, ramp_fitting

Updates for maker_utils API changes (#717)
  CHANGES.rst
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, Dark Current, dq_init, flatfield, jump, ramp_fitting

Revert ModelContainer to an instance of Sequence.
  romancal/datamodels/container.py
Labels: none

Add unit test for ModelContainer.save.
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Style fix.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Refactor TweakReg's regression test.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Add unit test for new container.py function.
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Fix bug when passing a suffix for the output filename.
  romancal/datamodels/container.py
Labels: none

RCAL-432 Update info string to use the same syntax
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/flatfield/flat_field_step.py
  romancal/linearity/linearity_step.py
  romancal/saturation/saturation_step.py
Labels: assign_wcs, Dark Current, flatfield, linearity, saturation

RCAL-432 Changes log
  CHANGES.rst
Labels: none

revert astropy prerelease wheel spec and use nightly Scipy wheel index
  requirements-dev.txt
  tox.ini
Labels: dependencies, testing

update nightly wheel index URL
  tox.ini
Labels: testing

revert astropy prerelease wheel spec and use nightly Scipy wheel index (#696)
  requirements-dev.txt
  tox.ini
Labels: dependencies, testing

Add regression test for TweakReg. (#707)
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
  romancal/regtest/test_tweakreg.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, regression_testing

update jump detection for stcal changes
  romancal/jump/jump_step.py
Labels: jump

update changelog
  CHANGES.rst
Labels: none

update minimum stcal version
  CHANGES.rst
  pyproject.toml
Labels: dependencies

Add unit tests to improve code coverage for TweakReg.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

RCAL-604 update ramp fitting unit test for stcal 1.4.0
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting

RCAL-604 update CHANGES, ramp fitting unit test for stcal 1.4.0
  CHANGES.rst
Labels: none

RCAL-604 update ramp fitting unit test for stcal 1.4.0 (#725)
  CHANGES.rst
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting

RCAL-432 Update info string to use the same syntax (#721)
  CHANGES.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/flatfield/flat_field_step.py
  romancal/linearity/linearity_step.py
  romancal/saturation/saturation_step.py
Labels: assign_wcs, Dark Current, flatfield, linearity, saturation

Move methods that handle S_REGION into assign_wcs.utils.
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/utils.py
Labels: assign_wcs

Increase code coverage for TweakReg. (#724)
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Remove myst
  docs/conf.py
Labels: documentation

Remove myst parser from docs config (#773)
  docs/conf.py
Labels: documentation
