Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

fold in review comments
  CHANGES.rst
  romancal/patch_match/patch_match.py
Labels: none

test of discprepancy between local and remote test
  romancal/patch_match/patch_match.py
  romancal/patch_match/test/test_patch_match.py
Labels: none

RCAL-775: initial commit of tessel matching code (#1161)
  .pre-commit-config.yaml
  CHANGES.rst
  romancal/patch_match/__init__.py
  romancal/patch_match/patch_match.py
  romancal/patch_match/test/patches_subset.asdf
  romancal/patch_match/test/test_patch_match.py
Labels: none

Update test_tweakreg comment.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

update calibration_software_version when a step is run
  CHANGES.rst
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

ignore calibration_software_version for compare_asdf
  romancal/regtest/conftest.py
Labels: regression_testing

ugh...
  README.md
Labels: documentation

Add unit test for different observational scenarios.
  romancal/resample/tests/test_resample.py
Labels: testing

Remove redundant exposure time metadata.
  romancal/resample/resample.py
Labels: none

Add function to populate L3 mosaic meta.basic.
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

rcal-818 Add preview images tp hlp regtest
  CHANGES.rst
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

rcal-818 Update change log
  CHANGES.rst
Labels: none

rcal-818 Updates for ruff and Bandit code checking
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

rcal-818 Add preview images tp hlp regtest (#1199)
  CHANGES.rst
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

Fix units
  docs/roman/flux/main.rst
Labels: documentation

record crds info only if reference files aare present
  romancal/stpipe/core.py
Labels: stpipe

fix stpipe test
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

add a change log [skip ci]
  CHANGES.rst
Labels: none

use observatory name
  romancal/stpipe/core.py
Labels: stpipe

Fix finalize (#1201)
  CHANGES.rst
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

Fix unit typo in docs (#1200)
  docs/roman/flux/main.rst
Labels: documentation

Add function to populate L3 mosaic meta.basic.
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing

Remove redundant exposure time metadata.
  romancal/resample/resample.py
Labels: none

Add changelog entry.
  CHANGES.rst
Labels: none

Add unit test for different observational scenarios.
  romancal/resample/tests/test_resample.py
Labels: testing

adding plotting utility
  romancal/patch_match/patch_plot.py
Labels: none

updated CHANGES.rst
  CHANGES.rst
Labels: none

initial fill of the l3_wcsinfo with the simple values
  romancal/resample/resample.py
Labels: none

add footprint and s_region results
  romancal/assign_wcs/utils.py
  romancal/resample/resample.py
Labels: assign_wcs

add in simplistic orientation
  romancal/resample/resample.py
Labels: none

rename the wcs argument more accurate
  romancal/resample/resample.py
Labels: none

pr review: fix comment typos
  romancal/resample/resample.py
Labels: none

fix off-by-one
  romancal/resample/resample.py
Labels: none

make the transform references generic using names
  romancal/resample/resample.py
Labels: none

fix local pixel scale calculation and shape->world coordinate order
  romancal/resample/resample.py
Labels: none

use compute_scale for reference scale
  romancal/resample/resample.py
Labels: none

make exception-hardened
  romancal/resample/resample.py
Labels: none

implement position angle calculation.
  romancal/resample/resample.py
Labels: none

add unit test for the level 3 wcsinfo block
  romancal/resample/tests/test_resample.py
Labels: testing
