Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

rcal-827 add model read to get cal_step status
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 filename updates
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 fix pipeline cmd
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 add missing variable
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

Change pipeline name
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 Change patch table read order
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

rcal-827 use index to grab skycell record
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

rcal-827 Change patch table location
  JenkinsfileRT
  romancal/regtest/test_mos_pipeline.py
Labels: automation, regression_testing, pipeline

rcal-827 fix typo
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

rcal-827 Reset patch table location to central store
  JenkinsfileRT
  romancal/regtest/test_mos_pipeline.py
Labels: automation, regression_testing, pipeline

rcal-827 reorder skycell retrieval
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

rcal-827 Update file names in level3_hlp
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 Update file names
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 test patch file
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 Update file names in level3_hlp
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 Tests for getting skycell record and skycell from asn info
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 Update level3_hlp test
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 Pipeline and ref data updates
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 Update file names in level3_hlp & tests
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

ral-827 Reorder Jenkins env variables
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 Add step to download patch file from artifactory
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 Add artifactory server url
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 Change serverid
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 More artifactory server url fun
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 More artifactory server url fun
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 rtgetdata to workspace?
  JenkinsfileRT
  romancal/regtest/test_mos_pipeline.py
Labels: automation, regression_testing, pipeline

rcal-827 add missing delimiter
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 rtgetdata to workspace (2)
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 rtdata.get_data update
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-827 update PATCH Path
  JenkinsfileRT
Labels: automation, regression_testing

rcal-827 Updates from SPB
  JenkinsfileRT
  romancal/regtest/test_mos_pipeline.py
Labels: automation, regression_testing, pipeline

rcal-827 Update mosaic test
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

Saving the work
  romancal/datamodels/filetype.py
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

restore filetype
  romancal/datamodels/filetype.py
Labels: none

rcal-860 Allow roman datamodel as input to the exposure pipeline
  romancal/datamodels/filetype.py
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Set step parameter in ELP code.
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-860 Update test input
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-860 Update output file name
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-860 Update regression test
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-860 Add PR number
  CHANGES.rst
Labels: none
