Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

RCAL-482 (#658)
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: dependencies, testing, Dark Current, dq_init, flatfield, jump, linearity, ramp_fitting

install requirements-dev.txt
  JenkinsfileRT_dev
Labels: automation, regression_testing

Add new unit test and general clean up.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Add a comment about the unit for shift parameters.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Fix typing issue.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

RCAL-482 (#658)
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: dependencies, testing, Dark Current, dq_init, flatfield, jump, linearity, ramp_fitting

RCAL-467: Implement tests for Roman's TweakReg and ModelContainer. (#655)
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

pin `asdf>=2.14.2` to satisfy minimum dependencies
  pyproject.toml
Labels: dependencies

pin `jsonschema>=4.0.1` to satisfy minimum dependencies
  pyproject.toml
Labels: dependencies

run tests on minimum dependencies
  .github/workflows/roman_ci.yml
  tox.ini
Labels: automation, testing

add change log entry
  CHANGES.rst
Labels: none

adding source detection step
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/source_detection/arguments.rst
  docs/roman/source_detection/description.rst
  docs/roman/source_detection/index.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/__init__.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/__init__.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: documentation, dependencies, testing, pipeline

forgot an =
  pyproject.toml
Labels: dependencies

update spec
  romancal/source_detection/source_detection_step.py
Labels: none

fixing change log
  CHANGES.rst
Labels: none

fixing typos
  docs/roman/source_detection/description.rst
Labels: documentation

removing references to my romandatamodels and rad branches
  pyproject.toml
Labels: dependencies

unskipping tests
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

changing .call to .process in tests to avoid attempted connection to crds server
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

adding defaults
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

fixing tests
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

updating tmp_path
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Update test_source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Update test_source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Update test_source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Update source_detection_step.py
  romancal/source_detection/source_detection_step.py
Labels: none

Update test_source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Update test_source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Adding source detection step (#608)
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/source_detection/arguments.rst
  docs/roman/source_detection/description.rst
  docs/roman/source_detection/index.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/__init__.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/__init__.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: documentation, dependencies, testing, pipeline

Bugfix for source_detection's test_outputs
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Bugfix for source_detection's test_outputs (#665)
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Remove use of pytest-openfiles
  pyproject.toml
Labels: dependencies

Update changes
  CHANGES.rst
Labels: none

RCAL-481: Remove use of pytest-openfiles (#666)
  CHANGES.rst
  pyproject.toml
Labels: dependencies

add seed for random noise/gaussian generation in tests
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

change log
  CHANGES.rst
Labels: none

add seed for random noise/gaussian generation in tests (#668)
  CHANGES.rst
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

import `tomli` as `tomllib` for `docs` builds before Python 3.11 (#657)
  docs/conf.py
Labels: documentation

Fix source detection object instantiation.
  romancal/source_detection/source_detection_step.py
Labels: none

Updated Changelog.
  CHANGES.rst
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
