Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Add epoch parameter to create_astrometric_catalog.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Fix equation.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Add entry in CHANGES.rst
  CHANGES.rst
Labels: none

Add epoch parameter to fetch catalog data.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Added outlier documents.
  docs/roman/error_propagation/main.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/description.rst
  docs/roman/outlier_detection/index.rst
  docs/roman/package_index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/references_general/references_general.rst
Labels: documentation, pipeline

Fix setting cal_step.
  romancal/source_detection/source_detection_step.py
Labels: none

Fix input to self.tweakreg.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Fix bug in TweakReg.:
  romancal/tweakreg/tweakreg_step.py
Labels: none

Fix bug in handling of epoch.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Remove source detection and tweakreg from pipeline.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Update ExposurePipeline description.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Update exposure pipeline steps.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Add SourceDetectionStep to exposure pipeline.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

TweakReg: handle new source_detection attribute. (#681)
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/source_detection_step.py
  romancal/step.py
  romancal/stpipe/integration.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, stpipe, pipeline

Small tweaks.
  CHANGES.rst
  docs/roman/error_propagation/main.rst
  docs/roman/references_general/references_general.rst
Labels: documentation

drop support for Python 3.8
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .readthedocs.yaml
  README.md
  docs/roman/pipeline_installation.rst
  docs/rtd_environment.yaml
  pyproject.toml
Labels: documentation, dependencies, automation, testing, pipeline

add change log entry
  CHANGES.rst
Labels: none

Update python versiion and CRDS context
  JenkinsfileRT
  romancal/regtest/test_wfi_pipeline.py
Labels: automation, regression_testing, pipeline, Wide Field Instrument (WFI)

Update test_wfi_pipeline parameters
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Update test_wfi_pipeline & DMS numbers parameters
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Update python version
  JenkinsfileRT
  pyproject.toml
Labels: dependencies, automation, regression_testing

Initial implementation of TR regtest.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

use nightly builds of scipy and numpy
  requirements-dev.txt
Labels: dependencies

PR#693 update stpipe version
  pyproject.toml
Labels: dependencies

Upgrade romancal python to python-3.11, update crds context (#693)
  JenkinsfileRT
  pyproject.toml
  romancal/regtest/test_wfi_pipeline.py
Labels: dependencies, automation, regression_testing, pipeline, Wide Field Instrument (WFI)

Compatibility with spacetelescope/roman_datamodels#164
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Compatibility fix in tweakreg test for rdm#164 (#697)
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Update tweakreg unit tests for ASN input.
  pyproject.toml
  romancal/regtest/test_tweakreg.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: dependencies, testing, regression_testing

Added simple outlier detection step. (#689)
  CHANGES.rst
  docs/roman/error_propagation/main.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/description.rst
  docs/roman/outlier_detection/index.rst
  docs/roman/package_index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/references_general/references_general.rst
  romancal/lib/suffix.py
  romancal/outlier_detection/__init__.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/__init__.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, testing, stpipe, pipeline

Updates to TR's regtest.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Improve error-handling and additional tests for get_catalog.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Error-handling improvements to TweakReg and get_catalog method.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Remove commented out code.
  romancal/tweakreg/astrometric_utils.py
Labels: none

init skymatch implementation
  docs/roman/package_index.rst
  docs/roman/skymatch/arguments.rst
  docs/roman/skymatch/description.rst
  docs/roman/skymatch/index.rst
  docs/roman/skymatch/reference_files.rst
  docs/roman/skymatch/region.rst
  docs/roman/skymatch/skyimage.rst
  docs/roman/skymatch/skymatch.rst
  docs/roman/skymatch/skymatch_step.rst
  docs/roman/skymatch/skystatistics.rst
  pyproject.toml
  romancal/skymatch/__init__.py
  romancal/skymatch/region.py
  romancal/skymatch/skyimage.py
  romancal/skymatch/skymatch.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/skystatistics.py
  romancal/skymatch/tests/test_skymatch.py
Labels: documentation, dependencies, testing

adding changelog entry
  CHANGES.rst
Labels: none

style corrections
  docs/roman/skymatch/description.rst
  romancal/skymatch/__init__.py
  romancal/skymatch/region.py
  romancal/skymatch/skyimage.py
  romancal/skymatch/skymatch.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/skystatistics.py
  romancal/skymatch/tests/test_skymatch.py
Labels: documentation, testing

better comments/docs thanks to Dave Davis
  docs/roman/skymatch/description.rst
  romancal/skymatch/skymatch_step.py
Labels: documentation

adding skymatch to known suffixes
  romancal/lib/suffix.py
Labels: none

updating minversion of spherical-geometry to match jwst
  pyproject.toml
Labels: dependencies

updating minversion of stsci.imagestats
  pyproject.toml
  romancal/lib/suffix.py
Labels: dependencies

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
