Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Fix issue with invalid data format.
  romancal/resample/gwcs_drizzle.py
Labels: none

Provide correct context image extension.
  romancal/resample/resample.py
Labels: none

RCAL-596 Fix roman_datamodels and rad to working versions
  pyproject.toml
Labels: dependencies

RCAL-596 Fix roman_datamodels and rad to working versions
  pyproject.toml
Labels: dependencies

Resolve conflict.
  romancal/datamodels/container.py
Labels: none

Use CRDS public server (#805)
  README.md
  docs/roman/pipeline_installation.rst
Labels: documentation, pipeline

RCAL-596 Fix roman_datamodels in requirements-dev working versions
  requirements-dev.txt
Labels: dependencies

RCAL-596 Fix roman_datamodels in requirements-dev working versions
  pyproject.toml
Labels: dependencies

RCAL-596 Fix roman_datamodels & RAD in pyproject
  pyproject.toml
Labels: dependencies

RCAL-596 Fix roman_datamodels & RAD in dev requirements
  requirements-dev.txt
Labels: dependencies

RCAL-596 Update for more code review comments
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-596 Update for more code review comments
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-596 Fix for if any of the input files are saturated
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-596 Fix for if any of the input files are saturated
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Rcal 596 Add association processing to the pipeline code (#802)
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/associations/load_as_asn.py
  romancal/datamodels/filetype.py
  romancal/datamodels/tests/data/empty.asdf
  romancal/datamodels/tests/data/empty.json
  romancal/datamodels/tests/data/example_schema.json
  romancal/datamodels/tests/data/fake.asdf
  romancal/datamodels/tests/data/fake.json
  romancal/datamodels/tests/data/pluto.asdf
  romancal/datamodels/tests/test_filetype.py
  romancal/pipeline/exposure_pipeline.py
Labels: dependencies, testing, associations, pipeline

RCAL-631 Update saturation logic for spectral data
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-631 Update change log
  CHANGES.rst
Labels: none

First functional implementation.
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: none

Rcal 596 Add association processing to the pipeline code (#802)
  CHANGES.rst
  requirements-dev.txt
  romancal/associations/load_as_asn.py
  romancal/datamodels/filetype.py
  romancal/datamodels/tests/data/empty.asdf
  romancal/datamodels/tests/data/empty.json
  romancal/datamodels/tests/data/example_schema.json
  romancal/datamodels/tests/data/fake.asdf
  romancal/datamodels/tests/data/fake.json
  romancal/datamodels/tests/data/pluto.asdf
  romancal/datamodels/tests/test_filetype.py
  romancal/pipeline/exposure_pipeline.py
Labels: dependencies, testing, associations, pipeline

Temporarily pin RAD & RDM version.
  pyproject.toml
Labels: dependencies

Add entry to CHANGES.rst.
  CHANGES.rst
Labels: none

RCAL-631 Updates from review comments
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

RCAL-631 Add scipy dependency and bump jsonschema
  pyproject.toml
Labels: dependencies

RCAL-631 Update saturation logic for spectral data (#824)
  CHANGES.rst
  pyproject.toml
  romancal/pipeline/exposure_pipeline.py
Labels: dependencies, pipeline

Update changes
  CHANGES.rst
Labels: none

remove association use of pkg_resources
  romancal/associations/pool.py
Labels: associations

For __version__ use importlib.__version__
  romancal/__init__.py
Labels: none

Remove usage of `pkg_resources` (#829)
  CHANGES.rst
  romancal/__init__.py
  romancal/associations/pool.py
Labels: associations

rcal-627 Add metrics logger to regtests
  pyproject.toml
  requirements-dev.txt
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_pipeline.py
  tox.ini
Labels: dependencies, testing, regression_testing, dq_init, photom, pipeline, Wide Field Instrument (WFI)

rcal-627 Update PR number in changes.rst
  CHANGES.rst
Labels: none

rcal-627 Update -n 0 in JenkinsfileRT_dev file
  JenkinsfileRT_dev
Labels: automation, regression_testing

RCAL-624 regtest updates for B11
  JenkinsfileRT_dev
  romancal/regtest/test_refpix.py
  romancal/regtest/test_wfi_flat_field.py
Labels: automation, regression_testing, Wide Field Instrument (WFI)

RCAL-624 regtest updates for B11
  requirements-dev.txt
Labels: dependencies

rcal-624 Update versions, astropy, rad, roman_datamodels
  README.md
  pyproject.toml
Labels: documentation, dependencies

rcal-624 Update dtype in test_photom
  romancal/photom/tests/test_photom.py
Labels: testing, photom

Redo pinning for regression testing
  JenkinsfileRT
  pyproject.toml
  requirements-reg.txt
Labels: dependencies, automation, regression_testing

Update changes
  CHANGES.rst
Labels: none

Correct tiny bug from schema
  romancal/photom/tests/test_photom.py
Labels: testing, photom

Release devdeps pins
  requirements-dev.txt
Labels: dependencies

rcal-624 Update pmap to the current active version
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing
