Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Resolve conflicts on pull from branch.
  CHANGES.rst
  romancal/regtest/regtestdata.py
Labels: regression_testing

update `requirements-sdp.txt` instructions to include the `sdp` extra (#1097)
  requirements-sdp.txt
Labels: dependencies

Fix a few incorrect dtypes used in tests (#1090)
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
Labels: testing, dq_init, flatfield

metadata updates for release 0.14.0
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

Update pmap from 052 to 056
  requirements-sdp.txt
Labels: dependencies

Update JenkinsfileRT
  JenkinsfileRT
Labels: automation, regression_testing

Return to development
  pyproject.toml
  requirements-sdp.txt
Labels: dependencies

Resolve conflicts.
  CHANGES.rst
Labels: none

Make copies of border pixel arrays when building L2 image.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Turn on the apodized FFT interpolation (#1017)
  CHANGES.rst
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

Update CRDS_CONTEXT from 052 to 056
  JenkinsfileRT_dev
Labels: automation, regression_testing

Allow TweakReg to accept a string with full path to an ASDF file.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Style check fixes.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Style check fixes.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

add source catalog step
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/source_catalog/arguments.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
  romancal/source_catalog/__init__.py
  romancal/source_catalog/_wcs_helpers.py
  romancal/source_catalog/detection.py
  romancal/source_catalog/reference_data.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/__init__.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, testing, pipeline

Fixing source catalog step tests
  CHANGES.rst
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

adding segmentation map model
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Fix ruff config warnings
  pyproject.toml
Labels: dependencies

Fix numpy linting
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

Revert "Update TweakReg usage in ELP."
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

TEMP point to updated branches
  pyproject.toml
Labels: dependencies

Change pass access to pass_number
  romancal/resample/resample.py
Labels: none

Add warning ignores for arbitrary import tests
  romancal/lib/tests/test_suffix.py
  romancal/tests/test_import.py
Labels: testing

Use dqflags defined in roman_datamodels
  pyproject.toml
  romancal/lib/dqflags.py
Labels: dependencies

Fix all deprecated imports
  romancal/conftest.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/jump/jump_step.py
  romancal/lib/basic_utils.py
  romancal/lib/psf.py
  romancal/linearity/linearity_step.py
  romancal/outlier_detection/outlier_detection.py
  romancal/pipeline/exposure_pipeline.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/resample/resample_utils.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/source_detection/source_detection_step.py
Labels: testing, regression_testing, dq_init, flatfield, jump, linearity, ramp_fitting, saturation, pipeline, Wide Field Instrument (WFI)

Update pyproject to use roman_datamodels main
  pyproject.toml
Labels: dependencies

Update changelog
  CHANGES.rst
Labels: none

Use dot access instead of dict access for dqflags
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/jump/jump_step.py
  romancal/lib/basic_utils.py
  romancal/lib/psf.py
  romancal/linearity/linearity_step.py
  romancal/outlier_detection/outlier_detection.py
  romancal/pipeline/exposure_pipeline.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/resample/resample_utils.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/source_detection/source_detection_step.py
Labels: testing, regression_testing, dq_init, flatfield, jump, linearity, ramp_fitting, saturation, pipeline, Wide Field Instrument (WFI)

Fix the datamodels docs
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/metadata.rst
  docs/roman/datamodels/models.rst
Labels: documentation

Update changelog
  CHANGES.rst
Labels: none

Fix the datamodels docs (#1112)
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/metadata.rst
  docs/roman/datamodels/models.rst
Labels: documentation

Find and fix all the tmpdir usages
  docs/conftest.py
  pyproject.toml
  romancal/assign_wcs/tests/test_wcs.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_pool.py
  romancal/dark_current/tests/test_dark.py
  romancal/jump/tests/test_jump_step.py
Labels: documentation, dependencies, testing, assign_wcs, associations, Dark Current, jump

update actions version
  .github/workflows/build.yml
  .github/workflows/data.yml
Labels: automation

add dependabot configuration
  .github/dependabot.yml
Labels: automation

Find and fix all the tmpdir usages (#1108)
  docs/conftest.py
  pyproject.toml
  romancal/assign_wcs/tests/test_wcs.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_pool.py
  romancal/dark_current/tests/test_dark.py
  romancal/jump/tests/test_jump_step.py
Labels: documentation, dependencies, testing, assign_wcs, associations, Dark Current, jump

Fix input to pipeline steps in HLP.
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Fix clean up after itself.
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/pipeline/highlevel_pipeline.py
  romancal/resample/resample_step.py
Labels: pipeline

Fix unit test.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Revert "Fix input to pipeline steps in HLP."
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
