Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Update PSF fitting defaults.
  romancal/lib/psf.py
Labels: none

Remove MAST code and decrease catalog comparison tolerance.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Update changelog
  CHANGES.rst
Labels: none

Include parallax correction to unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Add atol parameter to compare_asdf method.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Fix style checks.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Update TweakReg's regression test data.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Use SCA 01 instead of SCA 02 in resample regtest.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Fix TweakReg's catalog metadata.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Remove MAST code and decrease catalog comparison tolerance.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix check-styles.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Set atol=1e-5 and rtol=0 in astrometric_utils unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix astrometric_utils tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

add instructions for downloading WebbPSF data
  README.md
Labels: documentation

Update TweakReg's regression test data.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Set atol=1e-5 and rtol=0 in astrometric_utils unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Include parallax correction to unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

RCAL-641 Add FOV association generation (#931)
  CHANGES.rst
  romancal/associations/generate.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/tests/test_level2_basics.py
  romancal/associations/tests/test_level2_candidates.py
Labels: testing, associations

Use SCA 01 instead of SCA 02 in resample regtest.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Fix TweakReg's catalog metadata.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Fix style checks.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Add atol parameter to compare_asdf method.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Fix astrometric_utils tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix check-styles.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Remove MAST code and decrease catalog comparison tolerance.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Removed err array from dark tests.
  romancal/dark_current/tests/test_dark.py
Labels: testing, Dark Current

Update changelog.
  CHANGES.rst
Labels: none

add instructions for downloading WebbPSF data (#937)
  README.md
Labels: documentation

add `.git` to dev dependency specifications (#932)
  requirements-dev-st.txt
  requirements-dev-thirdparty.txt
Labels: dependencies

Fix TweakReg's catalog metadata.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Include parallax correction to unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Set atol=1e-5 and rtol=0 in astrometric_utils unit tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix astrometric_utils tests.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Remove MAST code and decrease catalog comparison tolerance.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Fix check-styles.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

add instructions for downloading WebbPSF data (#937)
  README.md
Labels: documentation

add `.git` to dev dependency specifications (#932)
  requirements-dev-st.txt
  requirements-dev-thirdparty.txt
Labels: dependencies

rcal-687 Inital version of the HLP
  romancal/pipeline/__init__.py
  romancal/pipeline/hl_pipeline.py
  romancal/stpipe/integration.py
Labels: stpipe, pipeline

attempt at reusable workflow
  .github/workflows/roman_ci.yml
  .github/workflows/webbpsf_data.yml
Labels: automation, testing

rename webbpsf_data.yml to data.yml
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: automation, testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
