Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

rename references to the casertano paper with the year 2022
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

Setup initial smoke test for matable ramp fitting
  romancal/ramp_fitting/tests/test_ramp_fit_matable.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

WIP rename algorithm to ols_cas21
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas21.py
Labels: testing, ramp_fitting

add tests for changes in gain and read noise
  romancal/ramp_fitting/tests/test_ramp_fit_cas21.py
Labels: testing, ramp_fitting

refactor test to include the error arrays
  romancal/ramp_fitting/tests/test_ramp_fit_cas21.py
Labels: testing, ramp_fitting

rename algorithm-specific tests
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting

fix return when a bad algorithm is specified
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Skip tests that require CRDS when run under a CI
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

test for mismatch between read_pattern and actual data
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

refactor to remove complicating fixtures
  romancal/ramp_fitting/tests/test_ramp_fit_cas21.py
Labels: testing, ramp_fitting

extract out the correct slope information
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

update changelong
  CHANGES.rst
Labels: none

backout python 3.11 features and fix test
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

refactor for the simplified variances return
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Make the standard OLS the default for ramp fitting
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Make the gain operations in-place
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

retrieve read time from the input FRAME_TIME
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

point to stcal dev
  pyproject.toml
Labels: dependencies

fix bad fixture specification and assertion limits
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

remove redundant func defs
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

OMG line too long...seriously?!?!?!
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

RCAL-511 Inititial implementation of the Uneven Ramp fitting (#779)
  CHANGES.rst
  pyproject.toml
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: dependencies, testing, ramp_fitting

Fix RTD docs bug RTD has removed the `system_packages` configuration option. We have only being setting this to false so this change does not affect how our docs are built in any meaningful way.
  .readthedocs.yaml
Labels: documentation

use filename instead of meta.filename for exposure pipeline
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

update changelog
  CHANGES.rst
Labels: none

Fix RTD build (#853)
  .readthedocs.yaml
Labels: documentation

fix opening mode for references to be read-only
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

update changelog
  CHANGES.rst
Labels: none

fix opening mode for references to be read-only (#854)
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

better kwarg handling for psf fitting without initial guesses
  romancal/lib/psf.py
Labels: none

pin webbpsf
  pyproject.toml
Labels: dependencies

drop webbpsf dev test
  requirements-dev.txt
Labels: dependencies

initial implementation of PSF fitting methods
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  tox.ini
Labels: dependencies, automation, testing

psf fitting improvements for use in source detection step
  pyproject.toml
  romancal/lib/psf.py
Labels: dependencies

RCAL-643 Update to use CRDS local cache
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

set CRDS_LOCKING_MODE=filelock in jenkins runs
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

RCAL-643 Update CRDS in JenkinsfileRT & dev
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

Fix cache issue for CRDS
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

improvements to PSF fitting tests
  pyproject.toml
  romancal/lib/tests/test_psf.py
Labels: dependencies, testing

PSF fitting methods (#794)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  tox.ini
Labels: dependencies, automation, testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
