Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

fix data caching in devdeps workflow
  .github/workflows/tests_devdeps.yml
Labels: automation

add first-party devdeps testing to workflow
  .github/workflows/tests_devdeps.yml
Labels: automation

fix `tests_devdeps.yml` workflow (#989)
  .github/workflows/tests_devdeps.yml
Labels: automation

storing tweakreg results in structured arrays
  romancal/lib/basic_utils.py
  romancal/lib/tests/test_basic_utils.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

structured array Source Detection output/tweakreg input
  CHANGES.rst
  romancal/lib/basic_utils.py
  romancal/lib/tests/test_basic_utils.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

adding docs for Source Detection with PSF fitting
  CHANGES.rst
  docs/conf.py
  docs/roman/source_detection/arguments.rst
  docs/roman/source_detection/description.rst
  docs/roman/source_detection/index.rst
  docs/roman/source_detection/psf.rst
  romancal/lib/psf.py
Labels: documentation

adding docs for Source Detection with PSF fitting
  CHANGES.rst
  docs/conf.py
  docs/roman/source_detection/arguments.rst
  docs/roman/source_detection/description.rst
  docs/roman/source_detection/index.rst
  docs/roman/source_detection/psf.rst
  romancal/lib/psf.py
Labels: documentation

Update metric_logger and fix bug with meta.resample.members.
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
Labels: regression_testing

Update metric_logger and fix bug with meta.resample.members.
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
Labels: regression_testing

Remove quote indent from main header
  README.md
Labels: documentation

Fix regression tests
  romancal/regtest/scripts/create_jump_data.py
  romancal/regtest/test_jump_det.py
Labels: regression_testing, jump

Make jump detection default to on for ramp fitting
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Skip jump detection step when ramp fitting jump detection is enabled
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/regtest/test_jump_det.py
Labels: testing, regression_testing, jump, ramp_fitting

Mark jump as complete
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Add dms tests
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Script to turn provided data files into input/output files for regtest
  pyproject.toml
  romancal/regtest/scripts/create_jump_data.py
Labels: dependencies, regression_testing, jump

Update changes
  CHANGES.rst
Labels: none

More adjustments
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/scripts/create_jump_data.py
Labels: regression_testing, jump, ramp_fitting

Close files in regtest
  romancal/regtest/test_jump_det.py
Labels: regression_testing, jump

Add big data regression test for jump detection step
  romancal/regtest/test_jump_det.py
Labels: regression_testing, jump

Finalize the step data outputs
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/scripts/create_jump_data.py
Labels: regression_testing, jump, ramp_fitting

rcal-687 Update comments base on review
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-687 Add PR number
  CHANGES.rst
Labels: none

rcal-687 Update suffixes for steps
  romancal/pipeline/__init__.py
  romancal/pipeline/highlevel_pipeline.py
  romancal/stpipe/integration.py
  romancal/stpipe/utilities.py
Labels: stpipe, pipeline

rcal-687 Update meta.filename
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-687 Update high level pipeline
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-687 Update code based on comments
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-687 Remove used variable
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

Add dms tests
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Propagate more dq flags forward.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Remove jump step from exposure pipeline
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Create a standard "regression-test"
  romancal/regtest/scripts/create_jump_data.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, jump, ramp_fitting

Disable jump detection steps completely
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, jump, ramp_fitting

Remove quote indent from main header
  README.md
Labels: documentation

minor fix for data hash in cache key
  .github/workflows/data.yml
Labels: automation

minor fix for data hash in cache key (#999)
  .github/workflows/data.yml
Labels: automation
