Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

rcal-624 Updates
  pyproject.toml
Labels: dependencies

Use read_pattern when flagging saturation; add new test of this feature.
  romancal/photom/tests/test_photom.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: testing, photom, saturation

Point stcal dependency to temporary branch supporting read pattern.
  pyproject.toml
Labels: dependencies

Update change log and docs.
  CHANGES.rst
  docs/roman/saturation/description.rst
Labels: documentation, saturation

Point dev deps to special branch of stcal too.
  requirements-dev.txt
Labels: dependencies

rcal-627 update metrics logger to use pypi
  pyproject.toml
Labels: dependencies

rcal-624 updates
  requirements-dev.txt
Labels: dependencies

rcal-624 set crds server to roman-crds.stsci.edu
  JenkinsfileRT
Labels: automation, regression_testing

Rcal 624 regtest updates for B11, rad & roman_datamodels pin (#834)
  JenkinsfileRT
  JenkinsfileRT_dev
  README.md
  pyproject.toml
  requirements-dev.txt
  romancal/photom/tests/test_photom.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_wfi_flat_field.py
Labels: documentation, dependencies, automation, testing, regression_testing, photom, Wide Field Instrument (WFI)

rcal-627 Add metrics logger to regtests (#831)
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_pipeline.py
  tox.ini
Labels: dependencies, testing, regression_testing, dq_init, photom, pipeline, Wide Field Instrument (WFI)

update metadata for release
  CHANGES.rst
  README.md
  pyproject.toml
Labels: documentation, dependencies

update SDP requirements for release
  requirements-sdp.txt
Labels: dependencies

Docstring update and refactoring to handle different types of input.
  romancal/resample/resample_step.py
Labels: none

metadata for 0.12.0 release (#839)
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

clean SDP requirements
  requirements-sdp.txt
Labels: dependencies

Update changes
  CHANGES.rst
Labels: none

Update readme
  README.md
Labels: documentation

Add `dev` optional dependency This installs all the test and docs dependencies in addition to the tox an pre-commit tools which are used as part of linting and testing
  pyproject.toml
Labels: dependencies

Fix type check
  romancal/associations/generate.py
Labels: associations

Fix typo from #831
  tox.ini
Labels: testing

Cleanup the requirements-dev This makes it so requirements-dev entirely defines the information it needs to be self consistent
  requirements-dev.txt
  tox.ini
Labels: dependencies, testing

Cleanup the requirements-dev (#843)
  requirements-dev.txt
  tox.ini
Labels: dependencies, testing

Make it so we can manually trigger the CI This is useful when debugging possible failures in a PR by checking what happens on the main branch (instead of referring to the last merge/scheduled)
  .github/workflows/roman_ci.yml
Labels: automation, testing

Make it so we can manually trigger the CI (#844)
  .github/workflows/roman_ci.yml
Labels: automation, testing

FIx the get_crds_parameters method
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Update changes
  CHANGES.rst
Labels: none

Fix `get_crds_parameters` for `ModelContainer` (#846)
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

update to new mk_* util api
  romancal/ramp_fitting/tests/test_ramp_fit_cas21.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

make fixture module-scoped
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting

refactor retrieval of references
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

initial implementation with readnoise references
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

implemented fixed slope test
  romancal/ramp_fitting/tests/test_ramp_fit_cas21.py
Labels: testing, ramp_fitting

update truths
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

re-arrange code order
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting

Initial full implementation
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

full piping completed
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

remove redundant test and fix truth transcription error
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: testing, ramp_fitting

Initial setup for multiple algorithms
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

refactor test for more generic testing
  romancal/ramp_fitting/tests/test_ramp_fit_cas21.py
Labels: testing, ramp_fitting

make utility functions fixtures
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting
