Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

freeze change log for release
  CHANGES.rst
  pyproject.toml
Labels: dependencies

Refactor unit test and add a new one.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

remove clean_up_after_test
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

attempt to fix `/grp/` access in regtests
  JenkinsfileRT
Labels: automation, regression_testing

rcal-845_dsd rename highlevelpipeline to mosaicpipeline
  romancal/pipeline/__init__.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
  romancal/stpipe/integration.py
  romancal/stpipe/utilities.py
Labels: regression_testing, stpipe, pipeline

rcal-845_dsd Add changelog and spelling errors fixed
  CHANGES.rst
  romancal/regtest/test_mos_pipeline.py
Labels: regression_testing, pipeline

rcal-845_dsd Update docs hlp -> mos
  docs/roman/pipeline/mosaiclevel_pipeline.rst
Labels: documentation, pipeline

rcal-845_dsd Update docs highlevel -> mosaic
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
  romancal/regtest/test_mos_pipeline.py
Labels: documentation, regression_testing, pipeline

rcal-845_dsd Add PR#
  CHANGES.rst
  romancal/lib/suffix.py
Labels: none

rcal-845_dsd Fix sphinx tables and refs
  docs/roman/data_products/product_types.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  docs/roman/pipeline_levels.rst
Labels: documentation, pipeline

rcal-845_dsd Fix mosaiclevel -> mosaic
  docs/roman/pipeline/mosaic_pipeline.rst
Labels: documentation, pipeline

rcal-845_dsd Update scripts
  romancal/scripts/make_regtestdata.sh
Labels: none

rcal-845_dsd rename highlevelpipeline to mosaicpipeline (#1249)
  CHANGES.rst
  docs/roman/data_products/product_types.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
  romancal/lib/suffix.py
  romancal/pipeline/__init__.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
  romancal/scripts/make_regtestdata.sh
  romancal/stpipe/integration.py
  romancal/stpipe/utilities.py
Labels: documentation, regression_testing, stpipe, pipeline

Update python from 3.9 to 310
  JenkinsfileRT_dev
Labels: automation, regression_testing

Update python from 3.9 to 311
  JenkinsfileRT_dev
Labels: automation, regression_testing

Update python from 3.9 to 310 in JenkinsfileRT_dev (#1251)
  JenkinsfileRT_dev
Labels: automation, regression_testing

remove clean_up_after_test
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

rcal-845_dsd rename highlevelpipeline to mosaicpipeline (#1249)
  CHANGES.rst
  docs/roman/data_products/product_types.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
  romancal/lib/suffix.py
  romancal/pipeline/__init__.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
  romancal/scripts/make_regtestdata.sh
  romancal/stpipe/integration.py
  romancal/stpipe/utilities.py
Labels: documentation, regression_testing, stpipe, pipeline

Update python from 3.9 to 310 in JenkinsfileRT_dev (#1251)
  JenkinsfileRT_dev
Labels: automation, regression_testing

use xy tuple in contains
  romancal/skymatch/region.py
Labels: none

remove redundant attribute assignment
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

remove if statement and pare down docstring
  romancal/associations/lib/rules_level2.py
Labels: associations

apply minor fixes for sonarqube (#1250)
  romancal/associations/lib/rules_level2.py
  romancal/pipeline/exposure_pipeline.py
  romancal/skymatch/region.py
Labels: associations, pipeline

Handle initialization of DQ mask for L3 files.
  romancal/lib/psf.py
Labels: none

Proper extraction of metadata for L3 files.
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
Labels: none

Refactor unit tests to prevent polution of local folder.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Fix style check issues.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

refactored to use the RampModel method of creating ramps
  romancal/dq_init/dq_init_step.py
Labels: dq_init

update changelog
  CHANGES.rst
Labels: none

Remove PSF lib content from source_detection to prevent duplication.
  docs/roman/source_catalog/psf.rst
  docs/roman/source_detection/index.rst
Labels: documentation

Fix column names for PSF method.
  romancal/source_catalog/source_catalog.py
Labels: none

Update source_catalog docs.
  docs/roman/source_catalog/arguments.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
Labels: documentation

Fix style checks.
  docs/roman/source_detection/index.rst
Labels: documentation

point to rdm main to pickup related tvac work
  pyproject.toml
Labels: dependencies

Refactor DQInitStep to use the RampModel method of creating ramps (#1258)
  CHANGES.rst
  pyproject.toml
  romancal/dq_init/dq_init_step.py
Labels: dependencies, dq_init

rcal-846 Add mosaic info to the science products RTD page
  docs/roman/associations/overview.rst
  docs/roman/data_products/science_products.rst
  docs/roman/pipeline/main.rst
Labels: documentation, associations, pipeline

rcal-846 Add PR #
  CHANGES.rst
Labels: none

rcal-846 Fix i2d units
  docs/roman/data_products/science_products.rst
Labels: documentation

rcal-846 # images -> nplanes as in related docs
  docs/roman/data_products/science_products.rst
Labels: documentation
