Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Add unit test for when outlier detection step takes in identical images.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Fix bug when creating median image.
  romancal/outlier_detection/outlier_detection.py
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Remove TODO and unnecessary use of ModelContainer.
  romancal/outlier_detection/outlier_detection.py
Labels: none

allow DQInitStep to pass through non-rampmodel keys
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
Labels: testing, dq_init

update changelog
  CHANGES.rst
Labels: none

rcal-783 Update the input for skymatch
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

Rcal-783 Update the high level pipeline for B14 (#1143)
  CHANGES.rst
  romancal/pipeline/highlevel_pipeline.py
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

Refactor .__exit__ and related unit tests.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Add clean up logic to .__exit__() method.
  romancal/datamodels/container.py
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Allow ModelContainer to work with context manager.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

set flux step status for each input
  romancal/flux/flux_step.py
Labels: none

update changelog
  CHANGES.rst
Labels: none

Add clean up logic to .__exit__() method.
  romancal/datamodels/container.py
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Allow ModelContainer to work with context manager.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Refactor .__exit__ and related unit tests.
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

Initial commit.
  pyproject.toml
  romancal/resample/resample.py
Labels: dependencies

Updated Changelog.
  CHANGES.rst
Labels: none

Updated Changelog.
  CHANGES.rst
Labels: none

Updated documentation.
  docs/roman/datamodels/datamodels_asdf.rst
Labels: documentation

Add unit tests for building the resampling mask.
  romancal/resample/tests/test_resample_step.py
Labels: testing

Update docs.
  docs/roman/resample/arguments.rst
Labels: documentation

Allow user to specify which DQ flags to use for resampling mask.
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
Labels: none

Update good_bits datatype in unit tests.
  romancal/resample/tests/test_resample.py
Labels: testing

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Add unit test for resample record of bit mask value used.
  romancal/resample/tests/test_resample_step.py
Labels: testing

Fix bitvalue type in docstring.
  romancal/resample/resample_utils.py
Labels: none

Switch RAD to git+https://github.com/PaulHuwe/rad.git@RAD-139_ResampleMembers
  pyproject.toml
Labels: dependencies

Revert RAD to main.
  pyproject.toml
Labels: dependencies

Refactor unit tests and code update to deal with split of L2 and L3 files.
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

RCAL-805: Split cal_step into L2 & L3 (#1165)
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  pyproject.toml
  romancal/resample/resample.py
Labels: documentation, dependencies

switch rad roman_datamodels back to dev
  pyproject.toml
Labels: dependencies

Fix default value for good_bits in spec.
  romancal/outlier_detection/outlier_detection_step.py
Labels: none

Revert resample_data=True in all unit tests.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

switch rad roman_datamodels back to dev
  pyproject.toml
Labels: dependencies

RCAL-805: Split cal_step into L2 & L3 (#1165)
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  pyproject.toml
Labels: documentation, dependencies

Refactor unit tests and code update to deal with split of L2 and L3 files.
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

RCAL-805: Split cal_step into L2 & L3 (#1165)
  CHANGES.rst
  pyproject.toml
Labels: dependencies

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
