Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Fix bug with DQ invalid datatype.
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Fix clean up of intermediate files.
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
Labels: none

Allow ModelContainer as input for the outlier detection step.
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: testing

Fix unit tests.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Small unit test refactoring.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Add unit test for testing outlier detection capability.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Revert keyword name change in call to ResampleData.
  romancal/resample/resample_step.py
Labels: none

Fix bug with dqflags.
  romancal/outlier_detection/outlier_detection.py
Labels: none

Check style fixes.
  romancal/outlier_detection/outlier_detection.py
Labels: none

attempt to work-around ci-watson, switch tmpdir_factory to tmppath_factory
  romancal/conftest.py
  romancal/regtest/conftest.py
Labels: regression_testing

use nolegacypath as a tox factor
  .github/workflows/roman_ci.yml
  pyproject.toml
  tox.ini
Labels: dependencies, automation, testing

require asdf 3.1.0, enable no:legacypath
  pyproject.toml
Labels: dependencies

Refactor unit tests to prevent using step.process().
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Refactor unit tests to prevent using step.process().
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Remove output format dependency on input format when using TweakReg.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Update docs.
  docs/roman/tweakreg/tweakreg_examples.rst
Labels: documentation

Fix assert statement to support Python 3.9.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

copy reference pixels in dqinit
  romancal/dq_init/dq_init_step.py
Labels: dq_init

add changelog
  CHANGES.rst
Labels: none

Update CHANGES.rst.
  CHANGES.rst
Labels: none

fix docs
  docs/conf.py
  docs/roman/data_products/file_naming.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/stages.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline_naming_conventions.rst
  docs/roman/pipeline_ref_files.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_steps.rst
Labels: documentation, pipeline

fix links
  docs/roman/data_products/product_types.rst
Labels: documentation

fix table formatting
  docs/roman/data_products/product_types.rst
Labels: documentation

Reformat unit tests to comply with correct step call signature.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Update docs to use step.call().
  docs/roman/tweakreg/tweakreg_examples.rst
Labels: documentation

Refactor unit test to comply with correct Step call signature.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Update units on science data products.
  docs/roman/data_products/science_products.rst
Labels: documentation

Improve documentation (#1124)
  docs/conf.py
  docs/roman/data_products/file_naming.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/stages.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline_naming_conventions.rst
  docs/roman/pipeline_ref_files.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_steps.rst
Labels: documentation, pipeline

RCAL-698: fix TweakReg to allow for Roman datamodels as input (#1089)
  CHANGES.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing

fix DMS requirement number
  romancal/regtest/test_wfi_dq_init.py
Labels: regression_testing, dq_init, Wide Field Instrument (WFI)

remove other references to DMS26
  romancal/regtest/test_wfi_dq_init.py
Labels: regression_testing, dq_init, Wide Field Instrument (WFI)

Fix DMS requirement number (#1127)
  romancal/regtest/test_wfi_dq_init.py
Labels: regression_testing, dq_init, Wide Field Instrument (WFI)

Changed image units in code and tests. Added gain reduction.
  pyproject.toml
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/resample/tests/test_resample.py
Labels: dependencies, testing, flatfield, ramp_fitting

Reduced digits in test. Updated changelog.
  CHANGES.rst
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: testing, ramp_fitting

Updated units in data type documentation.
  docs/roman/data_products/product_types.rst
Labels: documentation

implement handling of ModelContainer
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing

add initial flux step documentation
  docs/roman/flux/arguments.rst
  docs/roman/flux/flux_step.rst
  docs/roman/flux/index.rst
  docs/roman/flux/main.rst
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
Labels: documentation, pipeline

initial flux step and testing infrastructure
  romancal/flux/__init__.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing

convert to parametrizing fixtures with fixture lists
  romancal/flux/tests/test_flux_step.py
Labels: testing

add the `err` array to the conversion set
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing
