Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Try to avoid copying data models.
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/dq_initialization.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, Dark Current, dq_init, linearity, ramp_fitting

Add jquery sphinx to fix doc search
  docs/conf.py
Labels: documentation

Update changes
  CHANGES.rst
Labels: none

Add jquery sphinx to fix doc search (#768)
  CHANGES.rst
  docs/conf.py
Labels: documentation

Update changes
  CHANGES.rst
Labels: none

Register skymatch with stpipe
  romancal/step.py
  romancal/stpipe/integration.py
Labels: stpipe

Register skymatch with stpipe (#770)
  CHANGES.rst
  romancal/step.py
  romancal/stpipe/integration.py
Labels: stpipe

Switch to centralized changelog action
  .github/workflows/changelog.yml
Labels: automation

Use same changelog workflow as the rest of the roman repositories (#772)
  .github/workflows/changelog.yml
Labels: automation

Update changes
  CHANGES.rst
Labels: none

Remove AWS install option (#767)
  CHANGES.rst
  pyproject.toml
Labels: dependencies

Update asdf dependency
  pyproject.toml
Labels: dependencies

Update changes
  CHANGES.rst
Labels: none

Update asdf dependency (#777)
  CHANGES.rst
  pyproject.toml
Labels: dependencies

Get rid of context managers throughout steps. Make all steps work in place.
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/dq_initialization.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/flat_field_step.py
  romancal/jump/jump_step.py
  romancal/linearity/linearity_step.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/photom/photom_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/saturation/saturation.py
  romancal/saturation/saturation_step.py
  romancal/source_detection/source_detection_step.py
Labels: regression_testing, assign_wcs, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, pipeline, Wide Field Instrument (WFI)

Switch to lazy_load=False by default in romancal steps to break link between backing file and in-memory datamodel.
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/dq_initialization.py
  romancal/flatfield/flat_field_step.py
  romancal/jump/jump_step.py
  romancal/linearity/linearity_step.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/photom/photom_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/saturation/saturation_step.py
  romancal/source_detection/source_detection_step.py
Labels: regression_testing, assign_wcs, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, pipeline, Wide Field Instrument (WFI)

Add changelog entry.
  CHANGES.rst
Labels: none

Change dependency to point to updated roman_datamodels.
  pyproject.toml
Labels: dependencies

Fix ramp fit unit test.
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting

remove unused extras
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
Labels: dependencies, automation, regression_testing

add change log entry
  CHANGES.rst
Labels: none

remove unused extras (#784)
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
Labels: dependencies, automation, regression_testing

Fix ruff failure
  pyproject.toml
Labels: dependencies

Implement resample step for RomanCal.
  pyproject.toml
  romancal/resample/__init__.py
  romancal/resample/resample_utils.py
Labels: dependencies

Add resample files.
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: none

Point roman_datamodels back to spacetelescope/roman_datamodels@main instead of special PR version.
  pyproject.toml
Labels: dependencies

Use seed numpy random generator for jump
  romancal/jump/tests/test_jump_step.py
Labels: testing, jump

Switch dq_init to using numpy random generator
  romancal/dq_init/tests/test_dq_init.py
Labels: testing, dq_init

switch flatfield to using numpy random generator
  romancal/flatfield/tests/test_flatfield.py
Labels: testing, flatfield

Use numpy random generators for skymatch
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

Use random numpy random generator for source_detection
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

Fix ramp test randomness
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, ramp_fitting

Update changes
  CHANGES.rst
Labels: none

Make test randomness deterministic (#771)
  CHANGES.rst
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing, dq_init, flatfield, jump, ramp_fitting

update build instructions
  README.md
Labels: documentation

apply review comment suggestions
  README.md
Labels: documentation

Remove the Control object
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/test_refpix.py
  romancal/refpix/tests/test_step.py
Labels: testing

Factor the dataclass into two interlocked classes
  romancal/refpix/data.py
  romancal/refpix/tests/test_data.py
Labels: testing

Latest changes
  romancal/refpix/constants.py
  romancal/refpix/refpix.py
Labels: none

Implement the forward FFT
  romancal/refpix/data.py
  romancal/refpix/refpix.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
Labels: testing
