Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

rename test to test_rampfit_dmsreqs
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, ramp_fitting

RCAL-661/667/654/656 Implement next round of SOC verification tests for uneven ramps (#970)
  CHANGES.rst
  romancal/lib/dms.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, ramp_fitting, pipeline, Wide Field Instrument (WFI)

rcal-457_fix_preview Update filenames
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-457 fix success critera
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-457_fix_preview
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

rcal-457 remove preview tests for now
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

updateing grism filenames for wfi pipeline tests
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

updating grism filenames for wfi pipeline tests
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

remove the preview tests
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

update metadata for release
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies

update metadata for `0.13.0` (#1030)
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
  romancal/regtest/test_wfi_pipeline.py
Labels: documentation, dependencies, regression_testing, pipeline, Wide Field Instrument (WFI)

update SDP requirements
  requirements-sdp.txt
Labels: dependencies

update tweakreg for catalogs as astropy tables
  CHANGES.rst
  romancal/lib/basic_utils.py
  romancal/lib/tests/test_basic_utils.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

adding basic source catalog
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

ensure tweakreg catalog is an astropy table
  romancal/tweakreg/tweakreg_step.py
Labels: none

install SDP requirements in the test environment, because `requirements-sdp.txt` is ignored
  JenkinsfileRT
Labels: automation, regression_testing

rcal-727 Initial HLP documentation
  docs/index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
Labels: documentation, pipeline

rcal-727 Updates to instructions
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline_installation.rst
Labels: documentation, pipeline

rcal-727 Updates references to steps
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_run.rst
Labels: documentation, pipeline

rcal-727 Fix spelling error
  docs/roman/pipeline/exposure_pipeline.rst
Labels: documentation, pipeline

rcal-727 Fiddling with non-local sphinx errors
  docs/roman/pipeline/highlevel_pipeline.rst
Labels: documentation, pipeline

rcal-727 Fiddling with non-local sphinx errors
  docs/roman/pipeline/highlevel_pipeline.rst
Labels: documentation, pipeline

rcal-727 Updates for review comments
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/main.rst
Labels: documentation, pipeline

Rcal 727 Add High Level Pipeline documentation, various updates (#1043)
  docs/index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline_installation.rst
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
Labels: documentation, pipeline

Update the jump detection docs to reflect the requested changes.
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

update changes
  CHANGES.rst
Labels: none

Update jump step docs
  docs/roman/jump/arguments.rst
  docs/roman/jump/even_ramp.rst
  docs/roman/jump/index.rst
  docs/roman/jump/uneven_ramp.rst
  docs/roman/ramp_fitting/arguments.rst
Labels: documentation, jump, ramp_fitting

Document the jump detection algorithm
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting

RCAL-509: Update jump step docs (#1035)
  CHANGES.rst
  docs/roman/jump/arguments.rst
  docs/roman/jump/even_ramp.rst
  docs/roman/jump/index.rst
  docs/roman/jump/uneven_ramp.rst
  docs/roman/ramp_fitting/arguments.rst
  docs/roman/ramp_fitting/description.rst
Labels: documentation, jump, ramp_fitting

add documentation for static preview script
  .gitattributes
  docs/images/r0000501001001001001_01101_0001_WFI01_cal.png
  docs/images/r0000501001001001001_01101_0001_WFI01_cal_thumb.png
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

add page to toctree
  docs/index.rst
Labels: documentation

add change log entry
  CHANGES.rst
Labels: none

move images
  .gitattributes
Labels: none

checkout Git LFS
  .readthedocs.yaml
Labels: documentation

add section about using stpreview directly
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

move PNG files to Git LFS
  .gitattributes
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
  docs/roman/associations/graphics/generator_flow_concept.png
  docs/roman/associations/graphics/generator_list_processing.png
  docs/roman/associations/graphics/level3_rule_inheritance.png
  docs/roman/associations/graphics/overview.png
  docs/roman/associations/graphics/overview_classes.png
  docs/roman/associations/graphics/rule_sets.png
  docs/roman/associations/graphics/rule_to_association.png
  docs/roman/associations/graphics/workflow-generic.png
  docs/roman/associations/graphics/workflow-wfss.png
Labels: documentation, associations

replace stpreview help text with a general explanation of to and by (in case the help text changes in the future)
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

remove references to simulated imagery
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

remove references to internal shared drive paths
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

fix link
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
