Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Refactor unit tests and code update to deal with split of L2 and L3 files.
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

Fix rad+rdm requirements.
  pyproject.toml
Labels: dependencies

Deduplicate changelog entry.
  CHANGES.rst
Labels: none

RCAL-787: allow DQ flags to be specified by the user in resample. (#1166)
  CHANGES.rst
  docs/roman/resample/arguments.rst
  pyproject.toml
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
Labels: documentation, dependencies, testing

add predeps job
  .github/workflows/roman_ci.yml
  tox.ini
Labels: automation, testing

Update default DQ flags.
  docs/roman/resample/arguments.rst
  docs/roman/skymatch/arguments.rst
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample_step.py
  romancal/skymatch/skymatch_step.py
Labels: documentation

Update doc for outlier detection step.
  docs/roman/outlier_detection/arguments.rst
Labels: documentation

Add changelog entry.
  CHANGES.rst
Labels: none

Update HLP regtest to use existing L1/L2 files; add L3 file creation to make_regtestdata.sh
  romancal/regtest/test_hlp_pipeline.py
  romancal/scripts/make_regtestdata.sh
Labels: regression_testing, pipeline

Fix typos, copy regtest files into place.
  romancal/scripts/make_regtestdata.sh
Labels: none

Error out completely if units are not as expected
  romancal/flux/flux_step.py
Labels: none

set flux step status for each input
  romancal/flux/flux_step.py
Labels: none

update changelog
  CHANGES.rst
Labels: none

RCAL-800: Set flux step status for each input (#1160)
  CHANGES.rst
  romancal/flux/flux_step.py
Labels: none

Add unit test for checking returned weight array.
  romancal/resample/tests/test_resample.py
Labels: testing

Fix bug that prevented mosaic weight array from being updated.
  romancal/resample/gwcs_drizzle.py
Labels: none

Fix bug that prevented updating context image.
  romancal/resample/gwcs_drizzle.py
Labels: none

Update unit tests.
  romancal/resample/tests/test_gwcs_drizzle.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

Fix legacy usage of numpy's random generator.
  romancal/resample/tests/test_resample_step.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

Add unit test for checking returned weight array.
  romancal/resample/tests/test_resample.py
Labels: testing

Fix bug that prevented updating context image.
  romancal/resample/gwcs_drizzle.py
Labels: none

Fix legacy usage of numpy's random generator.
  romancal/resample/tests/test_resample_step.py
Labels: testing

Fix bug that prevented mosaic weight array from being updated.
  romancal/resample/gwcs_drizzle.py
Labels: none

Update unit tests.
  romancal/resample/tests/test_gwcs_drizzle.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

Add tests of WCS accuracy.
  romancal/flatfield/flat_field.py
  romancal/regtest/test_tweakreg.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, regression_testing, flatfield

Update change log.
  CHANGES.rst
Labels: none

Remove link to non-existent STScI logo
  README.md
Labels: documentation

Fix test.
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

add __init__.py and change tessel to patch
  CHANGES.rst
  romancal/patch_match/__init__.py
  romancal/patch_match/patch_match.py
  romancal/patch_match/test/patches_subset.asdf
  romancal/patch_match/test/test_patch_match.py
  romancal/tessel_match/test/tesselation_subset.asdf
Labels: none

further changes to pyproject.toml
  pyproject.toml
Labels: dependencies

fix pre-commit exclude syntax and pin stsci.imagestats to 0.2.6
  .pre-commit-config.yaml
  pyproject.toml
Labels: dependencies

address review comments and remove plotting for now
  romancal/patch_match/patch_match.py
Labels: none

further changes to pyproject.toml to remove stsci.stimage as a dependency
  pyproject.toml
Labels: dependencies

correct typo inadverently added
  romancal/patch_match/patch_match.py
Labels: none

updated CHANGES.rst with PR number
  CHANGES.rst
Labels: none

put exclude: asdf files in pre-commit file
  .pre-commit-config.yaml
  romancal/patch_match/patch_match.py
Labels: none

reorganize imports in test_patch_match.py and deal with import with no env variable defined
  romancal/patch_match/patch_match.py
  romancal/patch_match/test/test_patch_match.py
Labels: none

initial commit of tessel matching code
  CHANGES.rst
  romancal/tessel_match/tessel_match.py
  romancal/tessel_match/test/tesselation_subset.asdf
  romancal/tessel_match/test/test_tessel_match.py
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
