Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

added else
  romancal/source_detection/source_detection_step.py
Labels: none

change log
  CHANGES.rst
Labels: none

change log
  CHANGES.rst
Labels: none

added else
  romancal/source_detection/source_detection_step.py
Labels: none

install devdeps after pip install
  tox.ini
Labels: testing

change log
  CHANGES.rst
Labels: none

added else
  romancal/source_detection/source_detection_step.py
Labels: none

Refactoring to handle changes to SourceDetectionStep logic.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Add epoch parameter to fetch catalog data.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

Add entry in CHANGES.rst
  CHANGES.rst
Labels: none

explicitly call binary path
  JenkinsfileRT
Labels: automation, regression_testing

explicitly define coverage file
  JenkinsfileRT
Labels: automation, regression_testing

explicitly call filename
  JenkinsfileRT
Labels: automation, regression_testing

explicitly call binary path in codecov upload (#683)
  JenkinsfileRT
Labels: automation, regression_testing

RCAL-476 Initial test_level2_basics
  romancal/associations/tests/test_level2_basics.py
Labels: testing, associations

rcal-476 updates for python 3.11
  r00992-a3001_full_001_asn.json
  r00992-a3001_image_001_asn.json
  romancal/associations/__init__.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/main.py
  romancal/associations/tests/helpers.py
Labels: testing, associations

rcal-476 updates for python 3.11
  romancal/associations/__init__.py
  romancal/associations/main.py
Labels: associations

RCAL-476 Intermediate work on tests
  romancal/associations/lib/decorators.py
  romancal/associations/main.py
  romancal/associations/tests/data/pool_001_candidates.csv
  romancal/associations/tests/test_level2_basics.py
  romancal/associations/tests/test_level2_candidates.py
Labels: testing, associations

RCAL-476 Update docs
  CHANGES.rst
  romancal/associations/main.py
  romancal/associations/tests/test_level2_basics.py
Labels: testing, associations

rcal-476 Update tests
  romancal/associations/tests/data/asn_level2.json
  romancal/associations/tests/data/pool_002_wfi_image.csv
  romancal/associations/tests/helpers.py
  romancal/associations/tests/test_level2_basics.py
Labels: testing, associations, Wide Field Instrument (WFI)

RCAL-476 Code for GBTDS image, season and Full associations
  romancal/associations/generate.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
Labels: associations

RCAL-476 add association tests
  romancal/associations/generate.py
  romancal/associations/lib/update_path.py
  romancal/associations/main.py
  romancal/associations/tests/data/asn_mosaic.json
  romancal/associations/tests/data/jw93060_20150312T160130_pool.csv
  romancal/associations/tests/data/rules_basic.py
  romancal/associations/tests/test_generate.py
  romancal/associations/tests/test_pool.py
  romancal/associations/tests/test_update_path.py
  romancal/associations/tests/test_version.py
Labels: testing, associations

rcal-475 Updates for docs, associations overview formating
  docs/roman/associations/overview.rst
Labels: documentation, associations

rcal-476 Update tests and correct output path
  romancal/associations/generate.py
  romancal/associations/main.py
  romancal/associations/pool.py
Labels: associations

rcal-476 Update test data & test code
  r00992-a3001_full_001_asn.json
  r00992-a3001_image_001_asn.json
  romancal/associations/tests/data/pool_001_candidates.csv
  romancal/associations/tests/helpers.py
  romancal/associations/tests/test_level2_candidates.py
  romancal/associations/tests/test_update_path.py
Labels: testing, associations

Reformat code to match JWST for debugging
  romancal/associations/__init__.py
  romancal/associations/association.py
  romancal/associations/main.py
  romancal/associations/pool.py
Labels: associations

RCAL-476 Update docs
  CHANGES.rst
Labels: none

Added simple outlier detection step.
  romancal/lib/suffix.py
  romancal/outlier_detection/__init__.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/__init__.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: testing, stpipe

Updated changelog.
  CHANGES.rst
Labels: none

Added CI env check in unit test.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Add epoch parameter to create_astrometric_catalog.
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Fixed comment.
  romancal/outlier_detection/outlier_detection_step.py
Labels: none

set source detection cal_step to complete
  romancal/source_detection/source_detection_step.py
Labels: none

Rcal-476 Add GBTDS associations for Full, Pass, and segment (#661)
  CHANGES.rst
  docs/roman/associations/overview.rst
  romancal/associations/association.py
  romancal/associations/generate.py
  romancal/associations/lib/decorators.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/lib/update_path.py
  romancal/associations/main.py
  romancal/associations/tests/data/asn_level2.json
  romancal/associations/tests/data/asn_mosaic.json
  romancal/associations/tests/data/jw93060_20150312T160130_pool.csv
  romancal/associations/tests/data/pool_001_candidates.csv
  romancal/associations/tests/data/pool_002_wfi_image.csv
  romancal/associations/tests/data/rules_basic.py
  romancal/associations/tests/helpers.py
  romancal/associations/tests/test_generate.py
  romancal/associations/tests/test_level2_basics.py
  romancal/associations/tests/test_level2_candidates.py
  romancal/associations/tests/test_pool.py
  romancal/associations/tests/test_update_path.py
  romancal/associations/tests/test_version.py
Labels: documentation, testing, associations, Wide Field Instrument (WFI)

enable step summary for pytest results
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

Fix equation.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing

enable step summary for pytest results
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

Update source_detection_step.py
  romancal/source_detection/source_detection_step.py
Labels: none

Update source_detection_step.py
  romancal/source_detection/source_detection_step.py
Labels: none

set source detection cal_step to complete
  romancal/source_detection/source_detection_step.py
Labels: none

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
