Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Allow TweakRegStep to ingest SourceCatalogStep results.
  romancal/source_catalog/source_catalog_step.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Code refactoring to allow SourceCatalogStep to always return a datamodel.
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

Bring multiple test parameters back.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing

add WIP library
  romancal/datamodels/library.py
Labels: none

update flux to use ModelLibrary
  romancal/datamodels/__init__.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing

remove ModelContainer from elp
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

use shelve, change __exit__ error handling
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
Labels: testing

update outlier_detection to use shelve
  romancal/datamodels/library.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: testing

fix outlier median calc to use weights
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
Labels: none

update skymatch to use ModelLibrary
  romancal/datamodels/library.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

remove ModelLibrary.asn_table_name
  romancal/datamodels/library.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: none

remove ModelContainer
  romancal/datamodels/__init__.py
  romancal/datamodels/container.py
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

minor docs
  romancal/datamodels/library.py
Labels: none

allow ModelLibrary(asn_dict)
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
Labels: testing

fix single model filename usage for tweakreg
  romancal/tweakreg/tweakreg_step.py
Labels: none

port over jwst library unit tests
  romancal/datamodels/tests/test_library.py
Labels: testing

remove _ModelStore
  romancal/datamodels/library.py
Labels: none

update resample to use shelve
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
Labels: testing

skip questionable outlier detection test
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

copy save from model container
  romancal/datamodels/library.py
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

update minimum asdf version to use load_yaml
  pyproject.toml
Labels: dependencies

switch ModelStore to use path instead of directory name
  romancal/datamodels/library.py
Labels: none

cleanup ModelLibrary attributes
  romancal/datamodels/library.py
Labels: none

TMP: set stpipe to fork
  pyproject.toml
Labels: dependencies

remove _is_asn in skymatch
  romancal/skymatch/skymatch_step.py
Labels: none

start of index/map_function
  romancal/datamodels/library.py
Labels: none

update skymatch to use shelve
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

update flux to use shelve
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing

remove meta.asn.exptype usage
  romancal/datamodels/library.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

allow ModelLibrary to run on_disk for hlp, reorganize outlier detection
  romancal/outlier_detection/outlier_detection.py
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

undo outlier detection resample single usage
  romancal/outlier_detection/outlier_detection.py
Labels: none

update tweakreg to use ModelLibrary
  romancal/datamodels/library.py
  romancal/outlier_detection/outlier_detection.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

fix library exception test
  romancal/datamodels/tests/test_library.py
Labels: testing

replace container with library in docs
  docs/roman/data_products/product_types.rst
  docs/roman/datamodels/container.rst
  docs/roman/datamodels/index.rst
  docs/roman/datamodels/library.rst
  docs/roman/flux/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  docs/roman/outlier_detection/outlier_examples.rst
  docs/roman/resample/main.rst
  docs/roman/tweakreg/README.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/datamodels/library.py
Labels: documentation

add table_name try to fix hlp test
  romancal/datamodels/library.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/resample/resample_step.py
Labels: pipeline

support overwrite=True in save
  romancal/datamodels/library.py
Labels: none

update resample to use ModelLibrary
  romancal/datamodels/library.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
Labels: testing

WIP update to outlier_detection
  romancal/datamodels/library.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

flush out get_crds_parameters
  romancal/datamodels/library.py
Labels: none

update tweakreg to use shelve
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
