Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

rcal-710 Update linearity test to use refpix input
  romancal/regtest/test_linearity.py
Labels: regression_testing, linearity

rcal-710 Update stcal version & ignore crds.sw_version in the diffs
  pyproject.toml
  romancal/regtest/conftest.py
Labels: dependencies, regression_testing

Fix issue with catalog format.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Add big data regression test for jump detection step
  romancal/regtest/test_jump_det.py
Labels: regression_testing, jump

Close files in regtest
  romancal/regtest/test_jump_det.py
Labels: regression_testing, jump

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Make jump detection default to on for ramp fitting
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Script to turn provided data files into input/output files for regtest
  pyproject.toml
  romancal/regtest/scripts/create_jump_data.py
Labels: dependencies, regression_testing, jump

Remove quote indent from main header
  README.md
Labels: documentation

Mark jump as complete
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Remove jump step from exposure pipeline
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Create a standard "regression-test"
  romancal/regtest/scripts/create_jump_data.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, jump, ramp_fitting

More adjustments
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/scripts/create_jump_data.py
Labels: regression_testing, jump, ramp_fitting

minor fix for data hash in cache key (#999)
  .github/workflows/data.yml
Labels: automation

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Add dms tests
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Add dms tests
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, pipeline, Wide Field Instrument (WFI)

Skip jump detection step when ramp fitting jump detection is enabled
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/regtest/test_jump_det.py
Labels: testing, regression_testing, jump, ramp_fitting

Update romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Disable jump detection steps completely
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_ramp_fitting.py
Labels: regression_testing, jump, ramp_fitting

Fix regression tests
  romancal/regtest/scripts/create_jump_data.py
  romancal/regtest/test_jump_det.py
Labels: regression_testing, jump

Propagate more dq flags forward.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

Finalize the step data outputs
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/scripts/create_jump_data.py
Labels: regression_testing, jump, ramp_fitting

Update changes
  CHANGES.rst
Labels: none

Fix issue with source catalog in TweakReg.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Rcal 713 Update pyproject.toml to use stcal 1.5.0 or greater and add ref_file.crds.sw_version to the ignore list (#1003)
  pyproject.toml
  romancal/regtest/conftest.py
  romancal/regtest/test_linearity.py
Labels: dependencies, regression_testing, linearity

Fix issue with source catalog in TweakReg.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Update resample test to use new files.
  romancal/regtest/test_resample.py
Labels: regression_testing

rcal-718 update okify script for the new jfrog cli
  .github/pull_request_template.md
  romancal/scripts/okify_regtests.py
Labels: automation

rcal-718 Remove extra code & comments
  romancal/scripts/okify_regtests.py
Labels: none

rcal-718 Remove uneeded variable
  romancal/scripts/okify_regtests.py
Labels: none

Store asn file in artifactory rather than making it in the test.
  romancal/regtest/test_resample.py
Labels: regression_testing

Remove old import.
  romancal/regtest/test_resample.py
Labels: regression_testing

rcal-718 update okify script for the new jfrog cli (#1010)
  .github/pull_request_template.md
  romancal/scripts/okify_regtests.py
Labels: automation

Code refactoring and improvements.
  CHANGES.rst
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample.py
Labels: none

Mark jump step as incomplete in fully-saturated case.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

Point tweakreg to new files. Move the asn file into artifactory.
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

Document new OUTLIER bit.
  docs/roman/references_general/dq_flags.inc
Labels: documentation

fix import in script for use by typer (#982)
  pyproject.toml
  romancal/scripts/static_preview.py
Labels: dependencies
