Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Remove unnecessary global variable and unit tests.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

Add changelog entry.
  CHANGES.rst
Labels: none

Remove unnecessary global variable and unit tests.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

remove pytest asdf plugin configuration for non-existant schemas
  pyproject.toml
Labels: dependencies

Add changelog entry.
  CHANGES.rst
Labels: none

Remove unnecessary global variable and unit tests.
  romancal/tweakreg/tweakreg_step.py
Labels: none

show logs on failed tests
  pyproject.toml
Labels: dependencies

replace usages of ``copy_arrays`` with ``memmap``
  docs/roman/datamodels/datamodels_asdf.rst
  romancal/linearity/linearity_step.py
  romancal/regtest/regtestdata.py
Labels: documentation, regression_testing, linearity

replace usages of ``copy_arrays`` with ``memmap``
  CHANGES.rst
Labels: none

bump asdf version
  pyproject.toml
Labels: dependencies

replace usages of ``copy_arrays`` with ``memmap`` (#1316)
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  pyproject.toml
  romancal/linearity/linearity_step.py
  romancal/regtest/regtestdata.py
Labels: documentation, dependencies, regression_testing, linearity

Revert "Remove unnecessary global variable and unit tests."
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

update flux to use ModelLibrary
  romancal/datamodels/__init__.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing

add WIP library
  romancal/datamodels/library.py
Labels: none

remove ModelContainer from elp
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

remove ModelContainer from highlevel_pipeline
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

start of index/map_function
  romancal/datamodels/library.py
Labels: none

update resample to use ModelLibrary
  romancal/datamodels/library.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
Labels: testing

copy save from model container
  romancal/datamodels/library.py
  romancal/regtest/test_tweakreg.py
Labels: regression_testing

fix tweakreg tests
  romancal/datamodels/library.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

remove _ModelStore
  romancal/datamodels/library.py
Labels: none

update skymatch to use shelve
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

minor docs
  romancal/datamodels/library.py
Labels: none

cleanup ModelLibrary attributes
  romancal/datamodels/library.py
Labels: none

update skymatch to use ModelLibrary
  romancal/datamodels/library.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

remove use of private _models
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

use library from stpipe
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
Labels: testing

update tweakreg to use shelve
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

allow ModelLibrary to run on_disk for hlp, reorganize outlier detection
  romancal/outlier_detection/outlier_detection.py
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

TMP: set stpipe to fork
  pyproject.toml
Labels: dependencies

replace container with library in docs
  docs/roman/data_products/product_types.rst
  docs/roman/datamodels/container.rst
  docs/roman/datamodels/index.rst
  docs/roman/datamodels/library.rst
  docs/roman/flux/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  docs/roman/outlier_detection/outlier_examples.rst
  docs/roman/resample/main.rst
  docs/roman/tweakreg/README.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/datamodels/library.py
Labels: documentation

fix single model filename usage for tweakreg
  romancal/tweakreg/tweakreg_step.py
Labels: none

rebase
  romancal/datamodels/filetype.py
  romancal/datamodels/tests/test_filetype.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

update flux to use shelve
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
Labels: testing

fix outlier median calc to use weights
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
Labels: none

allow ModelLibrary(asn_dict)
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
Labels: testing

skip questionable outlier detection test
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

use library._save
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing

update tweakreg to use ModelLibrary
  romancal/datamodels/library.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

flush out get_crds_parameters
  romancal/datamodels/library.py
Labels: none
