Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Refactored WCS generator for unit test.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Deleted unnecessary data.
  romancal/tweakreg/tests/data/base_image_wcs.asdf
Labels: testing

remove upper pins from dependencies (#656)
  pyproject.toml
Labels: dependencies

import tomli as tomllib
  docs/conf.py
Labels: documentation

Test refactoring.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Fix style issue.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Fix bug when testing save abs_refcat.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

ignore extrs directory
  pyproject.toml
Labels: dependencies

Add configuration for isort
  .pre-commit-config.yaml
  pyproject.toml
Labels: dependencies

Add configuration for black
  .pre-commit-config.yaml
  pyproject.toml
Labels: dependencies

Actually enable ruff checking. `ruff` linting was not actually enabled in the CI. This commit fixes that.
  .pre-commit-config.yaml
  romancal/associations/lib/rules_elpp_base.py
Labels: associations

Run `flynt` to fix more fstrings
  docs/exts/numfig.py
  romancal/associations/lib/diff.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/lib/basic_utils.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, associations, ramp_fitting

Set line length to 88
  .flake8
  pyproject.toml
Labels: dependencies

Manual line-length fixes (all for comments and formatted strings)
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/utils.py
  romancal/associations/lib/constraint.py
  romancal/associations/lib/diff.py
  romancal/associations/registry.py
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/jump/jump_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/saturation/tests/test_saturation.py
  romancal/scripts/okify_regtests.py
  romancal/stpipe/core.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, assign_wcs, associations, Dark Current, dq_init, jump, photom, ramp_fitting, saturation, stpipe

Update changes
  CHANGES.rst
Labels: none

move pyargs test to schedule
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

use OpenAstronomy workflow and move MacOS jobs to schedule
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

reorder jobs
  .github/workflows/roman_ci.yml
  tox.ini
Labels: automation, testing

drop Python 3.8
  .github/workflows/roman_ci.yml
Labels: automation, testing

move scheduled workflow to midnight
  .github/workflows/roman_ci_cron.yaml
Labels: automation

use Tox 4.0 in workflow
  .github/workflows/roman_ci.yml
Labels: automation, testing

combine matrices
  .github/workflows/roman_ci.yml
Labels: automation, testing

use snake case version of `envlist` keyword
  tox.ini
Labels: testing

reorder
  .github/workflows/roman_ci.yml
Labels: automation, testing

conditions
  .github/workflows/roman_ci.yml
Labels: automation, testing

add explicit reference to `CODECOV_TOKEN`
  .github/workflows/roman_ci.yml
Labels: automation, testing

actually sync CRDS
  .github/workflows/roman_ci.yml
Labels: automation, testing

expression syntax
  .github/workflows/roman_ci.yml
Labels: automation, testing

use OpenAstronomy workflow
  .github/workflows/roman_ci.yml
Labels: automation, testing

don't use `crds sync`, and only cache CRDS files if running a `test` toxenv
  .github/workflows/roman_ci.yml
Labels: automation, testing

expand devdeps jobs
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: automation, testing

remove numpy tests
  .github/workflows/roman_ci.yml
Labels: automation, testing

test Python 3.8
  .github/workflows/roman_ci.yml
Labels: automation, testing

refactor toxenvs, use OpenAstronomy workflows, and move MacOS jobs to schedule (#612)
  .github/workflows/roman_ci_cron.yaml
  tox.ini
Labels: automation, testing

Add another unit test.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Fix style to comply with new max line length.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

Remove references to `roman_datamodels.unit`
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: testing, Dark Current, dq_init, flatfield, jump, linearity, ramp_fitting

Update pyproject.toml file
  pyproject.toml
Labels: dependencies

Update changes
  CHANGES.rst
Labels: none

copy commands to MacOS jobs
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: automation, regression_testing

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'
