Repository spacetelescope/romancal, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

.github/labeler.yml:

documentation:
  - 'docs/**/*'
  - any: [ '*.rst', '!CHANGES.rst' ]
  - '*.md'
  - '.readthedocs.yaml'
  - 'LICENSE'

dependencies:
  - 'pyproject.toml'
  - 'setup.*'
  - 'requirements-*.txt'
  - 'MANIFEST.in'

# --------------------------------------- testing ---------------------------------------

automation:
  - '.github/**'
  - '.bandit.yaml'
  - '.codecov.yml'
  - 'Jenkinsfile*'

testing:
  - '**/tests/**'
  - '.github/workflows/*ci*.yml'
  - 'conftest.py'
  - 'tox.ini'

regression_testing:
  - '**/regtest/**'
  - 'Jenkinsfile*'

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - '**/*assign_wcs*'
  - '**/*assign_wcs*/**'

associations:
  - '**/*association*'
  - '**/*association*/**'

Dark Current:
  - '**/*dark_current*'
  - '**/*dark_current*/**'

dq_init:
  - '**/*dq_init*'
  - '**/*dq_init*/**'

flatfield:
  - '**/*flatfield*'
  - '**/*flatfield*/**'

jump:
  - '**/*jump*'
  - '**/*jump*/**'

linearity:
  - '**/*linearity*'
  - '**/*linearity*/**'

photom:
  - '**/*photom*'
  - '**/*photom*/**'

ramp_fitting:
  - '**/*ramp_fitting*'
  - '**/*ramp_fitting*/**'

saturation:
  - '**/*saturation*'
  - '**/*saturation*/**'

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - '**/*stpipe*'
  - '**/*stpipe*/**'

pipeline:
  - '**/*pipeline*'
  - '**/*pipeline*/**'

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - '**/*wfi*'
  - '**/*wfi*/**'

Remove commented code.
  romancal/outlier_detection/outlier_detection.py
Labels: none

fix regtest teardown for fixture updates
  romancal/regtest/conftest.py
Labels: regression_testing

clarify how to get V2/V3_REF
  docs/roman/assign_wcs/main.rst
Labels: documentation, assign_wcs

Remove outdated comment.
  romancal/scripts/make_regtestdata.sh
Labels: none

Add change log entry.
  CHANGES.rst
Labels: none

Consolidate regression tests into fewer files. Add script to create regression test files.
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_saturation.py
  romancal/scripts/make_regtestdata.sh
Labels: regression_testing, dq_init, photom, ramp_fitting, saturation, Wide Field Instrument (WFI)

Clarify how to get V2/V3_REF (#1142)
  docs/roman/assign_wcs/main.rst
Labels: documentation, assign_wcs

Improve log messages and return unchanged input on failure to parse it into a ModelContainer.
  romancal/outlier_detection/outlier_detection_step.py
Labels: none

Refactor unit tests.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Use weak reference for datamodels when creating WCS corrector.
  romancal/tweakreg/tweakreg_step.py
Labels: none

Small refactorings.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Small refactorings.
  romancal/outlier_detection/outlier_detection.py
Labels: none

Fix bug in unit test related to using weak reference in TweakReg.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

RCAL-726: allow ModelContainer as input to outlier detection step. (#1092)
  CHANGES.rst
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

remove unused test code
  romancal/regtest/conftest.py
  romancal/regtest/sdp_pools_source.py
  romancal/tests/base_classes.py
Labels: testing, regression_testing

restore comments in pyproject.toml
  pyproject.toml
Labels: dependencies

require Python 3.10
  pyproject.toml
Labels: dependencies

update references to Python 3.9
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  README.md
  docs/roman/pipeline_installation.rst
Labels: documentation, automation, testing, pipeline

apply review suggestion
  .github/workflows/roman_ci.yml
Labels: automation, testing

add Python 3.12
  .github/workflows/roman_ci.yml
Labels: automation, testing

[SCSB-145] require Python 3.10 (#1144)
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  README.md
  docs/roman/pipeline_installation.rst
  pyproject.toml
Labels: documentation, dependencies, automation, testing, pipeline

fix n_diffs in compare_asdf
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

rcal-783 Updates to Changelog and filename location
  CHANGES.rst
  romancal/resample/resample.py
Labels: none

rcal783 fix meta.filename for outlier detection tests
  romancal/resample/resample.py
Labels: none

rcal783 fix meta.filename for tests
  romancal/resample/resample.py
Labels: none

RCAL-783 HLP updates and initial HLP reg test
  romancal/pipeline/highlevel_pipeline.py
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

rcal-783 Fix pipeline code inputs from revert
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

rcal-783 Fix revert of HLP code
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline

(temporarily) xfail tests that are failing due to pixel differences
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, ramp_fitting, pipeline, Wide Field Instrument (WFI)

add TODOs to remove xfails eventually
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_pipeline.py
Labels: regression_testing, ramp_fitting, pipeline, Wide Field Instrument (WFI)

Fix code for when outlier is called without resampling.
  romancal/outlier_detection/outlier_detection.py
Labels: none

Add CHANGES.rst entry.
  CHANGES.rst
Labels: none

Update unit test name to better reflect the purpose of the test.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

Remove TODO and unnecessary use of ModelContainer.
  romancal/outlier_detection/outlier_detection.py
Labels: none

Fix bug when creating median image.
  romancal/outlier_detection/outlier_detection.py
Labels: none

Add unit test for when outlier detection step takes in identical images.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

rcal-783 Include flux calibration step and update regression test
  romancal/pipeline/highlevel_pipeline.py
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

rcal-783 Update hlp input files
  romancal/regtest/test_hlp_pipeline.py
Labels: regression_testing, pipeline

Fix code for when outlier is called without resampling.
  romancal/outlier_detection/outlier_detection.py
Labels: none

Update unit test name to better reflect the purpose of the test.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing
