Repository spacetelescope/romancal, pull requests merged in 2020-12, with the labels that each got.

#61 Replaced JWST references with Roman
  docs/roman/datamodels/models.rst
  docs/roman/datamodels/new_model.rst
  docs/roman/datamodels/structure.rst
  docs/roman/error_propagation/main.rst
  docs/roman/introduction.rst
Labels: build0.1, documentation

#69 Removed more JWST references
  docs/roman/references_general/flat_reffile.inc
Labels: build0.0, documentation

#71 adding requirements file for sdp delivery
  docs/conf.py
  docs/index.rst
  docs/roman/error_propagation/index.rst
  docs/roman/error_propagation/main.rst
  docs/roman/flatfield/arguments.rst
  docs/roman/flatfield/index.rst
  docs/roman/flatfield/main.rst
  docs/roman/includes/standard_keywords.inc
  docs/roman/introduction.rst
  docs/roman/package_index.rst
  docs/roman/references_general/flat_reffile.inc
  docs/roman/references_general/index.rst
  docs/roman/references_general/references_general.rst
  requirements-sdp.txt
  romancal/datamodels/tests/test_models.py
  setup.cfg
Labels: documentation
