Repository spacetelescope/romancal, pull requests merged in 2021-09, with the labels that each got.

#290 RCAL 182 Added DQ_Init regression tests.
  CHANGES.rst
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
Labels: Data Quality, build0.3

#309 Rcal 178 Jump Step for Roman data
  CHANGES.rst
  romancal/jump/__init__.py
  romancal/jump/jump_step.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: jump

#310 Roman ramp fitting docs (RCAL-130)
  docs/roman/package_index.rst
  docs/roman/ramp_fitting/arguments.rst
  docs/roman/ramp_fitting/description.rst
  docs/roman/ramp_fitting/index.rst
  docs/roman/ramp_fitting/reference_files.rst
Labels: documentation, RCAL, ramp_fitting, build 0.4

#315 RCAL-220 Added regresson test for Jump Detection
  CHANGES.rst
  romancal/regtest/test_jump_det.py
Labels: jump

#276 ramp_fitting using stcal and roman_datamodels
  CHANGES.rst
  romancal/ramp_fitting/__init__.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/test_ramp_fitting.py
  romancal/step.py
  romancal/stpipe/integration.py
  setup.cfg
Labels: ramp_fitting, ready-for-review
