Repository spacetelescope/romancal, pull requests merged in 2021-05, with the labels that each got.

#213 Add description section for flat fielding. (RCAL-135)
  docs/roman/flatfield/index.rst
  docs/roman/flatfield/main.rst
Labels: documentation

#212 RCAL-100 Integrate Tag approach into Roman pipelines
  CHANGES.rst
  romancal/datamodels/tests/test_extension.py
  romancal/datamodels/tests/test_models.py
  romancal/datamodels/tests/test_open.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/flat_field_step.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
  setup.cfg
Labels: datamodels

#215 Rcal 157 Update requirements in prep for June 15 Build 0.2 release
  requirements-sdp.txt
Labels: build0.2

#222 Rcal-164 Add grism model to flat field regression tests
  CHANGES.rst
  romancal/regtest/test_wfi_flat_field.py
Labels: RCAL, build0.2, testing
