Repository spacetelescope/romancal, pull requests merged in 2021-11, with the labels that each got.

#342 Add unit tests for roman ramp fit (RCAL-106)
  romancal/ramp_fitting/tests/__init__.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: roman, ramp_fitting, testing

#349 RCAL-229 Updated flat_field_step to append flat to the filename
  CHANGES.rst
  romancal/flatfield/flat_field.py
  romancal/flatfield/flat_field_step.py
  romancal/regtest/test_wfi_flat_field.py
Labels: flatfield_correction

#351 Updated names of input and truth files
  CHANGES.rst
  romancal/regtest/test_jump_det.py
Labels: testing, build 0.4

#360 First version of implementation of linearity correction for RCAL-217
  CHANGES.rst
  romancal/linearity/__init__.py
  romancal/linearity/linearity_step.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: build 0.4, Linearity Step

#361 RCAL-246: Add assign_wcs step
  CHANGES.rst
  docs/roman/assign_wcs/index.rst
  docs/roman/assign_wcs/main.rst
  docs/roman/package_index.rst
  romancal/assign_wcs/__init__.py
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/pointing.py
  romancal/assign_wcs/tests/__init__.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/assign_wcs/utils.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: assign_wcs

#352 Record step/pipeline logs in ImageModel.cal_logs
  CHANGES.rst
  romancal/regtest/conftest.py
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
  setup.cfg
Labels: stpipe

#364 Update regtests for new required cal_logs attribute
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_wfi_flat_field.py
Labels: bug, no_changelog_needed

#359 Initial version of the romancal pipeline code
  docs/roman/introduction.rst
  docs/roman/package_index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  romancal/dark_current/dark_sub.py
  romancal/flatfield/flat_field_step.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/pipeline/__init__.py
  romancal/pipeline/exposure_pipeline.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/saturation/saturation_step.py
  romancal/stpipe/integration.py
Labels: ELPP, build 0.4

#369 RCAL-254 Update ramp fit regression tests
  CHANGES.rst
  romancal/regtest/test_ramp_fitting.py
Labels: ramp_fitting

#367 Add linearity correction documentation (RCAL-240)
  docs/roman/linearity/arguments.rst
  docs/roman/linearity/description.rst
  docs/roman/linearity/index.rst
  docs/roman/linearity/reference_files.rst
  docs/roman/package_index.rst
  docs/roman/references_general/linearity_reffile.inc
  docs/roman/references_general/linearity_reffile.rst
  docs/roman/references_general/linearity_selection.inc
  docs/roman/references_general/linearity_selection.rst
Labels: documentation, build 0.4, Linearity Step

#371 add linearity to references_general docs
  docs/roman/references_general/references_general.rst
Labels: documentation, build 0.4
