Repository spacetelescope/romancal, pull requests merged in 2021-06, with the labels that each got.

#225 add a test for retrieving a spectral file from CRDS
  romancal/stpipe/tests/test_core.py
Labels: CRDS

#226 Update Changes.rst and README.md for 0.3.1 release
  CHANGES.rst
  README.md
Labels: CRDS, build0.2

#241 Rcal-172 Update README URL's and text
  CHANGES.rst
  README.md
Labels: documentation
