Repository spacetelescope/romancal, pull requests merged in 2021-12, with the labels that each got.

#384 Rcal 251 Pin versions in requirements-sdp.txt file for release
  JenkinsfileRT
  requirements-sdp.txt
Labels: build 0.4

#386 Update CRDS version to 11.5.2
  requirements-sdp.txt
Labels: build 0.4

#383 RCAL-245: Test with Python 3.10
  .github/workflows/roman_ci.yml
  tox.ini
Labels: testing, no-changelog-needed

#390 Update to unpin the requirements-sdp.txt file for further development
  requirements-sdp.txt
Labels: build 0.5
