Repository spacetelescope/romancal, pull requests merged in 2022-05, with the labels that each got.

#491 Update CRDS context to roman_0031.pmap
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: CRDS

#494 Update crds context to 0032
  JenkinsfileRT
  JenkinsfileRT_dev
  requirements-sdp.txt
Labels: CRDS

#495 Update okify script to work with Roman artifactory data
  scripts/okify_regtests
Labels: infrastructure

#496 RCAL-315 Updates for regression tests, current input files and data m…
  CHANGES.rst
  romancal/flatfield/tests/test_flatfield.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/stpipe/tests/test_core.py
Labels: regression_testing

#498 RCAL-339 Update photom step to skip spectroscopic data
  CHANGES.rst
  romancal/photom/photom_step.py
  romancal/photom/tests/test_photom.py
Labels: bug, Photom

#499 Pin b06 requirements
  README.md
  requirements-sdp.txt
  setup.cfg
Labels: Build 22Q3_B6

#504 Rcal-340 Updates to flat field code to handle no flat for grism data & remove skip
  CHANGES.rst
  romancal/flatfield/flat_field.py
  romancal/flatfield/flat_field_step.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/regtest/test_wfi_saturation.py
Labels: flatfield_correction, regression_testing

#506 Account for possible zero frame in linearity
  romancal/linearity/linearity_step.py
Labels: Linearity Step

#507 Updates for stcal
  requirements-sdp.txt
Labels: Release
