Repository spacetelescope/romancal, pull requests merged in 2022-06, with the labels that each got.

#521 rcal-310 Update code to update suffixes, update regtests for the new names
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  requirements-dev.txt
  requirements-sdp.txt
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/dq_init/dq_init_step.py
  romancal/flatfield/flat_field_step.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/lib/suffix.py
  romancal/linearity/linearity_step.py
  romancal/photom/photom_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_saturation.py
  romancal/saturation/saturation_step.py
Labels: infrastructure

#527 update pull request template to be more explicit
  .github/pull_request_template.md
Labels: no-changelog-entry-needed

#539 Rcal 295 compute s region
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
Labels: assign_wcs

#522 copy changelog workflow from `asdf`
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed
