Repository spacetelescope/romancal, pull requests merged in 2022-08, with the labels that each got.

#550 automatically add labels to pull requests based on changed files
  .github/labeler.yml
  .github/workflows/label_pull_request.yml
Labels: no-changelog-entry-needed, automation

#553 fix input file
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

#556 Unpin stpipe version in development requirements
  requirements-dev.txt
Labels: dependencies, no-changelog-entry-needed

#557 fix `flake8` warnings
  romancal/dq_init/tests/test_dq_init.py
  romancal/photom/tests/test_photom.py
Labels: Photom, testing, dq_init, no-changelog-entry-needed

#559 Update CRDS Context
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: setup, regression_testing, reference files, regression-test, no-changelog-entry-needed, automation

#560 Fix photom test
  romancal/regtest/test_wfi_photom.py
Labels: Photom, photometry, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#561 fix README badge, remove redundant section
  README.md
Labels: documentation, no-changelog-entry-needed

#562 pin `asdf` to newest patch version to fix dependency for newest `jsonschema` release
  CHANGES.rst
  setup.cfg
Labels: bug, dependencies

#563 pin `roman_datamodels` to newest feature release
  setup.cfg
Labels: Release, dependencies, no-changelog-entry-needed

#564 RCAL-351 Update flat field documentation
  docs/roman/flatfield/main.rst
Labels: documentation, flatfield_correction, no-changelog-entry-needed, flatfield
