Repository spacetelescope/romancal, pull requests merged in 2022-11, with the labels that each got.

#593 changes in jump for snowball flagging and flagging pixels after detected jump
  CHANGES.rst
  romancal/jump/jump_step.py
Labels: jump

#594 RCAL-419 Update photom to use default suffix for spectral data
  CHANGES.rst
  romancal/photom/photom_step.py
Labels: bug, Photom

#591 RCAL-416: Overwrite Photometric Keywords for Spectroscopic Data
  CHANGES.rst
  romancal/photom/photom_step.py
  romancal/photom/tests/test_photom.py
Labels: Photom, testing

#600 Rcal 409 doc improvements
  CHANGES.rst
  docs/index.rst
  docs/roman/assign_wcs/main.rst
  docs/roman/dark_current/description.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/models.rst
  docs/roman/introduction.rst
  docs/roman/package_index.rst
  docs/roman/pipeline_installation.rst
  docs/roman/pipeline_naming_conventions.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_steps.rst
Labels: documentation, Dark Current, pipeline, assign_wcs

#601 Update main branch for release
  CHANGES.rst
  README.md
  requirements-sdp.txt
  setup.cfg
Labels: documentation, dependencies, no-changelog-entry-needed

#603 open for post-0.9.0 development
  CHANGES.rst
  requirements-sdp.txt
Labels: dependencies, no-changelog-entry-needed

#599 Rcal-402 Add Flags for science data affected by guide window reads
  CHANGES.rst
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/lib/dqflags.py
Labels: Data Quality, testing, dq_init, guide windows

#551 use `tox` and set up CRDS caching when server is accessible
  .github/workflows/roman_ci.yml
  CHANGES.rst
  setup.cfg
  tox.ini
Labels: testing, dependencies, automation

#512 move build configuration into `pyproject.toml`
  .flake8
  CHANGES.rst
  MANIFEST.in
  docs/conf.py
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Labels: documentation, testing, dependencies
