Repository spacetelescope/romancal, pull requests merged in 2022-07, with the labels that each got.

#542 Docs update on the distortion file.
  CHANGES.rst
  docs/roman/references_general/distortion_reffile.rst
  docs/roman/references_general/distortion_selection.inc
Labels: documentation

#543 Make add_s_region private and reformat docstring.
  romancal/assign_wcs/assign_wcs_step.py
Labels: assign_wcs, no-changelog-entry-needed

#541 RCAL-353: Saturation effects in the rcal pipeline
  CHANGES.rst
  romancal/lib/basic_utils.py
  romancal/pipeline/exposure_pipeline.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/regtest/test_wfi_pipeline.py
Labels: Saturation, pipeline

#546 freeze action versions
  .github/workflows/roman_ci.yml
Labels: no-changelog-entry-needed

#545 update `stpipe` requirement to `>=0.4.1`
  CHANGES.rst
  setup.cfg
Labels: stpipe
