Repository spacetelescope/romancal, pull requests merged in 2022-12, with the labels that each got.

#610 changes for `tox>=4.0` release
  tox.ini
Labels: testing, no-changelog-entry-needed

#609 RCAL-431 Update suffix and CRDS context
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  requirements-sdp.txt
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline, dependencies, regression_testing, automation

#613 Rcal 406 science array quantities
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: Dark Current, ramp_fitting, jump, testing, Saturation, linearity, dq_init, dependencies, flatfield

#614 Revert "Rcal 406 science array quantities"
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: Dark Current, ramp_fitting, jump, testing, Saturation, linearity, dq_init, dependencies, flatfield

#615 add Datadog CI agent
  .github/workflows/roman_ci.yml
  JenkinsfileRT
  tox.ini
Labels: testing, regression_testing, no-changelog-entry-needed, automation

#617 [hotfix] fix CI on PRs from forks
  .github/workflows/roman_ci.yml
Labels: testing, no-changelog-entry-needed, automation

#597 fix deprecation warnings ahead of Pytest 8.0
  CHANGES.rst
  pyproject.toml
  romancal/conftest.py
Labels: dependencies

#619 fix branch filter to trigger on release branches
  .github/workflows/roman_ci.yml
Labels: testing, no-changelog-entry-needed, automation
