Repository spacetelescope/romancal, pull requests merged in 2022-02, with the labels that each got.

#424 Update intersphinx documentation URLs for numpy and scipy
  docs/conf.py
Labels: documentation, infrastructure

#432 Rcal-307 Adds examples of using the info and search methods for roman datamodels
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/index.rst
Labels: documentation

#425 Rcal 281 Migrate JWST suffix infrastructure to Roman Exposure Pipeline
  CHANGES.rst
  romancal/lib/basic_utils.py
  romancal/lib/suffix.py
  romancal/lib/tests/test_basic_utils.py
  romancal/lib/tests/test_suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/stpipe/__init__.py
  romancal/stpipe/core.py
  romancal/stpipe/utilities.py
Labels: infrastructure, pipeline

#435 RCAL-308 Update the output of dq_init and ramp_fitting for reference pixel correction
  CHANGES.rst
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

#442 RCAL-283 Update regression tests for new suffixes and datamodels
  CHANGES.rst
  requirements-sdp.txt
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/regtest/test_wfi_saturation.py
Labels: testing, RegressionTestUpdateNeeded
