Repository spacetelescope/romancal, pull requests merged in 2023-06, with the labels that each got.

#706 Update the CI
  .github/workflows/roman_ci.yml
Labels: testing, no-changelog-entry-needed, automation

#709 More CI updates
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: testing, no-changelog-entry-needed, automation, Weekly CI

#674 Documentation update for rtd and the contrib
  CHANGES.rst
  CONTRIBUTING.md
  docs/roman/associations/overview.rst
Labels: documentation, associations, no-changelog-entry-needed

#687 Initial sky matching implementation
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/skymatch/arguments.rst
  docs/roman/skymatch/description.rst
  docs/roman/skymatch/index.rst
  docs/roman/skymatch/reference_files.rst
  docs/roman/skymatch/region.rst
  docs/roman/skymatch/skyimage.rst
  docs/roman/skymatch/skymatch.rst
  docs/roman/skymatch/skymatch_step.rst
  docs/roman/skymatch/skystatistics.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/skymatch/__init__.py
  romancal/skymatch/region.py
  romancal/skymatch/skyimage.py
  romancal/skymatch/skymatch.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/skystatistics.py
  romancal/skymatch/tests/test_skymatch.py
Labels: documentation, testing, dependencies, skymatch

#713 Move skymatch changelog entry to correct version
  CHANGES.rst
Labels: no-changelog-entry-needed

#712 Replace `add_ref_common` with `mk_ref_common`
  pyproject.toml
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
Labels: jump, testing, dq_init, dependencies, no-changelog-entry-needed, flatfield

#710 Add ModelContainer to romancal.datamodels.
  CHANGES.rst
  docs/roman/datamodels/container.rst
  docs/roman/datamodels/index.rst
  docs/roman/package_index.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/datamodels/__init__.py
  romancal/datamodels/container.py
  romancal/datamodels/tests/__init__.py
  romancal/datamodels/tests/data/detectorFOV_asn.json
  romancal/datamodels/tests/data/detector_asn.json
  romancal/datamodels/tests/test_datamodels.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing

#716 Update reference pixel docs.
  CHANGES.rst
  docs/roman/refpix/description.rst
Labels: documentation

#711 Add a `pip list` step after the overrides are injected
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation

#708 add `sdpdeps` toxenv
  tox.ini
Labels: testing, no-changelog-entry-needed, Weekly CI

#720 Fix typo in S_REGION string.
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, assign_wcs, no-changelog-entry-needed

#717 Updates for maker_utils API changes
  CHANGES.rst
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: Dark Current, ramp_fitting, jump, testing, dq_init, flatfield

#696 revert astropy prerelease wheel spec and use nightly Scipy wheel index
  requirements-dev.txt
  tox.ini
Labels: testing, dependencies, no-changelog-entry-needed

#707 Add regression test for TweakReg.
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
  romancal/regtest/test_tweakreg.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: datamodels, testing, regression_testing, tweak_reg

#723 update jump detection for stcal changes
  CHANGES.rst
  pyproject.toml
  romancal/jump/jump_step.py
Labels: jump, dependencies

#725 RCAL-604 update ramp fitting unit test for stcal 1.4.0
  CHANGES.rst
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: ramp_fitting, testing

#721 RCAL-432 Update info string to use the same syntax
  CHANGES.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/flatfield/flat_field_step.py
  romancal/linearity/linearity_step.py
  romancal/saturation/saturation_step.py
Labels: Dark Current, Saturation, linearity, assign_wcs, flatfield

#724 Increase code coverage for TweakReg.
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, no-changelog-entry-needed
