Repository spacetelescope/romancal, pull requests merged in 2023-09, with the labels that each got.

#794 PSF fitting methods
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  tox.ini
Labels: testing, ready-for-review, photometry, dependencies, automation, source_detection

#862 PSF fitting random seed fix
  CHANGES.rst
  romancal/lib/tests/test_psf.py
Labels: bug, testing, source_detection, CI/CD

#864 Remove style check from CI
  .github/workflows/roman_ci.yml
Labels: no-changelog-entry-needed

#863 Add NumPy ruff rule set checking
  pyproject.toml
  romancal/resample/resample_utils.py
Labels: dependencies, no-changelog-entry-needed

#871 fix caching and outputs
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: testing, no-changelog-entry-needed, automation, Weekly CI

#878 add checkbox for regression tests to the pull request template
  .github/pull_request_template.md
Labels: no-changelog-entry-needed, automation

#872 Fix for failing regression tests from PSF fitting methods
  CHANGES.rst
  JenkinsfileRT
Labels: regression_testing, automation

#868 use `deepdiff` instead of `asdf.commands.diff` for output and truth file comparisons
  CHANGES.rst
  pyproject.toml
  romancal/regtest/conftest.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_regtestdata.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/regtest/test_wfi_saturation.py
Labels: Dark Current, Photom, ramp_fitting, jump, Saturation, linearity, pipeline, dq_init, dependencies, regression_testing, Wide Field Instrument (WFI)

#804 Adjust ramps for gain, a la JWST's GainScaleStep.
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: bug, ELPP, ramp_fitting, testing

#836 Adjust saturation threshold depending on the read pattern
  CHANGES.rst
  docs/roman/saturation/description.rst
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: documentation, enhancement, RCAL, Photom, testing, Saturation

#884 RCAL-646 Update to install asn_from_list
  pyproject.toml
Labels: dependencies, associations, no-changelog-entry-needed

#890 RCAL-647 Update pipeline to include refpix step as default
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/refpix/refpix_step.py
  romancal/regtest/test_refpix.py
Labels: pipeline, regression_testing, RefPix Step

#877 New ramp fitting default
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
Labels: RCAL, ramp_fitting

#911 rcal-681 Update reg tests for new algorithms
  CHANGES.rst
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_flat_field.py
Labels: ramp_fitting, regression_testing, Wide Field Instrument (WFI)

#915 add astropy Table support to compare_asdf
  CHANGES.rst
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing
