Repository spacetelescope/romancal, pull requests merged in 2023-11, with the labels that each got.

#964 RCAL-670: additional check for data quality test.
  romancal/regtest/test_resample.py
Labels: regression_testing, no-changelog-entry-needed

#959 Generate L3 exposure times from resampled exposure time images
  CHANGES.rst
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: RCAL, testing, resample

#971 rcal-700 Update exposure pipeline to correct cal_step and suffixes
  CHANGES.rst
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline

#953 RCAL-629: static preview generation script
  CHANGES.rst
  pyproject.toml
  romancal/scripts/static_preview.py
  romancal/tests/test_import.py
Labels: testing, dependencies

#972 fixed `asn_from_list` script
  CHANGES.rst
  pyproject.toml
  scripts/asn_from_list
Labels: dependencies

#975 don't run tests on `romancal/scripts`
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#977 Protect imports in script better
  romancal/scripts/static_preview.py
Labels: no-changelog-entry-needed

#841 Source detection step option to fit model PSFs
  CHANGES.rst
  pyproject.toml
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing, dependencies

#918 use webbpsf data from grp in jenkins runs
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation

#986 Update crds rad and roman_datamodels versions
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
Labels: dependencies, regression_testing, no-changelog-entry-needed, automation, 24Q1_B12

#985 RCAL-707 Update elp to replace list as input to tweakreg
  CHANGES.rst
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/pipeline/highlevel_pipeline.py
Labels: ELPP, pipeline

#988 fix issue where the path of the WebbPSF cache was not the same as the restore cache in the subsequent workflow
  .github/workflows/data.yml
Labels: no-changelog-entry-needed, automation, update webbpsf data

#989 fix `tests_devdeps.yml` workflow
  .github/workflows/tests_devdeps.yml
Labels: no-changelog-entry-needed, automation, run scheduled tests, run devdeps tests

#987 Structured array source detection catalogs
  CHANGES.rst
  romancal/lib/basic_utils.py
  romancal/lib/tests/test_basic_utils.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

#984 Source detection+PSF docs updates
  CHANGES.rst
  docs/conf.py
  docs/roman/source_detection/arguments.rst
  docs/roman/source_detection/description.rst
  docs/roman/source_detection/index.rst
  docs/roman/source_detection/psf.rst
  romancal/lib/psf.py
Labels: documentation

#993 RDM-3431: add mosaic astrometric frame test
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
Labels: regression_testing, no-changelog-entry-needed

#992 Remove quote indent from main header in README
  README.md
Labels: documentation, no-changelog-entry-needed

#999 minor fix for data hash in cache key
  .github/workflows/data.yml
Labels: no-changelog-entry-needed, automation

#991 RCAL-699: Add regression testing for new jump detection and make new jump detection default to on
  CHANGES.rst
  pyproject.toml
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/pipeline/exposure_pipeline.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_pipeline.py
Labels: ramp_fitting, jump, testing, pipeline, dependencies, regression_testing, Wide Field Instrument (WFI)

#1003 Rcal 713 Update pyproject.toml to use stcal 1.5.0 or greater and add ref_file.crds.sw_version to the ignore list
  pyproject.toml
  romancal/regtest/conftest.py
  romancal/regtest/test_linearity.py
Labels: linearity, dependencies, regression_testing, no-changelog-entry-needed

#1001 Fix issue with source catalog in TweakReg.
  romancal/tweakreg/tweakreg_step.py
Labels: no-changelog-entry-needed

#1010 rcal-718 update okify script for the new jfrog cli
  .github/pull_request_template.md
  romancal/scripts/okify_regtests.py
Labels: infrastructure, no-changelog-entry-needed, automation

#1011 Mark jump step as skipped in fully-saturated case.
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline, no-changelog-entry-needed

#1009 Update resample test to use new files.
  romancal/regtest/test_resample.py
Labels: regression_testing, no-changelog-entry-needed

#981 Implement outlier detection step.
  CHANGES.rst
  docs/roman/references_general/dq_flags.inc
  romancal/datamodels/container.py
  romancal/lib/dqflags.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample.py
  romancal/stpipe/integration.py
Labels: documentation, stpipe, outlier_detection

#1019 Disable outlier detection unit tests tests.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing, no-changelog-entry-needed

#980 rcal-687 Initial code for the high level pipeline
  CHANGES.rst
  romancal/pipeline/__init__.py
  romancal/pipeline/highlevel_pipeline.py
  romancal/stpipe/integration.py
  romancal/stpipe/utilities.py
Labels: pipeline, stpipe

#1021 rcal-457 Add test for spectral preview files
  romancal/regtest/test_wfi_pipeline.py
Labels: pipeline, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1023 Truncate dark to the appropriate number of resultants.
  romancal/dark_current/dark_current_step.py
Labels: Dark Current, no-changelog-entry-needed

#1024 Fix the pollution of stdout and stderr by ddtrace
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
  romancal/stpipe/utilities.py
Labels: stpipe, dependencies, regression_testing, automation

#1013 Update photutils dependency to released version.
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed, 24Q1_B12

#970 RCAL-661/667/654/656 Implement next round of SOC verification tests for uneven ramps
  CHANGES.rst
  romancal/lib/dms.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_pipeline.py
Labels: ramp_fitting, pipeline, regression_testing, Wide Field Instrument (WFI)
