Repository spacetelescope/romancal, pull requests merged in 2023-02, with the labels that each got.

#622 Start using pre-commit
  .github/pull_request_template.md
  .github/workflows/label_pull_request.yml
  .github/workflows/roman_ci.yml
  .pre-commit-config.yaml
  CHANGES.rst
  CODEOWNERS.txt
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/conf.py
  docs/exts/numfig.py
  docs/index.rst
  docs/roman/assign_wcs/main.rst
  docs/roman/dark_current/description.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/models.rst
  docs/roman/dq_init/description.rst
  docs/roman/flatfield/reference_files.rst
  docs/roman/introduction.rst
  docs/roman/jump/description.rst
  docs/roman/photom/description.rst
  docs/roman/photom/index.rst
  docs/roman/photom/reference_files.rst
  docs/roman/pipeline_installation.rst
  docs/roman/pipeline_ref_files.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_steps.rst
  docs/roman/ramp_fitting/reference_files.rst
  docs/roman/references_general/dark_selection.inc
  docs/roman/references_general/distortion_reffile.rst
  docs/roman/references_general/distortion_selection.inc
  docs/roman/references_general/linearity_selection.inc
  docs/roman/references_general/mask_reffile.inc
  docs/roman/references_general/mask_selection.inc
  docs/roman/references_general/photom_reffile.inc
  docs/roman/references_general/photom_selection.inc
  docs/roman/references_general/readnoise_reffile.inc
  docs/roman/references_general/readnoise_reffile.rst
  docs/roman/references_general/readnoise_selection.inc
  docs/roman/references_general/readnoise_selection.rst
  docs/roman/references_general/saturation_reffile.inc
  docs/roman/refpix/description.rst
  docs/roman/stpipe/config_asdf.rst
  docs/roman/stpipe/user_logging.rst
  pyproject.toml
  pytest.ini
  romancal/assign_wcs/assign_wcs_step.py
  romancal/lib/basic_utils.py
  romancal/lib/suffix.py
  romancal/regtest/conftest.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/tests/base_classes.py
  tox.ini
Labels: documentation, Dark Current, Photom, ramp_fitting, jump, testing, Saturation, linearity, pipeline, stpipe, assign_wcs, dq_init, dependencies, regression_testing, Wide Field Instrument (WFI), automation, flatfield

#642 Rcal 444 Initial association code with asn_from_list and some basic rules
  CHANGES.rst
  docs/index.rst
  docs/roman/associations/asn_from_list.rst
  docs/roman/associations/commands.rst
  docs/roman/associations/design.rst
  docs/roman/associations/graphics/generator_flow_concept.png
  docs/roman/associations/graphics/generator_list_processing.png
  docs/roman/associations/graphics/level3_rule_inheritance.png
  docs/roman/associations/graphics/overview.png
  docs/roman/associations/graphics/overview_classes.png
  docs/roman/associations/graphics/rule_sets.png
  docs/roman/associations/graphics/rule_to_association.png
  docs/roman/associations/graphics/sources/associations.monopic
  docs/roman/associations/graphics/sources/workflow-generic.odg
  docs/roman/associations/graphics/sources/workflow-wfss.odg
  docs/roman/associations/graphics/workflow-generic.pdf
  docs/roman/associations/graphics/workflow-generic.png
  docs/roman/associations/graphics/workflow-wfss.pdf
  docs/roman/associations/graphics/workflow-wfss.png
  docs/roman/associations/index.rst
  docs/roman/associations/overview.rst
  docs/roman/associations/roman_conventions.rst
  docs/roman/associations/technote_sdp_workflow.rst
  docs/roman/package_index.rst
  romancal/associations/__init__.py
  romancal/associations/asn_from_list.py
  romancal/associations/association.py
  romancal/associations/association_io.py
  romancal/associations/config.py
  romancal/associations/exceptions.py
  romancal/associations/generate.py
  romancal/associations/lib/__init__.py
  romancal/associations/lib/acid.py
  romancal/associations/lib/asn_schema_jw_level3.json
  romancal/associations/lib/association_rules.py
  romancal/associations/lib/callback_registry.py
  romancal/associations/lib/constraint.py
  romancal/associations/lib/counter.py
  romancal/associations/lib/diff.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/ioregistry.py
  romancal/associations/lib/keyvalue_registry.py
  romancal/associations/lib/log_config.py
  romancal/associations/lib/member.py
  romancal/associations/lib/process_list.py
  romancal/associations/lib/product_utils.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/lib/tests/test_asn_from_list_lib.py
  romancal/associations/lib/utilities.py
  romancal/associations/load_asn.py
  romancal/associations/main.py
  romancal/associations/pool.py
  romancal/associations/registry.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_constraints.py
  romancal/associations/tests/test_registry.py
  romancal/lib/progress.py
  romancal/lib/signal_slot.py
  scripts/asn_from_list
Labels: documentation, testing, associations

#643 RCAL-451: Implement TweakRegStep.
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/assign_wcs/utils.py
  romancal/lib/suffix.py
  romancal/resample/__init__.py
  romancal/resample/resample_utils.py
  romancal/tweakreg/__init__.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/__init__.py
  romancal/tweakreg/tweakreg_step.py
Labels: RCAL, roman, testing, assign_wcs, dependencies, tweak_reg

#648 RCAL-479 Test for PSF keywords (DMS-136)
  CHANGES.rst
  romancal/regtest/test_wfi_pipeline.py
Labels: pipeline, regression_testing, Wide Field Instrument (WFI)

#649 metadata for `0.10.0` release
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies, no-changelog-entry-needed

#647 move pytest markers to pyproject.toml
  docs/roman/datamodels/datamodels_asdf.rst
  pyproject.toml
  pytest.ini
  romancal/associations/registry.py
Labels: documentation, dependencies, associations, no-changelog-entry-needed

#618 cache packages in CI workflow
  .github/workflows/roman_ci.yml
Labels: testing, no-changelog-entry-needed, automation

#570 use `ruff` in place of `flake8`
  CHANGES.rst
  pyproject.toml
Labels: dependencies

#651 Bug fix: make sure ASDF is not closed prematurely.
  romancal/tweakreg/tweakreg_step.py
Labels: no-changelog-entry-needed

#652 Clean up and small refactoring.
  romancal/tweakreg/tweakreg_step.py
Labels: no-changelog-entry-needed
