Repository spacetelescope/romancal, pull requests merged in 2023-07, with the labels that each got.

#773 Remove myst parser from docs config
  docs/conf.py
Labels: documentation, no-changelog-entry-needed

#768 Add jquery sphinx to fix doc search
  CHANGES.rst
  docs/conf.py
Labels: documentation

#770 Register skymatch with stpipe
  CHANGES.rst
  romancal/step.py
  romancal/stpipe/integration.py
Labels: stpipe

#772 Use same changelog workflow as the rest of the roman repositories
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed, automation

#767 Remove AWS install option
  CHANGES.rst
  pyproject.toml
Labels: dependencies

#777 Update asdf dependency
  CHANGES.rst
  pyproject.toml
Labels: dependencies

#784 remove unused extras
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
Labels: dependencies, regression_testing, automation

#771 Make test randomness deterministic
  CHANGES.rst
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: ramp_fitting, jump, testing, dq_init, flatfield

#790 update build instructions in README
  README.md
Labels: documentation, no-changelog-entry-needed

#704 RCAL-485, RCAL-558: Implement the reference pixel correction
  CHANGES.rst
  JenkinsfileRT
  JenkinsfileRT_dev
  pyproject.toml
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/refpix/__init__.py
  romancal/refpix/data.py
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/__init__.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
  romancal/refpix/tests/test_step.py
  romancal/regtest/test_refpix.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: testing, pipeline, stpipe, reference pixels, dependencies, regression_testing, automation

#792 BOT: Changelog check has moved
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed, automation

#795 Actually use the `astropy` nightly wheel.
  CHANGES.rst
  requirements-dev.txt
  romancal/conftest.py
Labels: dependencies

#798 rcal-606 Have source detection and tweakreg skip spectral data
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/source_detection_step.py
  romancal/tweakreg/tweakreg_step.py
Labels: enhancement, pipeline, source_detection, tweak_reg

#799 RCAL-617 Update readme for release 11 (23Q3_B10) & placeholders for 12 (23Q4_B11)
  README.md
Labels: documentation, no-changelog-entry-needed

#800 pin `numpy` to `>=1.22`
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed
