Repository spacetelescope/romancal, pull requests merged in 2023-12, with the labels that each got.

#1043 Rcal 727 Add High Level Pipeline documentation, various updates
  docs/index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline_installation.rst
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
Labels: documentation, pipeline, no-changelog-entry-needed

#1035 RCAL-509: Update jump step docs
  CHANGES.rst
  docs/roman/jump/arguments.rst
  docs/roman/jump/even_ramp.rst
  docs/roman/jump/index.rst
  docs/roman/jump/uneven_ramp.rst
  docs/roman/ramp_fitting/arguments.rst
  docs/roman/ramp_fitting/description.rst
Labels: documentation, ramp_fitting, jump

#1046 add documentation for static preview script
  .gitattributes
  .readthedocs.yaml
  CHANGES.rst
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
  docs/images/r0000501001001001001_01101_0001_WFI01_cal.png
  docs/images/r0000501001001001001_01101_0001_WFI01_cal_thumb.png
  docs/index.rst
  docs/roman/associations/graphics/generator_flow_concept.png
  docs/roman/associations/graphics/generator_list_processing.png
  docs/roman/associations/graphics/level3_rule_inheritance.png
  docs/roman/associations/graphics/overview.png
  docs/roman/associations/graphics/overview_classes.png
  docs/roman/associations/graphics/rule_sets.png
  docs/roman/associations/graphics/rule_to_association.png
  docs/roman/associations/graphics/workflow-generic.png
  docs/roman/associations/graphics/workflow-wfss.png
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline, associations

#1050 Hotfix for regression tests broken by filename changes
  romancal/regtest/test_regtestdata.py
Labels: regression_testing, no-changelog-entry-needed

#1051 remove LFS tracking from `.gitattributes`
  .gitattributes
  docs/images/r0000501001001001001_01101_0001_WFI01_cal.png
  docs/roman/pipeline_static_preview.rst
Labels: documentation, pipeline, no-changelog-entry-needed
