Repository spacetelescope/romancal, pull requests merged in 2023-08, with the labels that each got.

#797 Remove numpy 2.0 hack
  romancal/conftest.py
Labels: no-changelog-entry-needed

#803 pin `sphinx_rtd_theme` to newer version
  docs/rtd_environment.yaml
Labels: documentation, no-changelog-entry-needed

#805 Use CRDS public server
  README.md
  docs/roman/pipeline_installation.rst
Labels: documentation, pipeline, no-changelog-entry-needed

#802 Rcal 596 Add association processing to the pipeline code
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/associations/load_as_asn.py
  romancal/datamodels/filetype.py
  romancal/datamodels/tests/data/empty.asdf
  romancal/datamodels/tests/data/empty.json
  romancal/datamodels/tests/data/example_schema.json
  romancal/datamodels/tests/data/fake.asdf
  romancal/datamodels/tests/data/fake.json
  romancal/datamodels/tests/data/pluto.asdf
  romancal/datamodels/tests/test_filetype.py
  romancal/pipeline/exposure_pipeline.py
Labels: testing, pipeline, dependencies, associations

#824 RCAL-631 Update saturation logic for spectral data
  CHANGES.rst
  pyproject.toml
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline, dependencies

#829 Remove usage of `pkg_resources`
  CHANGES.rst
  romancal/__init__.py
  romancal/associations/pool.py
Labels: associations

#834 Rcal 624 regtest updates for B11, rad & roman_datamodels pin
  JenkinsfileRT
  JenkinsfileRT_dev
  README.md
  pyproject.toml
  requirements-dev.txt
  romancal/photom/tests/test_photom.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_wfi_flat_field.py
Labels: documentation, Photom, testing, dependencies, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI), automation

#831 rcal-627 Add metrics logger to regtests
  CHANGES.rst
  pyproject.toml
  requirements-dev.txt
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_pipeline.py
  tox.ini
Labels: Photom, testing, pipeline, dq_init, dependencies, regression_testing, Wide Field Instrument (WFI)

#839 metadata for 0.12.0 release
  CHANGES.rst
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies, no-changelog-entry-needed

#835 Add dev optional dependency
  CHANGES.rst
  README.md
  pyproject.toml
Labels: documentation, dependencies

#843 Cleanup the requirements-dev
  requirements-dev.txt
  tox.ini
Labels: testing, dependencies, no-changelog-entry-needed

#844 Make it so we can manually trigger the CI
  .github/workflows/roman_ci.yml
Labels: testing, no-changelog-entry-needed, automation

#846 Fix `get_crds_parameters` for `ModelContainer`
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/datamodels/tests/test_datamodels.py
Labels: testing

#853 Fix RTD build
  .readthedocs.yaml
Labels: documentation

#854 fix opening mode for references to be read-only
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
Labels: bug, ramp_fitting
