Repository spacetelescope/romancal, pull requests merged in 2023-01, with the labels that each got.

#621 update `conda` in Jenkins environment
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation

#623 add environment variables to Datadog run
  .github/workflows/roman_ci.yml
Labels: testing, automation

#625 RCAL-460 Update default CR rejections in jump_step
  CHANGES.rst
  romancal/jump/jump_step.py
Labels: jump

#624 RCAL-440 Add support for Reference File Quantities
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: Dark Current, ramp_fitting, jump, testing, Saturation, dq_init, dependencies, flatfield

#616 Rcal 406 science array quantities
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: Dark Current, ramp_fitting, jump, testing, Saturation, linearity, dq_init, dependencies, flatfield
