Repository spacetelescope/romancal, pull requests merged in 2023-10, with the labels that each got.

#920 update url for webbpsf data in github actions CI
  .github/workflows/roman_ci.yml
Labels: testing, no-changelog-entry-needed, automation

#931 RCAL-641 Add FOV association generation
  CHANGES.rst
  romancal/associations/generate.py
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/lib/rules_level2.py
  romancal/associations/tests/test_level2_basics.py
  romancal/associations/tests/test_level2_candidates.py
Labels: testing, associations

#937 add instructions for downloading WebbPSF data
  README.md
Labels: documentation, no-changelog-entry-needed

#932 add `.git` to dev dependency specifications
  requirements-dev-st.txt
  requirements-dev-thirdparty.txt
Labels: dependencies, no-changelog-entry-needed

#938 RCAL-693: Removed err array from dark tests.
  CHANGES.rst
  romancal/dark_current/tests/test_dark.py
Labels: Dark Current, testing

#941 use ndarray comparison options in wcs comparison
  CHANGES.rst
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing

#787 Rcal 504 develop the resample step
  CHANGES.rst
  docs/conf.py
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/resample/arguments.rst
  docs/roman/resample/index.rst
  docs/roman/resample/main.rst
  docs/roman/resample/resample.rst
  docs/roman/resample/resample_step.rst
  docs/roman/resample/resample_utils.rst
  pyproject.toml
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/utils.py
  romancal/datamodels/container.py
  romancal/lib/suffix.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_resample.py
  romancal/resample/__init__.py
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/__init__.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, testing, pipeline, stpipe, assign_wcs, dependencies, regression_testing

#950 Fix regression test artifact upload
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation

#947 Filter catalog sources that are outside of the bounding box
  CHANGES.rst
  romancal/tweakreg/tweakreg_step.py
Labels: bug, tweak_reg

#933 Update Cas22 ramp fitting to integrate with the jump detection changes in stcal
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: ramp_fitting, testing

#944 RCAL-513 Update uneven ramp fitting documentation
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/ramp_fitting/arguments.rst
  docs/roman/ramp_fitting/description.rst
  docs/roman/ramp_fitting/description_ols.rst
  docs/roman/ramp_fitting/index.rst
Labels: documentation, ramp_fitting

#955 RCAL-644 Remove checks on CI in production code
  CHANGES.rst
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: bug, testing, stpipe

#958 Skip webbpsf tests by default
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  JenkinsfileRT
  JenkinsfileRT_dev
  README.md
  conftest.py
  romancal/lib/tests/test_psf.py
  tox.ini
Labels: documentation, testing, regression_testing, no-changelog-entry-needed, automation

#960 rcal-697 Update exposure pipeline to add tweakreg step
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: pipeline, regression_testing, Wide Field Instrument (WFI)

#954 retrieve CRDS contexts in CI with a reusable workflow
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: testing, no-changelog-entry-needed, automation

#961 Bugfix webbpsf marker
  pyproject.toml
  pytest_plugin/__init__.py
  pytest_plugin/webbpsf_plugin.py
Labels: dependencies, no-changelog-entry-needed
