Repository spacetelescope/romancal, pull requests merged in 2023-03, with the labels that each got.

#653 Raise exception whenever tweakreg_catalog is missing.
  romancal/tweakreg/tweakreg_step.py
Labels: no-changelog-entry-needed

#654 RCAL-486: Update Maker Utlity Imports
  CHANGES.rst
  pyproject.toml
  romancal/assign_wcs/tests/test_wcs.py
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
  romancal/saturation/tests/test_saturation.py
  romancal/stpipe/tests/test_core.py
Labels: Dark Current, Photom, ramp_fitting, jump, testing, Saturation, stpipe, assign_wcs, dq_init, dependencies, flatfield

#656 remove upper pins from dependencies
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#658 RCAL-482
  CHANGES.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/linearity_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit.py
Labels: Dark Current, ramp_fitting, jump, testing, linearity, dq_init, dependencies, flatfield

#655 RCAL-467: Implement tests for Roman's TweakReg and ModelContainer.
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, no-changelog-entry-needed

#608 Adding source detection step
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/source_detection/arguments.rst
  docs/roman/source_detection/description.rst
  docs/roman/source_detection/index.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/__init__.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/__init__.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: documentation, testing, pipeline, dependencies, source_detection

#665 Bugfix for source_detection's test_outputs
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing, no-changelog-entry-needed

#666 RCAL-481: Remove use of pytest-openfiles
  CHANGES.rst
  pyproject.toml
Labels: dependencies

#668 add seed for random noise/gaussian generation in tests
  CHANGES.rst
  romancal/source_detection/tests/test_source_detection_step.py
Labels: testing

#657 import `tomli` as `tomllib` for `docs` builds before Python 3.11
  docs/conf.py
Labels: documentation, no-changelog-entry-needed
