Repository spacetelescope/romancal, pull requests merged in 2023-05, with the labels that each got.

#690 set source detection cal_step to complete
  romancal/source_detection/source_detection_step.py
Labels: no-changelog-entry-needed

#681 TweakReg: handle new source_detection attribute.
  romancal/pipeline/exposure_pipeline.py
  romancal/source_detection/source_detection_step.py
  romancal/step.py
  romancal/stpipe/integration.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, pipeline, stpipe, no-changelog-entry-needed

#695 test against nightly builds of `astropy`, `scipy`, and `numpy`
  requirements-dev.txt
Labels: dependencies, no-changelog-entry-needed

#693 Upgrade romancal python to python-3.11, update crds context
  JenkinsfileRT
  pyproject.toml
  romancal/regtest/test_wfi_pipeline.py
Labels: enhancement, pipeline, dependencies, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI), automation

#697 Compatibility fix in tweakreg test for rdm#164
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, no-changelog-entry-needed, tweak_reg

#689 Added simple outlier detection step.
  CHANGES.rst
  docs/roman/error_propagation/main.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/description.rst
  docs/roman/outlier_detection/index.rst
  docs/roman/package_index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/references_general/references_general.rst
  romancal/lib/suffix.py
  romancal/outlier_detection/__init__.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/__init__.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, testing, pipeline, stpipe

#702 RCAL-567 Update unit tests to add tmpdir for test files
  CHANGES.rst
  romancal/associations/main.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing, unit_testing, associations

#703 Update CRDS context for 23Q3_B10
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: Jenkins, regression_testing, no-changelog-entry-needed, automation

#705 Update roman crds server to test so that the latest updates are used
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: testing, regression-test, no-changelog-entry-needed, automation
