Repository spacetelescope/romancal, pull requests merged in 2024-08, with the labels that each got.

#1343 increase asdf minimum required version
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1342 Remove uses of `lazy_load=False`, update step input handling
  CHANGES.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/dq_init/dq_init_step.py
  romancal/flatfield/flat_field_step.py
  romancal/jump/jump_step.py
  romancal/linearity/linearity_step.py
  romancal/photom/photom_step.py
  romancal/refpix/refpix_step.py
  romancal/regtest/regtestdata.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_wfi_16resultants.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/saturation/saturation_step.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_detection/source_detection_step.py
Labels: Dark Current, Photom, jump, Saturation, linearity, pipeline, assign_wcs, dq_init, regression_testing, Wide Field Instrument (WFI), flatfield

#1348 rcal-827 Add reg test for DMS373
  CHANGES.rst
  romancal/regtest/test_mos_pipeline.py
Labels: pipeline, regression_testing, regression-test, mosaic

#1320 uncomment and use get_asn
  romancal/regtest/regtestdata.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_resample.py
Labels: pipeline, regression_testing, no-changelog-entry-needed

#1351 RCAL-885: Updated Sky Background for Schema
  CHANGES.rst
  pyproject.toml
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
Labels: testing, dependencies

#1361 [SCSB-169] add user input to specify `CRDS_CONTEXT`
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: testing, no-changelog-entry-needed, automation

#1356 make crs bigger for new pars file for jump unit tests
  romancal/jump/tests/test_jump_step.py
Labels: jump, testing, regression_testing, no-changelog-entry-needed

#1353 metadata for release `0.16.0` (`24Q4_B15`)
  CHANGES.rst
  README.md
  pyproject.toml
Labels: documentation, dependencies, no-changelog-entry-needed

#1364 release metadata for `0.16.1` + update `stpipe` to use `ModelLibrary` + `stcal` to use outlier detection functions
  CHANGES.rst
  README.md
  pyproject.toml
Labels: documentation, dependencies, no-changelog-entry-needed

#1378 Add a default suffix to ELP
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
Labels: pipeline, regression_testing, Wide Field Instrument (WFI)

#1367 only load patch table when needed
  CHANGES.rst
  romancal/patch_match/patch_match.py
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

#1391 Populate segmentation model metadata for exposures and mosaics.
  CHANGES.rst
  romancal/outlier_detection/outlier_detection_step.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/resample/resample_step.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing, pipeline

#1394 rcal-906 Allow asn product name to be the output product name
  CHANGES.rst
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline, mosaic
