Repository spacetelescope/romancal, pull requests merged in 2024-02, with the labels that each got.

#1057 RCAL-704 Update resample step to handle the L3 meta data
  CHANGES.rst
  pyproject.toml
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: Photom, testing, Saturation, dependencies, resample

#886 Add python 3.12 devdeps testing
  .github/workflows/tests_devdeps.yml
  requirements-dev-thirdparty.txt
  tox.ini
Labels: testing, dependencies, no-changelog-entry-needed, automation, run devdeps tests

#1086 Update tweakwcs dependency
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1044 RCAL-724: Add additional information to `compare_asdf` diff reports.
  CHANGES.rst
  romancal/regtest/regtestdata.py
Labels: regression_testing

#1017 Turn on the apodized FFT interpolation
  CHANGES.rst
  romancal/refpix/refpix.py
  romancal/refpix/refpix_step.py
  romancal/refpix/tests/reference_utils.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
Labels: testing

#1097 update `requirements-sdp.txt` instructions to include the `sdp` extra
  requirements-sdp.txt
Labels: dependencies, no-changelog-entry-needed

#1098 Make copies of border pixel arrays when building L2 image.
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting, no-changelog-entry-needed

#1090 Fix a few incorrect dtypes used in tests
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/tests/test_flatfield.py
Labels: testing, dq_init, no-changelog-entry-needed, flatfield

#1103 metadata updates for release 0.14.0
  CHANGES.rst
  JenkinsfileRT_dev
  README.md
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, dependencies, regression_testing, no-changelog-entry-needed, automation

#1105 Return to development
  pyproject.toml
  requirements-sdp.txt
Labels: dependencies, no-changelog-entry-needed

#1112 Fix the datamodels docs
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/metadata.rst
  docs/roman/datamodels/models.rst
Labels: documentation

#1108 Find and fix all the tmpdir usages
  docs/conftest.py
  pyproject.toml
  romancal/assign_wcs/tests/test_wcs.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_pool.py
  romancal/dark_current/tests/test_dark.py
  romancal/jump/tests/test_jump_step.py
Labels: documentation, Dark Current, jump, testing, assign_wcs, dependencies, associations, no-changelog-entry-needed

#1117 remove `tmpdir_factory` usage, enable no:legacypath as a tox factor
  .github/workflows/roman_ci.yml
  pyproject.toml
  romancal/conftest.py
  romancal/regtest/conftest.py
  tox.ini
Labels: testing, dependencies, regression_testing, no-changelog-entry-needed, automation
