Repository spacetelescope/romancal, pull requests merged in 2024-12, with the labels that each got.

#1542 rcal-955 Initial code to change suffix _i2d to _coadd
  1542.mosaic_pipeline.rst
  changes/1542.mosaic_pipeline.rst
  romancal/associations/skycell_asn.py
  romancal/outlier_detection/_fileio.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_catalog.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/resample/resample.py
  romancal/scripts/make_regtestdata.sh
Labels: documentation, pipeline, regression_testing, associations, mosaic

#1543 Bump min Python to 3.11 per SPEC 0
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  changes/1543.general.rst
  pyproject.toml
Labels: testing, dependencies, automation

#1549 remove python 3.10 devdeps jobs
  .github/workflows/tests_devdeps.yml
Labels: no-changelog-entry-needed, automation

#1551 rcal-960 Fix asn files
  docs/roman/associations/skycell_asn.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/science_products.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  romancal/lib/suffix.py
  romancal/regtest/test_skycell_generation.py
Labels: documentation, pipeline, regression_testing, associations, no-changelog-entry-needed, mosaic, pipeline_issues

#1354 RCAL-853: Apply velocity aberration correction to the WFI WCS
  changes/1354.assign_wcs.rst
  docs/roman/assign_wcs/main.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/pointing.py
Labels: documentation, assign_wcs, dependencies

#1533 Remove SourceDetection rename source_detection to source_catalog
  changes/1533.source_catalog.rst
  changes/1533.source_detection.rst
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/source_catalog/main.rst
  docs/roman/source_detection/arguments.rst
  docs/roman/source_detection/description.rst
  docs/roman/source_detection/index.rst
  docs/roman/source_detection/psf.rst
  docs/roman/tweakreg/README.rst
  romancal/lib/suffix.py
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_multiband_catalog.py
  romancal/regtest/test_wfi_grism_pipeline.py
  romancal/regtest/test_wfi_image_pipeline.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
  romancal/source_detection/__init__.py
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/__init__.py
  romancal/source_detection/tests/test_source_detection_step.py
  romancal/step.py
  romancal/stpipe/integration.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing, pipeline, stpipe, dependencies, regression_testing, Wide Field Instrument (WFI)

#1476 mention strun package name usage in docs
  changes/1476.docs.rst
  docs/roman/pipeline_run.rst
  pyproject.toml
Labels: documentation, pipeline, dependencies

#1545 turn exit calls into exceptions
  changes/1545.mosaic_pipeline.rst
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

#1525 Switch exposure pipeline to use ModelLibrary instead of a list of models
  changes/1525.exposure_pipeline.0.rst
  changes/1525.exposure_pipeline.1.rst
  pyproject.toml
  romancal/pipeline/exposure_pipeline.py
  romancal/pipeline/tests/__init__.py
  romancal/pipeline/tests/test_exposure_pipeline.py
  romancal/regtest/test_wfi_image_pipeline.py
Labels: testing, pipeline, dependencies, regression_testing, Wide Field Instrument (WFI)

#1513 remove `okify_regtests` script (moved to `ci_watson`)
  changes/1513.general.rst
  pyproject.toml
  romancal/scripts/okify_regtests.py
  romancal/scripts/tests/test_scripts.py
Labels: testing, dependencies

#1538 fix return code for asn_from_list and skycell_asn, remove unused scripts, cleanup skycell_asn
  changes/1538.associations.rst
  changes/1538.scripts.rst
  docs/roman/associations/asn_from_list.rst
  docs/roman/associations/skycell_asn.rst
  pyproject.toml
  romancal/associations/asn_from_list.py
  romancal/associations/skycell_asn.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_skycell_asn.py
  romancal/regtest/test_skycell_generation.py
Labels: documentation, testing, dependencies, regression_testing, associations

#1534 Rcal 954 Remove jump code from rcal tree
  .gitignore
  changes/1534.general.rst
  docs/images/r0000501001001001001_0001_wfi01_cal.png
  docs/images/r0000501001001001001_0001_wfi01_cal_thumb.png
  docs/roman/associations/asn_from_list.rst
  docs/roman/data_products/file_naming.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/datamodels/models.rst
  docs/roman/jump/arguments.rst
  docs/roman/jump/description.rst
  docs/roman/jump/even_ramp.rst
  docs/roman/jump/index.rst
  docs/roman/jump/reference_files.rst
  docs/roman/jump/uneven_ramp.rst
  docs/roman/outlier_detection/main.rst
  docs/roman/package_index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  docs/roman/pipeline_naming_conventions.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_static_preview.rst
  docs/roman/pipeline_steps.rst
  docs/roman/references_general/references_general.rst
  docs/roman/stpipe/call_via_run.rst
  docs/roman/stpipe/config_asdf.rst
  docs/roman/stpipe/parameter_files.rst
  docs/roman/stpipe/user_pipeline.rst
  docs/roman/stpipe/user_step.rst
  romancal/jump/__init__.py
  romancal/jump/jump_step.py
  romancal/jump/tests/__init__.py
  romancal/jump/tests/test_jump_step.py
  romancal/lib/suffix.py
  romancal/regtest/test_jump_det.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, jump, testing, pipeline, stpipe, dependencies, regression_testing, associations, Wide Field Instrument (WFI)

#1536 Cleanup a photom test
  romancal/photom/tests/test_photom.py
Labels: Photom, testing, no-changelog-entry-needed

#1568 update minimum deps
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1571 Loosen saturation test
  changes/1571.saturation.rst
  romancal/saturation/tests/test_saturation.py
Labels: testing, Saturation, dependencies

#1572 switch `test_input_to_output` in `test_exposure_pipeline.py` to use run
  romancal/pipeline/tests/test_exposure_pipeline.py
Labels: testing, pipeline, no-changelog-entry-needed
