Repository spacetelescope/romancal, pull requests merged in 2024-01, with the labels that each got.

#1058 Add unit tests and outlier module refactoring.
  CHANGES.rst
  docs/roman/outlier_detection/arguments.rst
  romancal/conftest.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
Labels: documentation, testing

#1063 drop sphinx-asdf requirement
  CHANGES.rst
  docs/conf.py
  pyproject.toml
Labels: documentation, dependencies

#1064 Rcal 740 Add Data Products documentation to RTD
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/_static/stsci_logo.png
  docs/images/wfi_array.png
  docs/index.rst
  docs/roman/data_products/file_naming.rst
  docs/roman/data_products/index.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/science_products.rst
  docs/roman/data_products/stages.rst
  docs/roman/introduction.rst
Labels: documentation, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1072 Provide a default WCS for ramp fitting.
  CHANGES.rst
  romancal/ramp_fitting/ramp_fit_step.py
Labels: bug, ramp_fitting

#946 switch jenkins runs to use roman-serverless for crds
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation

#1085 Rcal-622 Add the ability to copy resultantdq from SDF to a rampmodel
  CHANGES.rst
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  pyproject.toml
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
Labels: documentation, testing, dq_init, dependencies
