Repository spacetelescope/romancal, pull requests merged in 2024-11, with the labels that each got.

#1475 move run results directory on Artifactory to `regression-tests/runs/`
  pyproject.toml
  romancal/regtest/conftest.py
  romancal/regtest/regtestdata.py
  romancal/scripts/okify_regtests.py
Labels: dependencies, regression_testing

#1498 rcal-935 Check for correct skycell name in mosaic product
  changes/1498.resample.rst
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/resample/resample.py
Labels: pipeline, regression_testing, mosaic

#1496 Reduce the number of tests for supported catalog formats.
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing, no-changelog-entry-needed, run devdeps tests

#1502 Fix bug when checking for "target" in model.asn
  romancal/resample/resample.py
Labels: no-changelog-entry-needed

#1503 remove logging manipulation during create_gridded_psf_model
  changes/1503.source_detection.rst
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  romancal/source_catalog/source_catalog.py
  romancal/source_detection/source_detection_step.py
Labels: testing

#1509 add class aliases for steps
  changes/1509.stpipe.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/dark_current/dark_current_step.py
  romancal/dq_init/dq_init_step.py
  romancal/flatfield/flat_field_step.py
  romancal/flux/flux_step.py
  romancal/jump/jump_step.py
  romancal/linearity/linearity_step.py
  romancal/photom/photom_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/refpix/refpix_step.py
  romancal/saturation/saturation_step.py
  romancal/source_detection/source_detection_step.py
  romancal/stpipe/integration.py
Labels: Dark Current, Photom, ramp_fitting, jump, Saturation, linearity, stpipe, assign_wcs, dq_init, flatfield

#1512 Restore flux units to source catalog table
  changes/1512.source_catalog.rst
  romancal/source_catalog/source_catalog.py
Labels: source_catalog

#1514 Improve unit handling
  romancal/source_catalog/source_catalog.py
Labels: no-changelog-entry-needed, source_catalog

#1505 rcal-949 Update file naming and asn header coords
  changes/1505.associations.rst
  romancal/associations/lib/asn_schema_jw_level3.json
  romancal/associations/skycell_asn.py
  romancal/associations/tests/test_skycell_asn.py
  romancal/lib/basic_utils.py
  romancal/regtest/test_skycell_generation.py
Labels: testing, regression_testing, associations

#1457 Copy input datamodel in source_catalog step
  changes/1457.source_catalog.rst
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing, source_catalog

#1485 RCAL-943: Add a step for creating multiband source catalogs
  changes/1485.multiband_catalog.rst
  pyproject.toml
  romancal/lib/suffix.py
  romancal/multiband_catalog/__init__.py
  romancal/multiband_catalog/background.py
  romancal/multiband_catalog/detection_image.py
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/multiband_catalog/tests/__init__.py
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/multiband_catalog/utils.py
  romancal/regtest/test_catalog.py
  romancal/regtest/test_multiband_catalog.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/step.py
  romancal/stpipe/integration.py
  romancal/tests/dms_requirement_tests.json
Labels: testing, stpipe, dependencies, regression_testing, multiband_catalog

#1520 pin `roman_datamodels>=0.22.0` and `stcal>=1.10.0`, and remove `rad` pin
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1521 metadata for release 0.17.0
  CHANGES.rst
  README.md
  changes/1357.outlier_detection.0.rst
  changes/1357.outlier_detection.1.rst
  changes/1357.outlier_detection.2.rst
  changes/1373.general.rst
  changes/1375.docs.rst
  changes/1383.resample.rst
  changes/1394.mosaic_pipeline.rst
  changes/1398.ramp_fitting.rst
  changes/1399.general.rst
  changes/1411.associations.rst
  changes/1419.docs.rst
  changes/1426.general.rst
  changes/1433.general.rst
  changes/1436.outlier_detection.rst
  changes/1437.associations.rst
  changes/1445.general.rst
  changes/1446.general.rst
  changes/1447.general.rst
  changes/1448.outlier_detection.1.rst
  changes/1448.resample.2.rst
  changes/1448.tweakreg.0.rst
  changes/1456.general.rst
  changes/1457.source_catalog.rst
  changes/1471.associations.rst
  changes/1473.general.rst
  changes/1484.tweakreg.rst
  changes/1485.multiband_catalog.rst
  changes/1493.general.rst
  changes/1498.resample.rst
  changes/1503.source_detection.rst
  changes/1505.associations.rst
  changes/1509.stpipe.rst
  changes/1512.source_catalog.rst
  requirements-sdp.txt
Labels: documentation, ramp_fitting, pipeline, stpipe, dependencies, associations, no-changelog-entry-needed

#1531 rcal-952 Update grism flat field tests with correct input
  romancal/regtest/test_wfi_flat_field.py
Labels: flatfield_correction, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1527 Clean up bounding box assignment
  changes/1527.general.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/conftest.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing, assign_wcs, dependencies

#1504 update docs to reflect lack of assignment validation
  changes/1504.docs.rst
  docs/roman/datamodels/metadata.rst
  pyproject.toml
Labels: documentation, dependencies

#1537 switch stcal requirement to dev
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1539 increase minimum numpy version to match roman_datamodels
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed
