Repository spacetelescope/romancal, pull requests merged in 2024-05, with the labels that each got.

#1205 make rotation matrix 2d for schema validation
  CHANGES.rst
  romancal/assign_wcs/utils.py
  romancal/resample/resample.py
Labels: assign_wcs, resample

#1102 Add Source Catalog Step
  CHANGES.rst
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  docs/roman/source_catalog/arguments.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
  romancal/lib/suffix.py
  romancal/regtest/test_catalog.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_catalog/__init__.py
  romancal/source_catalog/_wcs_helpers.py
  romancal/source_catalog/background.py
  romancal/source_catalog/detection.py
  romancal/source_catalog/reference_data.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/__init__.py
  romancal/source_catalog/tests/test_source_catalog.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, testing, pipeline, stpipe, regression_testing

#1211 Doc fixes
  docs/conf.py
  docs/roman/assign_wcs/main.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/science_products.rst
  docs/roman/datamodels/datamodels_asdf.rst
  docs/roman/jump/description.rst
  docs/roman/jump/even_ramp.rst
  docs/roman/pipeline_naming_conventions.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_static_preview.rst
  docs/roman/ramp_fitting/description.rst
  docs/roman/ramp_fitting/description_ols.rst
  docs/roman/references_general/gain_reffile.inc
  docs/roman/references_general/linearity_reffile.inc
  docs/roman/references_general/readnoise_reffile.inc
  docs/roman/resample/main.rst
  docs/roman/tweakreg/README.rst
Labels: documentation, ramp_fitting, jump, linearity, pipeline, assign_wcs, no-changelog-entry-needed

#1207 Make sure logs get included in L3 products.
  CHANGES.rst
  romancal/regtest/conftest.py
  romancal/resample/resample.py
  romancal/stpipe/core.py
Labels: stpipe, regression_testing, HLPP

#1209 Put real file names in meta.resample.meta.
  CHANGES.rst
  romancal/datamodels/container.py
  romancal/resample/resample.py
Labels: resample

#1210 fix incorrect boolean comparison within `isfile()`
  romancal/regtest/test_hlp_pipeline.py
Labels: bug, pipeline, regression_testing, no-changelog-entry-needed

#1212 RCAL-802: Update outlier detection step to return a ModelContainer if input is an association file.
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing, no-changelog-entry-needed

#1214 Rcal 803 Initial resampling to skycell in the hlp
  CHANGES.rst
  romancal/pipeline/highlevel_pipeline.py
Labels: pipeline, HLPP

#1204 adding plotting utility
  CHANGES.rst
  romancal/patch_match/patch_plot.py
Labels: enhancement

#1185 Add tests of WCS accuracy.
  CHANGES.rst
  romancal/flatfield/flat_field.py
  romancal/regtest/test_tweakreg.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_detection/source_detection_step.py
  romancal/source_detection/tests/test_source_detection_step.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, RegressionTestUpdateNeeded, regression_testing, regression-test, flatfield, tweakreg

#1216 RCAL-798: Populate the l3 product individual_image_meta block
  CHANGES.rst
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing, resample

#1229 Also ignore version information in Table schema meta.
  romancal/regtest/regtestdata.py
Labels: regression_testing, regression-test, no-changelog-entry-needed

#1096 update actions version
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/data.yml
Labels: no-changelog-entry-needed, automation

#1245 remove clean_up_after_test
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing, no-changelog-entry-needed

#1249 rcal-845_dsd rename highlevelpipeline to mosaicpipeline
  CHANGES.rst
  docs/roman/data_products/product_types.rst
  docs/roman/pipeline/index.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  docs/roman/pipeline_levels.rst
  docs/roman/pipeline_parameters.rst
  docs/roman/pipeline_run.rst
  romancal/lib/suffix.py
  romancal/pipeline/__init__.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
  romancal/scripts/make_regtestdata.sh
  romancal/stpipe/integration.py
  romancal/stpipe/utilities.py
Labels: documentation, pipeline, stpipe, regression_testing

#1251 Update python from 3.9 to 310 in JenkinsfileRT_dev
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation

#1250 apply minor fixes for sonarqube
  romancal/associations/lib/rules_level2.py
  romancal/pipeline/exposure_pipeline.py
  romancal/skymatch/region.py
Labels: pipeline, associations, no-changelog-entry-needed
