Repository spacetelescope/romancal, pull requests merged in 2024-10, with the labels that each got.

#1377 remove MultilineLogger, split logs with `\n` into multiple messages
  romancal/associations/association.py
  romancal/associations/generate.py
  romancal/associations/lib/log_config.py
  romancal/flux/flux_step.py
Labels: associations, no-changelog-entry-needed

#1357 Update Outlier Detection to use stcal
  changes/1357.outlier_detection.0.rst
  changes/1357.outlier_detection.1.rst
  changes/1357.outlier_detection.2.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  romancal/outlier_detection/_fileio.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/outlier_detection/utils.py
  romancal/resample/resample.py
Labels: documentation, testing, dependencies

#1436 Work around NotImplemented Quantity.tofile
  changes/1436.outlier_detection.rst
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/outlier_detection/utils.py
Labels: testing

#1426 Split long regtests into reusable fixtures and smaller named tests
  changes/1426.general.rst
  romancal/regtest/test_catalog.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_16resultants.py
  romancal/regtest/test_wfi_grism_16resultants.py
  romancal/regtest/test_wfi_grism_pipeline.py
  romancal/regtest/test_wfi_image_16resultants.py
  romancal/regtest/test_wfi_image_pipeline.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/tests/dms_requirement_tests.json
  romancal/tests/test_dms_requirements.py
Labels: ramp_fitting, testing, pipeline, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1446 Fix files left over by testing
  changes/1446.general.rst
  romancal/outlier_detection/tests/test_outlier_detection.py
Labels: testing

#1453 add missing rtdata.output assignments to repointed tests
  romancal/regtest/test_wfi_grism_pipeline.py
  romancal/regtest/test_wfi_image_pipeline.py
Labels: pipeline, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1456 Put okify results in unique subdirectories to avoid file overwrites
  changes/1456.general.rst
  romancal/regtest/conftest.py
Labels: regression_testing

#1447 RCAL-913 Resolve numpy 2 issues
  changes/1447.general.rst
  pyproject.toml
  romancal/skymatch/region.py
  romancal/skymatch/skymatch_step.py
Labels: dependencies

#1463 remove `display_version` from docs config
  docs/conf.py
Labels: documentation, no-changelog-entry-needed

#1445 RCAL-911 & 932: remove units from MOS and ELP pipelines.
  changes/1445.general.rst
  docs/conf.py
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/lib/tests/test_psf.py
  romancal/linearity/linearity_step.py
  romancal/linearity/tests/test_linearity.py
  romancal/outlier_detection/_fileio.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/outlier_detection/utils.py
  romancal/photom/photom.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/refpix/data.py
  romancal/refpix/tests/conftest.py
  romancal/refpix/tests/test_data.py
  romancal/refpix/tests/test_refpix.py
  romancal/refpix/tests/test_step.py
  romancal/regtest/test_catalog.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_regtestdata.py
  romancal/regtest/test_resample.py
  romancal/regtest/test_skycell_generation.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_grism_16resultants.py
  romancal/regtest/test_wfi_grism_pipeline.py
  romancal/regtest/test_wfi_image_16resultants.py
  romancal/regtest/test_wfi_image_pipeline.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_saturation.py
  romancal/resample/gwcs_drizzle.py
  romancal/resample/resample.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
  romancal/scripts/make_regtestdata.sh
  romancal/skymatch/skymatch.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/skystatistics.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/source_catalog/detection.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, Dark Current, Photom, ramp_fitting, jump, testing, Saturation, linearity, pipeline, dq_init, dependencies, regression_testing, Wide Field Instrument (WFI), flatfield

#1462 Manual Pre-commit update
  .pre-commit-config.yaml
  romancal/dark_current/tests/test_dark.py
  romancal/linearity/tests/test_linearity.py
  romancal/resample/tests/test_resample.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: Dark Current, testing, linearity, no-changelog-entry-needed

#1433 remove lib.dms
  changes/1433.general.rst
  romancal/lib/dms.py
  romancal/regtest/test_ramp_fitting.py
Labels: ramp_fitting, regression_testing

#1467 vendorize and fix crds workflow
  .github/workflows/contexts.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: testing, no-changelog-entry-needed, automation, update webbpsf data

#1471 rcal-936 Update skycell_asn docs and add skycell_asn as a script at install time
  changes/1471.associations.rst
  docs/conf.py
  docs/roman/associations/commands.rst
  docs/roman/associations/skycell_asn.rst
  pyproject.toml
Labels: documentation, dependencies, associations

#1448 Group models by obs_id for steps that use grouping
  changes/1448.outlier_detection.1.rst
  changes/1448.resample.2.rst
  changes/1448.tweakreg.0.rst
  romancal/datamodels/library.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/tests/test_resample.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: testing

#1473 RCAL-941: Update romancal to use new L1/L2 schema.
  changes/1473.general.rst
  docs/roman/datamodels/metadata.rst
  docs/roman/datamodels/models.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_library.py
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/jump/jump_step.py
  romancal/jump/tests/test_jump_step.py
  romancal/linearity/tests/test_linearity.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/outlier_detection/utils.py
  romancal/photom/photom.py
  romancal/photom/photom_step.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/regtest/conftest.py
  romancal/regtest/test_catalog.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_jump_det.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_skycell_generation.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_grism_16resultants.py
  romancal/regtest/test_wfi_grism_pipeline.py
  romancal/regtest/test_wfi_image_16resultants.py
  romancal/regtest/test_wfi_image_pipeline.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_saturation.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/saturation/tests/test_saturation.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_catalog/source_catalog.py
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: documentation, Dark Current, Photom, ramp_fitting, jump, testing, Saturation, linearity, pipeline, stpipe, dq_init, dependencies, regression_testing, Wide Field Instrument (WFI), flatfield

#1478 Point back to RAD/RDM main branches.
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed
