Repository spacetelescope/romancal, pull requests merged in 2024-07, with the labels that each got.

#1291 add upper pin for photutils
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1288 unpin webbpsf
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1297 Fix issue in constructing skycell WCS.
  CHANGES.rst
  romancal/pipeline/mosaic_pipeline.py
Labels: pipeline

#1293 Fix psf tests
  pyproject.toml
  romancal/lib/tests/test_psf.py
  romancal/source_detection/tests/test_source_detection_step.py
Labels: bug, testing, dependencies, no-changelog-entry-needed, lib

#1298 Update exposure_pipeline.py
  romancal/pipeline/exposure_pipeline.py
Labels: pipeline, no-changelog-entry-needed

#1299 remove executable bits from non-script files
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/__init__.py
  romancal/dark_current/tests/test_dark.py
  romancal/datamodels/tests/data/example_schema.json
  romancal/flatfield/flat_field_step.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/resample/resample_step.py
  romancal/saturation/saturation_step.py
  romancal/skymatch/region.py
  romancal/source_catalog/source_catalog_step.py
Labels: Dark Current, testing, Saturation, no-changelog-entry-needed, flatfield

#1307 show logs on failed tests
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1305 remove pytest asdf plugin configuration for non-existant schemas
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1316 replace usages of ``copy_arrays`` with ``memmap``
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  pyproject.toml
  romancal/linearity/linearity_step.py
  romancal/regtest/regtestdata.py
Labels: documentation, linearity, dependencies, regression_testing

#1241 Replace ModelContainer with ModelLibrary
  CHANGES.rst
  docs/roman/data_products/product_types.rst
  docs/roman/datamodels/container.rst
  docs/roman/datamodels/index.rst
  docs/roman/datamodels/library.rst
  docs/roman/flux/main.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/outlier_detection/outlier_detection_step.rst
  docs/roman/outlier_detection/outlier_examples.rst
  docs/roman/resample/main.rst
  docs/roman/tweakreg/README.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  pyproject.toml
  romancal/datamodels/__init__.py
  romancal/datamodels/container.py
  romancal/datamodels/filetype.py
  romancal/datamodels/library.py
  romancal/datamodels/tests/test_datamodels.py
  romancal/datamodels/tests/test_filetype.py
  romancal/datamodels/tests/test_library.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/pipeline/exposure_pipeline.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_tweakreg.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
  romancal/skymatch/skymatch_step.py
  romancal/skymatch/tests/test_skymatch.py
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing, pipeline, stpipe, dependencies, regression_testing, update webbpsf data

#1322 delete unreachable code
  romancal/outlier_detection/outlier_detection.py
Labels: no-changelog-entry-needed

#1326 Pin stcal for development
  CHANGES.rst
  pyproject.toml
Labels: infrastructure, dependencies

#1276 RCAL-830: update tweakreg to use source catalog
  CHANGES.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_tweakreg.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, pipeline, regression_testing

#1327 provide formatter to log_records
  romancal/stpipe/core.py
Labels: stpipe, no-changelog-entry-needed

#1311 use reusable workflow from WebbPSF repository to download and cache data
  .github/workflows/data.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
Labels: testing, no-changelog-entry-needed, automation

#1331 pin stpipe < 0.6.1 on 0.15.x release branch
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1319 use monkeypatch in patch_match tests to avoid global state change
  romancal/patch_match/test/test_patch_match.py
Labels: no-changelog-entry-needed, mosaic

#1333 update labeler to v5
  .github/labeler.yml
Labels: no-changelog-entry-needed

#1338 remove creation of stray fits file
  romancal/lib/psf.py
  romancal/lib/tests/test_psf.py
  romancal/source_catalog/source_catalog.py
  romancal/source_detection/source_detection_step.py
Labels: testing, no-changelog-entry-needed

#1340 remove stcal upper pin
  CHANGES.rst
  pyproject.toml
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
Labels: dependencies, no-changelog-entry-needed
