Repository spacetelescope/romancal, pull requests merged in 2024-04, with the labels that each got.

#1165 RCAL-805: Split cal_step into L2 & L3
  CHANGES.rst
  docs/roman/datamodels/datamodels_asdf.rst
  pyproject.toml
  romancal/resample/resample.py
Labels: documentation, dependencies

#1168 switch rad roman_datamodels back to dev
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1166 RCAL-787: allow DQ flags to be specified by the user in resample.
  CHANGES.rst
  docs/roman/resample/arguments.rst
  pyproject.toml
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
Labels: documentation, testing, dependencies

#1171 Update HLP regtest to use existing L1/L2 files
  romancal/regtest/test_hlp_pipeline.py
  romancal/scripts/make_regtestdata.sh
Labels: pipeline, regression_testing, regression-test, no-changelog-entry-needed

#1186 Remove link to non-existent STScI logo
  README.md
Labels: documentation, no-changelog-entry-needed

#1161 RCAL-775: initial commit of tessel matching code
  .pre-commit-config.yaml
  CHANGES.rst
  romancal/patch_match/__init__.py
  romancal/patch_match/patch_match.py
  romancal/patch_match/test/patches_subset.asdf
  romancal/patch_match/test/test_patch_match.py
Labels: enhancement

#1194 update calibration_software_version when a step is run
  CHANGES.rst
  romancal/regtest/conftest.py
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe, regression_testing

#1199 rcal-818 Add preview images tp hlp regtest
  CHANGES.rst
  romancal/regtest/test_hlp_pipeline.py
Labels: pipeline, regression_testing

#1201 Fix finalize
  CHANGES.rst
  romancal/stpipe/core.py
  romancal/stpipe/tests/test_core.py
Labels: testing, stpipe

#1200 Fix unit typo in docs
  docs/roman/flux/main.rst
Labels: documentation, no-changelog-entry-needed

#1182 RCAL-799: Populate the Level 3 wcsinfo
  CHANGES.rst
  romancal/assign_wcs/utils.py
  romancal/lib/tests/helpers.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing, assign_wcs, resample
