Repository spacetelescope/romancal, pull requests merged in 2024-03, with the labels that each got.

#1121 copy reference pixels during dqinit
  CHANGES.rst
  romancal/dq_init/dq_init_step.py
Labels: dq_init

#1124 Improve documentation
  docs/conf.py
  docs/roman/data_products/file_naming.rst
  docs/roman/data_products/product_types.rst
  docs/roman/data_products/stages.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/pipeline/highlevel_pipeline.rst
  docs/roman/pipeline/main.rst
  docs/roman/pipeline_naming_conventions.rst
  docs/roman/pipeline_ref_files.rst
  docs/roman/pipeline_run.rst
  docs/roman/pipeline_steps.rst
Labels: documentation, pipeline, no-changelog-entry-needed

#1089 RCAL-698: fix TweakReg to allow for Roman datamodels as input
  CHANGES.rst
  docs/roman/tweakreg/tweakreg_examples.rst
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, Photom, testing, Saturation

#1127 Fix DMS requirement number
  romancal/regtest/test_wfi_dq_init.py
Labels: dq_init, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1126 Update units on science data products.
  docs/roman/data_products/science_products.rst
Labels: documentation, no-changelog-entry-needed

#1128 RCAL-776: Change image units.
  CHANGES.rst
  docs/roman/data_products/product_types.rst
  pyproject.toml
  romancal/flatfield/flat_field.py
  romancal/flatfield/tests/test_flatfield.py
  romancal/lib/tests/test_psf.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
  romancal/resample/tests/test_resample.py
Labels: documentation, ramp_fitting, testing, dependencies, flatfield

#1131 Rad-155
  CHANGES.rst
  romancal/outlier_detection/outlier_detection.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing, resample, outlier_detection

#1125 Improve PSF fitting
  CHANGES.rst
  romancal/lib/psf.py
  romancal/source_detection/source_detection_step.py
Labels: source_detection

#1088 Use dark slope in ramp fitting
  CHANGES.rst
  docs/roman/ramp_fitting/description.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
Labels: documentation, RCAL, ramp_fitting, testing

#1120 RCAL-751 Create FluxStep to apply the flux correction to Level 2 data.
  CHANGES.rst
  docs/roman/flux/arguments.rst
  docs/roman/flux/flux_step.rst
  docs/roman/flux/index.rst
  docs/roman/flux/main.rst
  docs/roman/package_index.rst
  docs/roman/pipeline_steps.rst
  romancal/flux/__init__.py
  romancal/flux/flux_step.py
  romancal/flux/tests/test_flux_step.py
  romancal/lib/suffix.py
  romancal/step.py
  romancal/stpipe/integration.py
Labels: documentation, testing, pipeline, stpipe

#1140 fix regtest teardown for fixture updates
  romancal/regtest/conftest.py
Labels: regression_testing, no-changelog-entry-needed

#1142 Clarify how to get V2/V3_REF
  docs/roman/assign_wcs/main.rst
Labels: documentation, assign_wcs, no-changelog-entry-needed

#1084 Consolidate regression tests into fewer files.
  CHANGES.rst
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_wfi_16resultants.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_saturation.py
  romancal/scripts/make_regtestdata.sh
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
Labels: Photom, ramp_fitting, testing, Saturation, dq_init, regression_testing, Wide Field Instrument (WFI)

#1092 RCAL-726: allow ModelContainer as input to outlier detection step.
  CHANGES.rst
  romancal/outlier_detection/outlier_detection.py
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/resample/resample.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing

#1145 remove unused test code
  romancal/regtest/conftest.py
  romancal/regtest/sdp_pools_source.py
  romancal/tests/base_classes.py
Labels: testing, regression_testing, no-changelog-entry-needed

#1144 [SCSB-145] require Python 3.10
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  README.md
  docs/roman/pipeline_installation.rst
  pyproject.toml
Labels: documentation, testing, pipeline, dependencies, no-changelog-entry-needed, automation

#1148 fix n_diffs in compare_asdf
  romancal/regtest/regtestdata.py
  romancal/regtest/test_regtestdata.py
Labels: regression_testing, no-changelog-entry-needed

#1151 allow DQInitStep to pass through non-rampmodel keys
  CHANGES.rst
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
Labels: testing, dq_init

#1143 Rcal-783 Update the high level pipeline for B14
  CHANGES.rst
  romancal/pipeline/highlevel_pipeline.py
  romancal/regtest/test_hlp_pipeline.py
Labels: pipeline, regression_testing, HLPP
