Repository spacetelescope/romancal, pull requests merged in 2024-06, with the labels that each got.

#1262 rcal-846 Add mosaic info to the science products RTD page
  CHANGES.rst
  docs/roman/associations/overview.rst
  docs/roman/data_products/science_products.rst
  docs/roman/pipeline/main.rst
Labels: documentation, pipeline, associations

#1265 add `codecov_token` secret to CI workflow
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
Labels: testing, no-changelog-entry-needed, automation

#1266 rcal-850 Addition of catalog step to mosaic pipeline
  CHANGES.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
Labels: documentation, pipeline, regression_testing, mosaic

#1243 RCAL-828: add PSF bits to source catalog.
  CHANGES.rst
  docs/roman/source_catalog/arguments.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
  docs/roman/source_catalog/psf.rst
  docs/roman/source_detection/index.rst
  romancal/lib/psf.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, testing

#1269 Fix comparison operator.
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing, no-changelog-entry-needed

#1271 Rcal 854 Tweakreg step listed as skipped when run & refactor exposure pipeline
  CHANGES.rst
  docs/roman/pipeline/exposure_pipeline.rst
  romancal/pipeline/exposure_pipeline.py
Labels: documentation, ELPP, pipeline

#1275 pin numpy <2
  CHANGES.rst
  pyproject.toml
Labels: dependencies

#1267 replace deprecated stpipe configobj with astropy
  romancal/resample/resample_step.py
Labels: no-changelog-entry-needed

#1286 Do not set conda version in Jenkinsfile(s)
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation
