Repository spacetelescope/romancal, pull requests merged in 2024-09, with the labels that each got.

#1375 use `towncrier` to handle changelog entries
  .github/pull_request_template.md
  .github/workflows/changelog.yml
  .readthedocs.yaml
  CHANGES.rst
  changes/.gitkeep
  changes/1375.docs.rst
  changes/1394.mosaic_pipeline.rst
  docs/index.rst
  docs/roman/changes.rst
  docs/rtd_environment.yaml
  pyproject.toml
Labels: documentation, pipeline, dependencies, automation

#1383 RCAL-864: fix numpy 2.0 issues with bitflags in resample
  changes/1383.resample.rst
  romancal/resample/resample_utils.py
Labels: bug, resample

#1398 drop support for ols ramp fitting
  changes/1398.ramp_fitting.rst
  docs/roman/ramp_fitting/arguments.rst
  docs/roman/ramp_fitting/description.rst
  docs/roman/ramp_fitting/description_ols.rst
  docs/roman/ramp_fitting/index.rst
  docs/roman/ramp_fitting/reference_files.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_ols.py
Labels: documentation, ramp_fitting, testing

#1363 TST: Use photutils nightly wheel
  requirements-dev-thirdparty.txt
Labels: dependencies, no-changelog-entry-needed

#1399 [SCSB-174] move DMS requirement <-> test correlations from `@metrics_logger` decorators to `romancal/tests/dms_requirement_tests.json`
  changes/1399.general.rst
  pyproject.toml
  requirements-dev-st.txt
  romancal/regtest/test_catalog.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_resample.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_16resultants.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_pipeline.py
  romancal/tests/dms_requirement_tests.json
  romancal/tests/test_dms_requirements.py
Labels: Photom, ramp_fitting, testing, pipeline, dq_init, dependencies, regression_testing, Wide Field Instrument (WFI)

#1409 unpin pytest
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1412 add CI check that CHANGES.rst is not modified
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed, automation

#1411 Rcal 910 Add target option to the asn_from_list command
  changes/1411.associations.rst
  docs/roman/associations/asn_from_list.rst
  romancal/associations/asn_from_list.py
  romancal/associations/association.py
  romancal/associations/lib/asn_schema_jw_level3.json
  romancal/associations/lib/dms_base.py
  romancal/associations/lib/rules_elpp_base.py
  romancal/associations/tests/test_asn_from_list.py
Labels: documentation, testing, associations

#1419 remove default values from docs
  changes/1419.docs.rst
  docs/roman/datamodels/models.rst
Labels: documentation

#1422 [CI] rename changelog check job to be more explicit on its purpose
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed, automation

#1336 update pull request checklist
  .github/pull_request_template.md
Labels: no-changelog-entry-needed, automation

#1373 RCAL-895: allow updating source catalog with tweaked WCS when running ELP
  changes/1373.general.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, pipeline, dependencies

#1424 set rad and roman_datamodels to dev
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed
