Repository spacetelescope/romancal, pull requests merged in 2025-03, with the labels that each got.

#1646 Fix 1/2 pixel s_region error
  changes/1646.assign_wcs.rst
  changes/1646.resample.rst
  changes/1646.tweakreg.rst
  romancal/assign_wcs/utils.py
  romancal/resample/l3_wcs.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: testing, assign_wcs

#1644 change default fillval to nan
  changes/1644.outlier_detection.rst
  changes/1644.resample.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/outlier_detection/outlier_detection.rst
  docs/roman/resample/arguments.rst
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/utils.py
  romancal/resample/resample_step.py
Labels: documentation

#1652 rcal-1020 Update HLP products
  changes/1652.docs.rst
  docs/roman/data_products/product_types.rst
Labels: documentation

#1642 RCAL-1016 move skycell wcs reading into resample
  changes/1642.mosaic_pipeline.rst
  changes/1642.outlier_detection.rst
  changes/1642.resample.rst
  docs/roman/outlier_detection/arguments.rst
  docs/roman/pipeline/mosaic_pipeline.rst
  docs/roman/resample/arguments.rst
  romancal/outlier_detection/outlier_detection_step.py
  romancal/outlier_detection/utils.py
  romancal/patch_match/patch_match.py
  romancal/patch_match/tests/patches_subset.asdf
  romancal/patch_match/tests/test_patch_match.py
  romancal/patch_match/tests/test_skycell_wcs.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/regtest/test_resample.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
Labels: documentation, testing, pipeline, regression_testing

#1653 [DOCS] add version to central page
  docs/index.rst
Labels: documentation, no-changelog-entry-needed

#1529 DOC: Add ref to main title so downstream can use intersphinx
  docs/index.rst
Labels: documentation, no-changelog-entry-needed

#1657 Level3 asn scripts
  changes/1657.associations.rst
  docs/roman/associations/commands.rst
  docs/roman/associations/mk_patchlist.rst
  docs/roman/associations/mk_skycellasn.rst
  docs/roman/associations/skycell_asn.rst
  pyproject.toml
  romancal/associations/mk_patchlist.py
  romancal/associations/mk_skycell_asn_from_patchlist.py
  romancal/associations/skycell_asn.py
  romancal/associations/tests/test_mk_patchlist.py
  romancal/associations/tests/test_mk_skycell_asn_from_patchlist.py
  romancal/patch_match/patch_match.py
  romancal/regtest/test_match_skycell.py
Labels: documentation, testing, pipeline, dependencies, regression_testing, associations

#1664 add regtest resource tracking
  changes/1664.general.rst
  romancal/regtest/conftest.py
  romancal/regtest/resource_tracker.py
  romancal/regtest/test_catalog.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/regtest/test_multiband_catalog.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_resample.py
  romancal/regtest/test_resource_tracker.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_grism_16resultants.py
  romancal/regtest/test_wfi_grism_pipeline.py
  romancal/regtest/test_wfi_image_16resultants.py
  romancal/regtest/test_wfi_image_pipeline.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_saturation.py
Labels: Dark Current, Photom, ramp_fitting, Saturation, linearity, pipeline, dq_init, regression_testing, Wide Field Instrument (WFI)

#1666 Remove unused fixtures
  romancal/conftest.py
  romancal/regtest/conftest.py
Labels: regression_testing, no-changelog-entry-needed
