Repository spacetelescope/romancal, pull requests merged in 2025-04, with the labels that each got.

#1671 Change source catalog flux unit from uJy to nJy
  changes/1671.source_catalog.rst
  docs/roman/source_catalog/main.rst
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, testing, source_catalog

#1668 Update filenames
  docs/roman/source_catalog/main.rst
  romancal/regtest/test_catalog.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_linearity.py
  romancal/regtest/test_match_skycell.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/regtest/test_multiband_catalog.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_refpix.py
  romancal/regtest/test_skycell_generation.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_flat_field.py
  romancal/regtest/test_wfi_grism_16resultants.py
  romancal/regtest/test_wfi_grism_pipeline.py
  romancal/regtest/test_wfi_image_16resultants.py
  romancal/regtest/test_wfi_image_pipeline.py
  romancal/regtest/test_wfi_photom.py
  romancal/regtest/test_wfi_saturation.py
  romancal/scripts/make_regtestdata.sh
Labels: documentation, Dark Current, Photom, ramp_fitting, Saturation, linearity, pipeline, dq_init, regression_testing, regression-test, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1672 RCAL-1007: use float64 for total_exposure_time mean
  romancal/resample/resample.py
Labels: no-changelog-entry-needed

#1683 skip a doctest while schemas are updated
  docs/roman/datamodels/metadata.rst
Labels: documentation, no-changelog-entry-needed

#1684 fix test ids
  romancal/regtest/test_catalog.py
Labels: regression_testing, no-changelog-entry-needed

#1678 Remove use of maker_utils in steps
  changes/1678.multiband_catalog.rst
  changes/1678.ramp_fitting.rst
  changes/1678.skymatch.rst
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/skymatch/skymatch_step.py
Labels: ramp_fitting, stpipe

#1696 Implement placeholder is_extended
  romancal/source_catalog/source_catalog.py
Labels: no-changelog-entry-needed, source_catalog, multiband_catalog

#1690 Save source catalogs in parquet format
  changes/1690.source_catalog.rst
  pyproject.toml
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_multiband_catalog.py
  romancal/regtest/test_source_catalog.py
  romancal/regtest/test_tweakreg.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_catalog/save_utils.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, pipeline, dependencies, regression_testing

#1680 RCAL-1025: Write the WfiWcs models after ELP run
  changes/1680.exposure_pipeline.rst
  docs/roman/pipeline/exposure_pipeline.rst
  romancal/lib/save_wcs.py
  romancal/pipeline/exposure_pipeline.py
  romancal/regtest/test_wfi_image_pipeline.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, pipeline, dependencies, regression_testing, Wide Field Instrument (WFI)

#1698 Update romancal to accommodate L1 / L2 schema changes for B18
  changes/1698.general.rst
  romancal/dq_init/dq_init_step.py
  romancal/dq_init/tests/test_dq_init.py
  romancal/resample/meta_blender.py
  romancal/resample/tests/test_resample_step.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: testing, dq_init, dependencies

#1709 add `pyarrow` to explicit dependencies
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1712 Update docs to reflect correct definition for pixel scale ratio
  romancal/assign_wcs/utils.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
Labels: documentation, assign_wcs, no-changelog-entry-needed, resample

#1688 remove uses of MosaicModel.append_individual_meta
  changes/1688.resample.rst
  romancal/resample/meta_blender.py
  romancal/resample/tests/test_resample_step.py
Labels: testing

#1700 More source catalog updates and improvements
  changes/1700.source_catalog.rst
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/multiband_catalog/utils.py
  romancal/source_catalog/daofind.py
  romancal/source_catalog/psf.py
  romancal/source_catalog/segment.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing, source_catalog, multiband_catalog

#1663 Update resample to use `add_model_hook`
  changes/1663.resample.rst
  romancal/resample/exptime_resampler.py
  romancal/resample/resample.py
Labels: dependencies

#1713 Fix make_regtestdata.sh output directory, stop on errors, redirect to log and console
  romancal/scripts/make_regtestdata.sh
Labels: no-changelog-entry-needed

#1718 replace astropy isiterable with np.iterable
  romancal/assign_wcs/utils.py
Labels: assign_wcs, no-changelog-entry-needed

#1720 [SCSB-205] `project.license.file` -> `project.license-files`
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed
