Repository spacetelescope/romancal, pull requests merged in 2025-01, with the labels that each got.

#1584 Fix unit tests due to incoming changes in stcal
  romancal/resample/tests/test_resample.py
Labels: testing, unit_testing, no-changelog-entry-needed

#1567 Adjust crval in resample tests to get overlap with input
  romancal/resample/tests/test_resample.py
Labels: testing, no-changelog-entry-needed

#1587 Fix a bad rebase
  romancal/resample/tests/test_resample.py
Labels: bug, testing, no-changelog-entry-needed

#1474 RCAL-942: Remove Units from Reference File Datamodels
  changes/1474.general.rst
  pyproject.toml
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/photom/photom.py
  romancal/photom/tests/test_photom.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/regtest/test_wfi_photom.py
  romancal/saturation/saturation.py
  romancal/saturation/tests/test_saturation.py
Labels: Dark Current, Photom, ramp_fitting, jump, testing, Saturation, dependencies, regression_testing, Wide Field Instrument (WFI)

#1577 Update codeowners and remove unused files
  .github/CODEOWNERS
  CODEOWNERS.txt
  JenkinsfileRT
  JenkinsfileRT_dev
Labels: regression_testing, no-changelog-entry-needed, automation

#1583 rcal-969 Updates to add and use skycell coord info in asn header
  changes/1583.associations.rst
  docs/conf.py
  docs/roman/pipeline/graphics/mosaic4_regular_grid.png
  docs/roman/pipeline/graphics/mosaic_regular_grid.png
  docs/roman/pipeline/graphics/wfi_4sca_skycell.png
  docs/roman/pipeline/mosaic_pipeline.rst
  romancal/associations/skycell_asn.py
  romancal/pipeline/mosaic_pipeline.py
Labels: documentation, pipeline, associations, Wide Field Instrument (WFI), mosaic

#1578 Use PSF astrometry in tweakreg.
  changes/1578.tweakreg.rst
  docs/roman/tweakreg/README.rst
  romancal/regtest/test_tweakreg.py
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing, regression_testing

#1593 Fix minor issues with documentation and unused arguments, etc
  1542.mosaic_pipeline.rst
  changes/1593.exposure_pipeline.rst
  changes/1593.resample.rst
  changes/1593.saturation.rst
  docs/roman/package_index.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/references_general/references_general.rst
  docs/roman/resample/arguments.rst
  docs/roman/stpipe/config_asdf.rst
  docs/roman/stpipe/user_pipeline.rst
  romancal/pipeline/exposure_pipeline.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/tests/test_resample.py
Labels: documentation, testing, Saturation, pipeline, stpipe

#1585 RCAL-930 Roundtrip L3 wcsinfo especially when skycell specifications are used
  changes/1585.mosaic_pipeline.rst
  romancal/pipeline/mosaic_pipeline.py
  romancal/pipeline/tests/test_mosaic_pipeline.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/regtest/util.py
  romancal/resample/resample.py
  romancal/resample/tests/test_resample.py
Labels: testing, pipeline, regression_testing

#1592 RCAL-993 RCAL-992 - fix skycell asn schema, stop double json encoding skycell_wcs_info
  changes/1592.associations.rst
  romancal/associations/lib/asn_schema_jw_level3.json
  romancal/associations/skycell_asn.py
  romancal/pipeline/mosaic_pipeline.py
  romancal/regtest/test_skycell_generation.py
Labels: pipeline, regression_testing, associations
