Repository spacetelescope/romancal, pull requests merged in 2025-07, with the labels that each got.

#1814 PSF reference file implementation
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  README.md
  changes/1814.source_catalog.rst
  docs/conf.py
  docs/roman/references_general/psf_reffile.inc
  docs/roman/references_general/psf_reffile.rst
  docs/roman/references_general/psf_selection.inc
  docs/roman/references_general/references_general.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
  docs/roman/source_catalog/psf.rst
  pyproject.toml
  requirements-dev-st.txt
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/source_catalog/psf.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_psf.py
  romancal/source_catalog/tests/test_source_catalog.py
  romancal/stpipe/core.py
  romancal/tests/test_import.py
  tox.ini
Labels: documentation, testing, stpipe, dependencies, automation

#1825 Add multiband catalog tests with PSF fitting
  romancal/multiband_catalog/tests/test_multiband_catalog.py
Labels: testing, no-changelog-entry-needed, multiband_catalog

#1823 Skip retrieval of ePSF reference file if fit_psf=False
  changes/1823.source_catalog.rst
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
Labels: source_catalog, multiband_catalog

#1827 Add `dms_logger` fixture for logging `DMSXX` requirement log messages to stderr
  romancal/conftest.py
  romancal/regtest/test_multiband_catalog.py
  romancal/regtest/test_ramp_fit_likelihood.py
  romancal/regtest/test_ramp_fitting.py
  romancal/regtest/test_resample.py
  romancal/regtest/test_source_catalog.py
  romancal/regtest/test_tweakreg.py
  romancal/regtest/test_wfi_dq_init.py
  romancal/regtest/test_wfi_photom.py
Labels: Photom, ramp_fitting, dq_init, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1835 Prune some dead code
  changes/1835.tweakreg.rst
  docs/roman/tweakreg/astrometric_utils.rst
  docs/roman/tweakreg/index.rst
  romancal/assign_wcs/utils.py
  romancal/resample/l3_wcs.py
  romancal/tweakreg/astrometric_utils.py
  romancal/tweakreg/tests/test_astrometric_utils.py
Labels: documentation, testing, assign_wcs

#1828 Fix pixel_scale units in the ResampleStep docs
  changes/1828.resample.rst
  docs/roman/resample/arguments.rst
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
Labels: bug, documentation, resample

#1843 Improve wcsinfo accuracy.
  changes/1843.resample.rst
  romancal/regtest/util.py
  romancal/resample/l3_wcs.py
Labels: regression_testing

#1816 RCAL-1081: Initial implementation of Roman orientation modules
  changes/1816.orientation.rst
  docs/roman/orientation/engdb.rst
  docs/roman/orientation/index.rst
  docs/roman/orientation/set_telescope_pointing.rst
  docs/roman/package_index.rst
  pyproject.toml
  romancal/lib/engdb/__init__.py
  romancal/lib/engdb/engdb_edp.py
  romancal/lib/engdb/engdb_lib.py
  romancal/lib/engdb/engdb_mast.py
  romancal/lib/engdb/engdb_tools.py
  romancal/lib/engdb/tests/data/test_records_expected.ecsv
  romancal/lib/engdb/tests/test_engdb_edp.py
  romancal/lib/engdb/tests/test_engdb_mast.py
  romancal/lib/engdb/tests/test_engdb_tools.py
  romancal/orientation/__init__.py
  romancal/orientation/pointing_summary.py
  romancal/orientation/set_telescope_pointing.py
  romancal/orientation/tests/data/calc_deltas_truth.ecsv
  romancal/orientation/tests/data/test_from_models_mast.ecsv
  romancal/orientation/tests/data/test_over_time_mast.ecsv
  romancal/orientation/tests/data/transforms.asdf
  romancal/orientation/tests/data/wcs.asdf
  romancal/orientation/tests/test_pointing_summary.py
  romancal/orientation/tests/test_set_telescope_pointing.py
  romancal/orientation/tests/test_v1_calculate.py
  romancal/orientation/v1_calculate.py
  romancal/scripts/pointing_summary.py
  romancal/scripts/set_telescope_pointing.py
  romancal/scripts/tests/test_scripts.py
  romancal/scripts/v1_calculate.py
Labels: documentation, testing, dependencies

#1841 Ignore the meta.file_date field when doing a comparison of asdf files
  romancal/regtest/test_regtestdata.py
Labels: regression_testing, no-changelog-entry-needed

#1861 New skycell reffile
  changes/1861.skycell.rst
  romancal/associations/tests/helpers.py
  romancal/regtest/test_skycell.py
  romancal/regtest/test_skycell_generation.py
  romancal/skycell/skymap.py
  romancal/skycell/tests/data/L3_mosaic_asn.json
  romancal/skycell/tests/data/skymap_subset.asdf
  romancal/skycell/tests/skymap_subset.py
  romancal/skycell/tests/test_skycell.py
  romancal/skycell/tests/test_skycell_match.py
Labels: testing, regression_testing, associations
