Repository spacetelescope/romancal, pull requests merged in 2025-09, with the labels that each got.

#1852 Resolve issue from roman_datamodels change
  changes/1852.ramp_fitting.rst
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting, dependencies

#1955 remove LFS from ReadTheDocs build
  .readthedocs.yaml
  docs/_static/roman_logo_black_w200px.png
  docs/_static/roman_logo_white_w100px.png
  docs/images/r0000501001001001001_0001_wfi01_cal_thumb.png
  docs/roman/associations/graphics/generator_flow_concept.png
  docs/roman/associations/graphics/generator_list_processing.png
  docs/roman/associations/graphics/level3_rule_inheritance.png
  docs/roman/associations/graphics/overview.png
  docs/roman/associations/graphics/overview_classes.png
  docs/roman/associations/graphics/rule_sets.png
  docs/roman/associations/graphics/rule_to_association.png
  docs/roman/associations/graphics/workflow-generic.png
  docs/roman/associations/graphics/workflow-wfss.png
Labels: documentation, associations, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1892 Source Injection Code
  changes/1892.source_catalog.rst
  pyproject.toml
  romancal/skycell/tests/test_skycell_match.py
  romancal/source_catalog/injection.py
  romancal/source_catalog/tests/test_injection.py
Labels: testing, dependencies

#1973 set stcal dep to main
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1938 Follow on for the removal of tagged scalars from RAD
  docs/roman/datamodels/models.rst
Labels: documentation, ramp_fitting, dependencies, no-changelog-entry-needed

#1915 RCAL-1137: Prevent TweakRegStep from crashing when source catalog is missing required columns.
  changes/1915.tweakreg.rst
  romancal/tweakreg/tests/test_tweakreg.py
  romancal/tweakreg/tweakreg_step.py
Labels: documentation, testing, pipeline, stpipe, dependencies
