Repository spacetelescope/romancal, pull requests merged in 2025-06, with the labels that each got.

#1785 strip read tags when ramp step constructs the output image model
  changes/1785.ramp_fitting.rst
  romancal/ramp_fitting/ramp_fit_step.py
Labels: ramp_fitting

#1797 use `stcal.alignment.util.wcs_bbox_from_shape`
  changes/1797.assign_wcs.rst
  romancal/assign_wcs/assign_wcs_step.py
  romancal/assign_wcs/tests/test_wcs.py
  romancal/assign_wcs/utils.py
  romancal/skycell/match.py
Labels: testing, assign_wcs

#1767 Handle invalid input to the SourceCatalogStep
  changes/1767.source_catalog.rst
  romancal/source_catalog/save_utils.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing, source_catalog

#1788 [scripts] remove `typer` dependency from `roman_static_preview` by using builtin `argparse` instead, and reorder CLI arguments
  changes/1788.scripts.rst
  docs/roman/pipeline_static_preview.rst
  romancal/scripts/static_preview.py
Labels: documentation, DO NOT MERGE, pipeline

#1805 remove description of non-working logging configuration
  changes/1805.docs.rst
  docs/roman/stpipe/user_logging.rst
Labels: documentation, stpipe

#1804 remove use of stpipe log delegator
  romancal/regtest/test_ramp_fitting.py
Labels: ramp_fitting, regression_testing, no-changelog-entry-needed

#1772 [RCAL-1084] include distortion when matching sky cells to image footprint
  changes/1772.skycell.rst
  romancal/skycell/match.py
  romancal/skycell/plot.py
  romancal/skycell/skymap.py
  romancal/skycell/tests/test_skycell_match.py
Labels: testing, assign_wcs

#1812 Rcal 1002 Add Likelihood algorithm to ramp fitting
  changes/1812.ramp_fitting.rst
  docs/roman/ramp_fitting/index.rst
  docs/roman/ramp_fitting/likelihood-description.rst
  docs/roman/ramp_fitting/ols-description.rst
  docs/roman/ramp_fitting/reference_files.rst
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_likelihood.py
  romancal/regtest/test_ramp_fit_likelihood.py
Labels: documentation, ramp_fitting, testing, regression_testing
