Repository spacetelescope/romancal, pull requests merged in 2025-05, with the labels that each got.

#1728 RCAL-1031: allow flat regtests to be okified once
  romancal/regtest/test_wfi_flat_field.py
  romancal/scripts/make_regtestdata.sh
  romancal/tests/dms_requirement_tests.json
Labels: testing, regression_testing, no-changelog-entry-needed, Wide Field Instrument (WFI)

#1724 Fix build warnings about package configuration
  pyproject.toml
  romancal/associations/lib/tests/__init__.py
  romancal/associations/tests/__init__.py
  romancal/dq_init/tests/__init__.py
  romancal/flux/tests/__init__.py
  romancal/linearity/tests/__init__.py
  romancal/patch_match/tests/__init__.py
  romancal/scripts/tests/__init__.py
  romancal/skymatch/tests/__init__.py
Labels: infrastructure, testing, linearity, dq_init, dependencies, associations, no-changelog-entry-needed

#1723 use module specific loggers
  changes/1723.general.rst
  docs/roman/stpipe/devel_logging.rst
  romancal/lib/save_wcs.py
  romancal/pipeline/exposure_pipeline.py
  romancal/pipeline/mosaic_pipeline.py
Labels: documentation, pipeline, stpipe

#1731 Update source catalog column units and add placeholder columns
  changes/1731.source_catalog.rst
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/source_catalog/aperture.py
  romancal/source_catalog/psf.py
  romancal/source_catalog/segment.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing, source_catalog

#1744 add __init__.py to directory
  romancal/associations/tests/data/__init__.py
Labels: testing, associations, no-changelog-entry-needed

#1749 Require asdf 4.1.0+
  changes/1749.general.rst
  pyproject.toml
Labels: dependencies

#1747 validate before returning result for `SourceCatalogStep`
  romancal/source_catalog/source_catalog_step.py
Labels: no-changelog-entry-needed

#1738 Update source catalog docs
  changes/1738.source_catalog.rst
  docs/roman/source_catalog/arguments.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/main.rst
  docs/roman/source_catalog/psf.rst
Labels: documentation, source_catalog, multiband_catalog

#1750 set stpipe dep to released version
  pyproject.toml
Labels: dependencies, no-changelog-entry-needed

#1756 Remove unused numpy environments in tox config
  tox.ini
Labels: testing, no-changelog-entry-needed

#1694 [RCAL-1018] `patch_match` -> `skycell.match`
  .github/pull_request_template.md
  changes/1694.skycell.rst
  docs/roman/associations/asn_from_list.rst
  docs/roman/associations/commands.rst
  docs/roman/associations/mk_skycell_asn_from_skycell_list.rst
  docs/roman/associations/mk_skycell_list.rst
  docs/roman/associations/skycell_asn.rst
  pyproject.toml
  romancal/associations/mk_skycell_asn_from_skycell_list.py
  romancal/associations/mk_skycell_list.py
  romancal/associations/skycell_asn.py
  romancal/associations/tests/test_asn_from_list.py
  romancal/associations/tests/test_mk_skycell_asn_from_skycell_list.py
  romancal/associations/tests/test_mk_skycell_list.py
  romancal/lib/wcsinfo_to_wcs.py
  romancal/patch_match/patch_match.py
  romancal/patch_match/patch_plot.py
  romancal/patch_match/tests/patches_subset.asdf
  romancal/patch_match/tests/test_patch_match.py
  romancal/patch_match/tests/test_skycell_wcs.py
  romancal/regtest/test_match_skycell.py
  romancal/regtest/test_mos_pipeline.py
  romancal/regtest/test_mos_skycell_pipeline.py
  romancal/regtest/test_multiband_catalog.py
  romancal/regtest/test_skycell.py
  romancal/regtest/test_skycell_generation.py
  romancal/regtest/test_source_catalog.py
  romancal/resample/resample.py
  romancal/scripts/make_regtestdata.sh
  romancal/scripts/patch_name_to_skycell_name.py
  romancal/skycell/__init__.py
  romancal/skycell/match.py
  romancal/skycell/plot.py
  romancal/skycell/skymap.py
  romancal/skycell/tests/data/L3_mosaic_asn.json
  romancal/skycell/tests/data/L3_mosaic_wcs_info_asn.json
  romancal/skycell/tests/data/L3_regtest_asn.json
  romancal/skycell/tests/data/L3_skycell_mbcat_asn.json
  romancal/skycell/tests/data/skymap_subset.asdf
  romancal/skycell/tests/skymap_subset.py
  romancal/skycell/tests/test_skycell.py
  romancal/skycell/tests/test_skycell_match.py
  romancal/source_catalog/source_catalog_step.py
Labels: documentation, testing, pipeline, dependencies, regression_testing, associations, automation

#1755 metadata for `0.19.0`
  CHANGES.rst
  README.md
  changes/1465.skymatch.rst
  changes/1634.resample.rst
  changes/1635.general
  changes/1640.general.rst
  changes/1642.mosaic_pipeline.rst
  changes/1642.outlier_detection.rst
  changes/1642.resample.rst
  changes/1644.outlier_detection.rst
  changes/1644.resample.rst
  changes/1646.assign_wcs.rst
  changes/1646.resample.rst
  changes/1646.tweakreg.rst
  changes/1652.docs.rst
  changes/1657.associations.rst
  changes/1661.flux.rst
  changes/1663.resample.rst
  changes/1664.general.rst
  changes/1670.general.rst
  changes/1671.source_catalog.rst
  changes/1675.source_catalog.rst
  changes/1678.multiband_catalog.rst
  changes/1678.ramp_fitting.rst
  changes/1678.skymatch.rst
  changes/1680.exposure_pipeline.rst
  changes/1686.source_catalog.rst
  changes/1688.resample.rst
  changes/1690.source_catalog.rst
  changes/1694.skycell.rst
  changes/1698.general.rst
  changes/1700.source_catalog.rst
  changes/1701.source_catalog.rst
  changes/1715.outlier_detection.rst
  changes/1723.general.rst
  changes/1726.scripts.rst
  changes/1731.source_catalog.rst
  changes/1738.source_catalog.rst
  changes/1749.general.rst
  changes/1753.associations.rst
  changes/1757.source_catalog.rst
  pyproject.toml
Labels: documentation, ramp_fitting, pipeline, assign_wcs, dependencies, associations, no-changelog-entry-needed, allow-manual-changelog-edit

#1764 [RCAL-1009] remove unused function `wcs_from_footprints`
  changes/1764.assign_wcs.rst
  romancal/assign_wcs/utils.py
Labels: assign_wcs
