Repository spacetelescope/romancal, pull requests merged in 2025-08, with the labels that each got.

#1874 RCAL-1121: Fix missing/mistaken meta assignments
  changes/1874.orientation.rst
  romancal/orientation/set_telescope_pointing.py
  romancal/orientation/tests/test_set_telescope_pointing.py
Labels: testing

#1881 fix roll calculation
  romancal/orientation/set_telescope_pointing.py
Labels: no-changelog-entry-needed

#1862 Rcal-1108 Add decorators for SOC requirements for the astrometry and ePSF regression tests
  changes/1862.source_catalog.rst
  romancal/regtest/test_psf_library.py
  romancal/regtest/test_tweakreg.py
  romancal/tests/dms_requirement_tests.json
Labels: testing, regression_testing, astrometry, PSF

#1889 Add default ra/dec.
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: testing, no-changelog-entry-needed

#1829 Rcal 1095 Refactor Dark current subtraction step
  changes/1829.dark_current.rst
  docs/roman/dark_current/description.rst
  docs/roman/pipeline/exposure_pipeline.rst
  docs/roman/references_general/dark_reffile.inc
  romancal/dark_current/dark_current_step.py
  romancal/dark_current/tests/test_dark.py
  romancal/pipeline/exposure_pipeline.py
  romancal/ramp_fitting/ramp_fit_step.py
  romancal/ramp_fitting/tests/test_ramp_fit_cas22.py
  romancal/ramp_fitting/tests/test_ramp_fit_likelihood.py
  romancal/regtest/test_dark_current.py
  romancal/regtest/test_elp_tvac.py
  romancal/regtest/test_ramp_fit_likelihood.py
  romancal/regtest/test_ramp_fitting.py
  romancal/scripts/make_regtestdata.sh
Labels: documentation, Dark Current, Photom, ramp_fitting, testing, Saturation, linearity, pipeline, stpipe, assign_wcs, dq_init, dependencies, regression_testing, associations, flatfield

#1911 RCAL-1118 Record aperture corrections in catalog headers
  changes/1911.source_catalog.rst
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/source_catalog/aperture.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
  romancal/source_catalog/utils.py
Labels: testing
