Repository spacetelescope/romancal, pull requests merged in 2025-02, with the labels that each got.

#1574 Use mask when making segmentation image.
  changes/1574.source_catalog.rst
  docs/roman/source_catalog/index.rst
  docs/roman/source_catalog/psf.rst
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/source_catalog/psf.py
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_psf.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, testing, source_catalog

#1611 Forced source catalog
  changes/1611.source_catalog.rst
  docs/roman/source_catalog/main.rst
  pyproject.toml
  romancal/multiband_catalog/multiband_catalog_step.py
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/multiband_catalog/utils.py
  romancal/regtest/test_catalog.py
  romancal/regtest/test_multiband_catalog.py
  romancal/scripts/make_regtestdata.sh
  romancal/source_catalog/source_catalog.py
  romancal/source_catalog/source_catalog_step.py
  romancal/source_catalog/tests/test_source_catalog.py
Labels: documentation, testing, dependencies, regression_testing, source_catalog

#1596 RCAL-965 Invoke converter from_tvac_raw to enable processing of TVAC/FPS data
  changes/1596.dq_init.rst
  docs/roman/dq_init/description.rst
  pyproject.toml
  romancal/dq_init/dq_init_step.py
  romancal/regtest/test_elp_tvac.py
Labels: documentation, ramp_fitting, testing, pipeline, dq_init, dependencies, regression_testing, associations, update webbpsf data

#1623 release metadata for `0.18.0` (`25Q2_B17`)
  CHANGES.rst
  README.md
  changes/1354.assign_wcs.rst
  changes/1474.general.rst
  changes/1476.docs.rst
  changes/1499.stpipe.rst
  changes/1504.docs.rst
  changes/1513.general.rst
  changes/1525.exposure_pipeline.0.rst
  changes/1525.exposure_pipeline.1.rst
  changes/1527.general.rst
  changes/1528.general.rst
  changes/1533.source_catalog.rst
  changes/1533.source_detection.rst
  changes/1534.general.rst
  changes/1538.associations.rst
  changes/1538.scripts.rst
  changes/1542.mosaic_pipeline.rst
  changes/1543.general.rst
  changes/1545.mosaic_pipeline.rst
  changes/1571.saturation.rst
  changes/1574.source_catalog.rst
  changes/1578.tweakreg.rst
  changes/1583.associations.rst
  changes/1585.mosaic_pipeline.rst
  changes/1592.associations.rst
  changes/1593.exposure_pipeline.rst
  changes/1593.resample.rst
  changes/1593.saturation.rst
  changes/1596.dq_init.rst
  changes/1611.source_catalog.rst
  changes/1612.assign_wcs.rst
  changes/1613.scripts.rst
  pyproject.toml
  requirements-sdp.txt
Labels: documentation, Saturation, pipeline, stpipe, assign_wcs, dq_init, dependencies, associations

#1624 remove reference to `plwishmaster`
  README.md
Labels: documentation, no-changelog-entry-needed

#1628 Disable tweakreg and source_catalog for tvac tests
  romancal/regtest/test_elp_tvac.py
Labels: dependencies, regression_testing, no-changelog-entry-needed

#1632 remove webbpsf docs link
  docs/conf.py
  docs/roman/source_catalog/psf.rst
Labels: documentation, no-changelog-entry-needed

#1636 download stpsf cache along with webbpsf
  .github/workflows/download_data.yml
Labels: no-changelog-entry-needed, automation

#1638 fix data workflow to use stpsf
  .github/workflows/data.yml
Labels: no-changelog-entry-needed, automation

#1635 RCAL-1021 Replace WebbPSF package with StPSF
  .github/workflows/download_data.yml
  .github/workflows/retrieve_cache.yml
  .github/workflows/roman_ci.yml
  .github/workflows/roman_ci_cron.yaml
  .github/workflows/tests_devdeps.yml
  README.md
  changes/1635.general
  docs/conf.py
  docs/roman/source_catalog/main.rst
  docs/roman/source_catalog/psf.rst
  pyproject.toml
  pytest_romancal/stpsf_plugin.py
  pytest_romancal/webbpsf_plugin.py
  requirements-dev-st.txt
  romancal/multiband_catalog/tests/test_multiband_catalog.py
  romancal/source_catalog/psf.py
  romancal/source_catalog/tests/test_psf.py
  romancal/source_catalog/tests/test_source_catalog.py
  tox.ini
Labels: documentation, testing, dependencies, automation

#1640 test with latest supported Python version
  .github/workflows/roman_ci.yml
  .github/workflows/tests_devdeps.yml
  changes/1640.general.rst
Labels: testing, dependencies, automation

#1634 RCAL-1014: Update resample to use stcal
  changes/1634.resample.rst
  docs/0.5.0
  docs/conf.py
  docs/roman/resample/index.rst
  docs/roman/resample/main.rst
  docs/roman/resample/resample.rst
  romancal/conftest.py
  romancal/outlier_detection/tests/test_outlier_detection.py
  romancal/outlier_detection/utils.py
  romancal/resample/exptime_resampler.py
  romancal/resample/gwcs_drizzle.py
  romancal/resample/l3_wcs.py
  romancal/resample/meta_blender.py
  romancal/resample/resample.py
  romancal/resample/resample_step.py
  romancal/resample/resample_utils.py
  romancal/resample/tests/test_gwcs_drizzle.py
  romancal/resample/tests/test_resample.py
  romancal/resample/tests/test_resample_step.py
Labels: documentation, testing
